SSRS Reports/.vs/SSRS Reports/FileContentIndex/00568d97-085f-4d35-82e3-ebd030a4117c.vsidx
SSRS Reports/.vs/SSRS Reports/FileContentIndex/e6019f5b-2c25-49c8-842d-70525b55378c.vsidx
SSRS Reports/.vs/SSRS Reports/FileContentIndex/64f11baf-170f-4254-9d26-51dc44e79626.vsidx
SSRS Reports/.vs/SSRS Reports/FileContentIndex/1782fb45-4fa0-4bd2-8f9f-8c202c2542ef.vsidx
SSRS Reports/.vs/SSRS Reports/FileContentIndex/10af7fda-f10a-4a04-8687-9fa6c4fc1ed5.vsidx
*.vsidx
SSRS Reports/End of Day Data/bin/Debug/Agent Scorecard SME dataset.rdl
SSRS Reports/End of Day Data/bin/Debug/Agent Scorecard SME email.rdl
SSRS Reports/End of Day Data/bin/Debug/AnalysisDetail.rdl
SSRS Reports/End of Day Data/bin/Debug/Booked Business.rdl
SSRS Reports/End of Day Data/bin/Debug/build.obj
SSRS Reports/End of Day Data/bin/Debug/EB KPI Scorecard.rdl
SSRS Reports/End of Day Data/bin/Debug/EOD Live Book.rdl
SSRS Reports/End of Day Data/bin/Debug/MI_live.rds
SSRS Reports/End of Day Data/bin/Debug/MI_test.rds
SSRS Reports/End of Day Data/bin/Debug/NB KPI Scorecard.rdl
SSRS Reports/End of Day Data/bin/Debug/Raw Data.rdl
SSRS Reports/End of Day Data/bin/Debug/Tenure.rdl
SSRS Reports/End of Day Data/bin/Debug/XBroker EB KPI Scorecard.rdl
SSRS Reports/End of Day Data/bin/Debug/XBroker NB KPI Scorecard.rdl
/SSRS Reports/Reports/bin/Debug
