

--Remove deleted forms    

        
GO    

--Remove deleted controls

    
GO

--Add new forms
    
INSERT INTO Nav_Forms_MLIAB_NEW( Nav_MLIAB_NEW_ID, Nav_MLIAB_NEW, MoveAble, Enabled_044, Sequence_044, Nav_MLIAB_NEW_044, Nav_Tbl_Tag_044) VALUES ( '433BINH4', 'TES_Screen_Builder\\MLIAB\frmAccIncom.tst', 1, 1, 13, 'Personal Accident and Income Protection', NULL)
                          
INSERT INTO Nav_Fields_MLIAB_NEW( Nav_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '433BINH5', '433BINH4', 'txtPeopleNum', 1, 'PeopleNum', NULL, 0, NULL, NULL, 't', NULL)
					
INSERT INTO Nav_Fields_MLIAB_NEW( Nav_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '433BINI5', '433BINH4', 'cboIncomeCover', 1, 'Income Cover', NULL, 0, NULL, NULL, 't', NULL)
			
INSERT INTO Nav_Fields_MLIAB_NEW( Nav_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '433BINI6', '433BINH4', 'cmdRemoveButton', 1, 'RemoveButton', NULL, 0, NULL, NULL, 'b', NULL)
			
			
			
			
			
      
INSERT INTO Nav_Forms_MLIAB_NEW( Nav_MLIAB_NEW_ID, Nav_MLIAB_NEW, MoveAble, Enabled_044, Sequence_044, Nav_MLIAB_NEW_044, Nav_Tbl_Tag_044) VALUES ( '433BINI2', 'TES_Screen_Builder\\MLIAB\frmProfIndm.tst', 1, 1, 14, 'Professional Indemnity', NULL)
                          
      
			
      
INSERT INTO Nav_Forms_MLIAB_ADD( Nav_MLIAB_ADD_ID, Nav_MLIAB_ADD, MoveAble, Enabled_044, Sequence_044, Nav_MLIAB_ADD_044, Nav_Tbl_Tag_044) VALUES ( '433BINJ5', 'TES_Screen_Builder\\MLIAB\frmAccIncom.tst', 1, 1, 13, 'Personal Accident and Income Protection', NULL)
                          
INSERT INTO Nav_Fields_MLIAB_ADD( Nav_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '433BINJ6', '433BINJ5', 'txtPeopleNum', 1, 'PeopleNum', NULL, 0, NULL, NULL, 't', NULL)
					
INSERT INTO Nav_Fields_MLIAB_ADD( Nav_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '433BINJ7', '433BINJ5', 'cboIncomeCover', 1, 'Income Cover', NULL, 0, NULL, NULL, 't', NULL)
			
INSERT INTO Nav_Fields_MLIAB_ADD( Nav_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '433BINJ8', '433BINJ5', 'cmdRemoveButton', 1, 'RemoveButton', NULL, 0, NULL, NULL, 'b', NULL)
			
			
			
			
			
      
INSERT INTO Nav_Forms_MLIAB_ADD( Nav_MLIAB_ADD_ID, Nav_MLIAB_ADD, MoveAble, Enabled_044, Sequence_044, Nav_MLIAB_ADD_044, Nav_Tbl_Tag_044) VALUES ( '433BINK3', 'TES_Screen_Builder\\MLIAB\frmProfIndm.tst', 1, 1, 14, 'Professional Indemnity', NULL)
                          
      
			
      
INSERT INTO Nav_Forms_MLIAB_IND( Nav_MLIAB_IND_ID, Nav_MLIAB_IND, MoveAble, Enabled_044, Sequence_044, Nav_MLIAB_IND_044, Nav_Tbl_Tag_044) VALUES ( '433BINK7', 'TES_Screen_Builder\\MLIAB\frmAccIncom.tst', 1, 1, 13, 'Personal Accident and Income Protection', NULL)
          
INSERT INTO Nav_Fields_MLIAB_IND( Nav_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '433BINK8', '433BINK7', 'txtPeopleNum', 1, 'PeopleNum', NULL, 0, NULL, NULL, 't', NULL)
					
INSERT INTO Nav_Fields_MLIAB_IND( Nav_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '433BINK9', '433BINK7', 'cboIncomeCover', 1, 'Income Cover', NULL, 0, NULL, NULL, 't', NULL)
			
INSERT INTO Nav_Fields_MLIAB_IND( Nav_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '433BINK0', '433BINK7', 'cmdRemoveButton', 1, 'RemoveButton', NULL, 0, NULL, NULL, 'b', NULL)
			
			
			
			
			
      
INSERT INTO Nav_Forms_MLIAB_IND( Nav_MLIAB_IND_ID, Nav_MLIAB_IND, MoveAble, Enabled_044, Sequence_044, Nav_MLIAB_IND_044, Nav_Tbl_Tag_044) VALUES ( '433BINL5', 'TES_Screen_Builder\\MLIAB\frmPAPeople.tst', 1, 1, 9, 'Personal Accident and Income People', NULL)
          
			
      
			
					
					
INSERT INTO Nav_Forms_MLIAB_IND( Nav_MLIAB_IND_ID, Nav_MLIAB_IND, MoveAble, Enabled_044, Sequence_044, Nav_MLIAB_IND_044, Nav_Tbl_Tag_044) VALUES ( '433BINM0', 'TES_Screen_Builder\\MLIAB\frmProfIndm.tst', 1, 1, 14, 'Professional Indemnity', NULL)
          
      
			
      
GO

DECLARE @TABLENAME VARCHAR(50)
DECLARE @TABLESUFFIX VARCHAR(50)
DECLARE @SQL VARCHAR(8000)

DECLARE PERMISSION_CURSOR CURSOR FOR SELECT NAME FROM SYSOBJECTS WHERE NAME LIKE 'NAV_FORMS_MLIAB%'

OPEN PERMISSION_CURSOR

FETCH NEXT FROM PERMISSION_CURSOR INTO @TABLENAME

WHILE @@FETCH_STATUS = 0
BEGIN
SELECT @TABLESUFFIX = SUBSTRING(@TABLENAME, LEN('NAV_FORMS_') + 1, LEN(@TABLENAME) - LEN('NAV_FORMS_'))
SELECT @SQL = 'DELETE NAV_PERM_' + @TABLESUFFIX
EXEC (@SQL)
SELECT @SQL = 'INSERT INTO NAV_PERM_' + @TABLESUFFIX + ' SELECT NEWID(), NAV_' + @TABLESUFFIX + '_ID, ROLE_ID FROM NAV_FIELDS_' + @TABLESUFFIX + ', SYSTEM_ROLE WHERE ENABLED_044 = 1'
EXEC (@SQL)

FETCH NEXT FROM PERMISSION_CURSOR INTO @TABLENAME

END

CLOSE PERMISSION_CURSOR
DEALLOCATE PERMISSION_CURSOR
GO            

    
CREATE TABLE [dbo].[USER_MLIAB_ACCINCOM] (	
	[MLIAB_ACCINCOM_ID] [CHAR] (32) NOT NULL ,
	[HISTORY_ID] [INT] NOT NULL ,
	[POLICY_DETAILS_ID] [CHAR] (32) NOT NULL,
    [ACCIDENTCOVER_ID] [VARCHAR] (8) NULL,
    [COVERYN] [BIT] NULL,
    [INCOMECOVER_ID] [VARCHAR] (8) NULL,
    [PEOPLENUM] [NUMERIC] (18,2) NULL,
    
	[USERINSTANCE] [INT] NULL
) ON [PRIMARY]
GO


ALTER TABLE [dbo].[USER_MLIAB_ACCINCOM] WITH NOCHECK ADD 
	CONSTRAINT [PK_U_MLIAB_ACCINCOM] PRIMARY KEY  CLUSTERED 
	(
		[MLIAB_ACCINCOM_ID],
		[HISTORY_ID]
	)  ON [PRIMARY] 
GO


ALTER TABLE [dbo].[USER_MLIAB_ACCINCOM] WITH NOCHECK ADD 					
	CONSTRAINT [DF_UMLIAB_ACCINCOM433BINM4] DEFAULT ('0') FOR [ACCIDENTCOVER_ID]
GO
ALTER TABLE [dbo].[USER_MLIAB_ACCINCOM] WITH NOCHECK ADD
  CONSTRAINT [DF_UMLIAB_ACCINCOM433BINM5] DEFAULT (0) FOR [COVERYN]
GO
ALTER TABLE [dbo].[USER_MLIAB_ACCINCOM] WITH NOCHECK ADD 					
	CONSTRAINT [DF_UMLIAB_ACCINCOM433BINM6] DEFAULT ('0') FOR [INCOMECOVER_ID]
GO
GO

CREATE  INDEX [IDX_UMLIAB_ACCINCOM] ON [dbo].[USER_MLIAB_ACCINCOM]([POLICY_DETAILS_ID], [HISTORY_ID]) ON [PRIMARY]				
GO	

GRANT  SELECT  ON [dbo].[USER_MLIAB_ACCINCOM]  TO [TRANSACTORUSERS]
GO

GRANT  SELECT  ON [dbo].[USER_MLIAB_ACCINCOM]  TO [TRANSACTORPMUSERS]
GO


ALTER TABLE [dbo].[USER_MLIAB_ACCINCOM] ADD 

	CONSTRAINT [FK_UMLIAB_ACCINCOM] FOREIGN KEY 
	(
		[POLICY_DETAILS_ID],
		[HISTORY_ID]
	) REFERENCES [dbo].[CUSTOMER_POLICY_DETAILS] (
		[POLICY_DETAILS_ID],
		[HISTORY_ID]
	) NOT FOR REPLICATION
GO	
	
ALTER TABLE [dbo].[USER_MLIAB_ACCINCOM] ADD 
	CONSTRAINT [FK_UMLIAB_ACCINCOM433BINM7] FOREIGN KEY 
	(
		[ACCIDENTCOVER_ID]
    
	) REFERENCES [dbo].[LIST_MH_PERSONALACCIDENTLEVEL] (
		[MH_PERSONALACCIDENTLEVEL_ID]
	)	NOT FOR REPLICATION
	
GO
ALTER TABLE [dbo].[USER_MLIAB_ACCINCOM] ADD 
	CONSTRAINT [FK_UMLIAB_ACCINCOM433BINM8] FOREIGN KEY 
	(
		[INCOMECOVER_ID]
    
	) REFERENCES [dbo].[LIST_MH_PAINCOMEPROTECTIONLEVEL] (
		[MH_PAINCOMEPROTECTIONLEVEL_ID]
	)	NOT FOR REPLICATION
	
GO
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_READ_MLIAB_ACCINCOM]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_READ_MLIAB_ACCINCOM]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_READ_MLIAB_ACCINCOM (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
	USER_MLIAB_ACCINCOM.[MLIAB_ACCINCOM_ID], 

  USER_MLIAB_ACCINCOM.[HISTORY_ID],
	USER_MLIAB_ACCINCOM.[POLICY_DETAILS_ID]
		,ACCIDENTCOVER_ALIAS.[MH_PERSONALACCIDENTLEVEL_ID] as ACCIDENTCOVER_ID,
	ACCIDENTCOVER_ALIAS.[MH_PERSONALACCIDENTLEVEL_DEBUG] as ACCIDENTCOVER_DEBUG,
	USER_MLIAB_ACCINCOM.[COVERYN],INCOMECOVER_ALIAS.[MH_PAINCOMEPROTECTIONLEVEL_ID] as INCOMECOVER_ID,
	INCOMECOVER_ALIAS.[MH_PAINCOMEPROTECTIONLEVEL_DEBUG] as INCOMECOVER_DEBUG,
	USER_MLIAB_ACCINCOM.[PEOPLENUM],
	USER_MLIAB_ACCINCOM.USERINSTANCE
FROM		
	USER_MLIAB_ACCINCOM
	INNER JOIN LIST_MH_PERSONALACCIDENTLEVEL as ACCIDENTCOVER_ALIAS ON USER_MLIAB_ACCINCOM.[ACCIDENTCOVER_ID] = ACCIDENTCOVER_ALIAS.[MH_PERSONALACCIDENTLEVEL_ID]
	INNER JOIN LIST_MH_PAINCOMEPROTECTIONLEVEL as INCOMECOVER_ALIAS ON USER_MLIAB_ACCINCOM.[INCOMECOVER_ID] = INCOMECOVER_ALIAS.[MH_PAINCOMEPROTECTIONLEVEL_ID]
WHERE
  USER_MLIAB_ACCINCOM.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_ACCINCOM.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_ACCINCOM.USERINSTANCE ASC
		
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_ACCINCOM]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_ACCINCOM]  TO [TRANSACTORPMUSERS]
GO

    
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_SAVE_MLIAB_ACCINCOM]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_SAVE_MLIAB_ACCINCOM]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_SAVE_MLIAB_ACCINCOM

@MLIAB_ACCINCOM_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@ACCIDENTCOVER_ID [VARCHAR] (8),
@COVERYN [BIT],
@INCOMECOVER_ID [VARCHAR] (8),
				
@PEOPLENUM [NUMERIC] (18,2),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_ACCINCOM
(
	MLIAB_ACCINCOM_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[ACCIDENTCOVER_ID] ,
	[COVERYN],
	[INCOMECOVER_ID] ,
	[PEOPLENUM],
	USERINSTANCE
) VALUES (
	@MLIAB_ACCINCOM_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@ACCIDENTCOVER_ID,
	@COVERYN,
	@INCOMECOVER_ID,
	@PEOPLENUM,
	@USERINSTANCE
)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_ACCINCOM]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_ACCINCOM]  TO [TRANSACTORPMUSERS]
GO    
      
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_UPDATE_MLIAB_ACCINCOM]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_UPDATE_MLIAB_ACCINCOM]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_UPDATE_MLIAB_ACCINCOM

@MLIAB_ACCINCOM_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@ACCIDENTCOVER_ID [VARCHAR] (8),
@COVERYN [BIT],
@INCOMECOVER_ID [VARCHAR] (8),
				
@PEOPLENUM [NUMERIC] (18,2),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_ACCINCOM
SET
  [MLIAB_ACCINCOM_ID] = @MLIAB_ACCINCOM_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [ACCIDENTCOVER_ID] = @ACCIDENTCOVER_ID,
  [COVERYN] = @COVERYN,
  [INCOMECOVER_ID] = @INCOMECOVER_ID,
  [PEOPLENUM] = @PEOPLENUM,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_ACCINCOM_ID] = @MLIAB_ACCINCOM_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_UPDATE_MLIAB_ACCINCOM]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO
  
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_DELETE_MLIAB_ACCINCOM]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_DELETE_MLIAB_ACCINCOM]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_DELETE_MLIAB_ACCINCOM (

@MLIAB_ACCINCOM_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_ACCINCOM WHERE [MLIAB_ACCINCOM_ID] = @MLIAB_ACCINCOM_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB_ACCINCOM]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO

DELETE FROM SYSTEM_QUESTIONS WHERE PARENTID = 'UO_MLIAB_AccIncom'
DELETE FROM SYSTEM_OBJECTS WHERE ID = 'UO_MLIAB_AccIncom'
      
IF NOT EXISTS (SELECT ID FROM SYSTEM_OBJECTS WHERE ID = 'UO_MLIAB_AccIncom')
INSERT INTO SYSTEM_OBJECTS (ID,DESCRIPTION,PARENTID,INSTANCE,OBJECT_ID,PRODUCTTYPE) VALUES ('UO_MLIAB_AccIncom', 'Personal Accident and Income Protection (Tradesman Liability)','Policy_Details','s',NULL,'195')
        IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_AccIncom_AccidentCover')
	
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_AccIncom_AccidentCover','coverLevel','UO_MLIAB_AccIncom',NULL,'t',NULL,NULL, 'LIST_MH_PersonalAccidentLevel')
		IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_AccIncom_CoverYN')
  INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_AccIncom_CoverYN','PersonalAccident','UO_MLIAB_AccIncom',NULL,'b',NULL,NULL,NULL)
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_AccIncom_IncomeCover')
	
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_AccIncom_IncomeCover','Income Cover','UO_MLIAB_AccIncom',NULL,'t',NULL,NULL, 'LIST_MH_PAIncomeProtectionLevel')
		
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_AccIncom_PeopleNum')
 
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_AccIncom_PeopleNum','PeopleNum','UO_MLIAB_AccIncom',NULL,'n',NULL,NULL,NULL)	
	
CREATE TABLE [dbo].[USER_MLIAB_PAPEOPLE] (	
	[MLIAB_PAPEOPLE_ID] [CHAR] (32) NOT NULL ,
	[HISTORY_ID] [INT] NOT NULL ,
	[MLIAB_ACCINCOM_ID] [CHAR] (32) NOT NULL,
    [UKRESIDENTYN] [BIT] NULL,
    [DATEOFBIRTH] [DATETIME] NULL,
    [SURNAME] [VARCHAR] (50) NULL,
    [FORENAMES] [VARCHAR] (50) NULL,
    [TITLE_ID] [VARCHAR] (8) NULL,
    
	[USERINSTANCE] [INT] NULL
) ON [PRIMARY]
GO


ALTER TABLE [dbo].[USER_MLIAB_PAPEOPLE] WITH NOCHECK ADD 
	CONSTRAINT [PK_U_MLIAB_PAPEOPLE] PRIMARY KEY  CLUSTERED 
	(
		[MLIAB_PAPEOPLE_ID],
		[HISTORY_ID]
	)  ON [PRIMARY] 
GO


ALTER TABLE [dbo].[USER_MLIAB_PAPEOPLE] WITH NOCHECK ADD
  CONSTRAINT [DF_UMLIAB_PAPEOPLE433BINN1] DEFAULT (0) FOR [UKRESIDENTYN]
GO
ALTER TABLE [dbo].[USER_MLIAB_PAPEOPLE] WITH NOCHECK ADD 					
	CONSTRAINT [DF_UMLIAB_PAPEOPLE433BINN2] DEFAULT ('0') FOR [TITLE_ID]
GO
GO

CREATE  INDEX [IDX_UMLIAB_PAPEOPLE] ON [dbo].[USER_MLIAB_PAPEOPLE]([MLIAB_ACCINCOM_ID], [HISTORY_ID]) ON [PRIMARY]				
GO	

GRANT  SELECT  ON [dbo].[USER_MLIAB_PAPEOPLE]  TO [TRANSACTORUSERS]
GO

GRANT  SELECT  ON [dbo].[USER_MLIAB_PAPEOPLE]  TO [TRANSACTORPMUSERS]
GO


ALTER TABLE [dbo].[USER_MLIAB_PAPEOPLE] ADD 

CONSTRAINT [FK_UMLIAB_PAPEOPLE] FOREIGN KEY 
(
	[MLIAB_ACCINCOM_ID],
	[HISTORY_ID]
) REFERENCES [dbo].[USER_MLIAB_ACCINCOM] (
	[MLIAB_ACCINCOM_ID],
	[HISTORY_ID]
) NOT FOR REPLICATION
GO
	
ALTER TABLE [dbo].[USER_MLIAB_PAPEOPLE] ADD 
	CONSTRAINT [FK_UMLIAB_PAPEOPLE433BINN3] FOREIGN KEY 
	(
		[TITLE_ID]
    
	) REFERENCES [dbo].[LIST_TITLE] (
		[TITLE_ID]
	)	NOT FOR REPLICATION
	
GO
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_READ_MLIAB_PAPEOPLE]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_READ_MLIAB_PAPEOPLE]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_READ_MLIAB_PAPEOPLE (

@MLIAB_ACCINCOM_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
	USER_MLIAB_PAPEOPLE.[MLIAB_PAPEOPLE_ID], 

  USER_MLIAB_PAPEOPLE.[HISTORY_ID],
	USER_MLIAB_PAPEOPLE.[MLIAB_ACCINCOM_ID]
		,
	USER_MLIAB_PAPEOPLE.[UKRESIDENTYN],
	USER_MLIAB_PAPEOPLE.[DATEOFBIRTH],
	USER_MLIAB_PAPEOPLE.[SURNAME],
	USER_MLIAB_PAPEOPLE.[FORENAMES],TITLE_ALIAS.[TITLE_ID] as TITLE_ID,
	TITLE_ALIAS.[TITLE_DEBUG] as TITLE_DEBUG,
	USER_MLIAB_PAPEOPLE.USERINSTANCE
FROM		
	USER_MLIAB_PAPEOPLE
	INNER JOIN LIST_TITLE as TITLE_ALIAS ON USER_MLIAB_PAPEOPLE.[TITLE_ID] = TITLE_ALIAS.[TITLE_ID]
WHERE
  USER_MLIAB_PAPEOPLE.MLIAB_ACCINCOM_ID = @MLIAB_ACCINCOM_ID
	AND USER_MLIAB_PAPEOPLE.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_PAPEOPLE.USERINSTANCE ASC
		
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_PAPEOPLE]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_PAPEOPLE]  TO [TRANSACTORPMUSERS]
GO

    
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_SAVE_MLIAB_PAPEOPLE]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_SAVE_MLIAB_PAPEOPLE]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_SAVE_MLIAB_PAPEOPLE

@MLIAB_PAPEOPLE_ID [CHAR](32), 

@HISTORY_ID [INT],
@MLIAB_ACCINCOM_ID CHAR(32),
@UKRESIDENTYN [BIT],
@DATEOFBIRTH [DATETIME],
				
@SURNAME [VARCHAR] (50),
				
@FORENAMES [VARCHAR] (50),
@TITLE_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_PAPEOPLE
(
	MLIAB_PAPEOPLE_ID, 

	HISTORY_ID,
	MLIAB_ACCINCOM_ID,
	[UKRESIDENTYN],
	[DATEOFBIRTH],
	[SURNAME],
	[FORENAMES],
	[TITLE_ID] ,
	USERINSTANCE
) VALUES (
	@MLIAB_PAPEOPLE_ID, 

	@HISTORY_ID,
   @MLIAB_ACCINCOM_ID,
	@UKRESIDENTYN,
	@DATEOFBIRTH,
	@SURNAME,
	@FORENAMES,
	@TITLE_ID,
	@USERINSTANCE
)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_PAPEOPLE]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_PAPEOPLE]  TO [TRANSACTORPMUSERS]
GO    
      
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_UPDATE_MLIAB_PAPEOPLE]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_UPDATE_MLIAB_PAPEOPLE]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_UPDATE_MLIAB_PAPEOPLE

@MLIAB_PAPEOPLE_ID [CHAR](32), 

@HISTORY_ID [INT],    
@MLIAB_ACCINCOM_ID CHAR(32),
@UKRESIDENTYN [BIT],
@DATEOFBIRTH [DATETIME],
				
@SURNAME [VARCHAR] (50),
				
@FORENAMES [VARCHAR] (50),
@TITLE_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_PAPEOPLE
SET
  [MLIAB_PAPEOPLE_ID] = @MLIAB_PAPEOPLE_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [MLIAB_ACCINCOM_ID] = @MLIAB_ACCINCOM_ID,
  [UKRESIDENTYN] = @UKRESIDENTYN,
  [DATEOFBIRTH] = @DATEOFBIRTH,
  [SURNAME] = @SURNAME,
  [FORENAMES] = @FORENAMES,
  [TITLE_ID] = @TITLE_ID,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_PAPEOPLE_ID] = @MLIAB_PAPEOPLE_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_UPDATE_MLIAB_PAPEOPLE]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO
  
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_DELETE_MLIAB_PAPEOPLE]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_DELETE_MLIAB_PAPEOPLE]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_DELETE_MLIAB_PAPEOPLE (

@MLIAB_PAPEOPLE_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_PAPEOPLE WHERE [MLIAB_PAPEOPLE_ID] = @MLIAB_PAPEOPLE_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB_PAPEOPLE]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO

DELETE FROM SYSTEM_QUESTIONS WHERE PARENTID = 'UO_MLIAB_PAPeople'
DELETE FROM SYSTEM_OBJECTS WHERE ID = 'UO_MLIAB_PAPeople'
      
IF NOT EXISTS (SELECT ID FROM SYSTEM_OBJECTS WHERE ID = 'UO_MLIAB_PAPeople')
INSERT INTO SYSTEM_OBJECTS (ID,DESCRIPTION,PARENTID,INSTANCE,OBJECT_ID,PRODUCTTYPE) VALUES ('UO_MLIAB_PAPeople', 'Personal Accident and Income People (Tradesman Liability)','UO_MLIAB_ACCINCOM','m',NULL,'195')
        IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_PAPeople_UKResidentYN')
  INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_PAPeople_UKResidentYN','optUKResidentYN','UO_MLIAB_PAPeople',NULL,'b',NULL,NULL,NULL)
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_PAPeople_DateOfBirth')
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_PAPeople_DateOfBirth','DateOfBirth','UO_MLIAB_PAPeople',NULL,'d',NULL,NULL,NULL)

IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_PAPeople_Surname')
 
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_PAPeople_Surname','Surname','UO_MLIAB_PAPeople',NULL,'t',NULL,NULL,NULL)	

IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_PAPeople_Forenames')
 
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_PAPeople_Forenames','Forenames','UO_MLIAB_PAPeople',NULL,'t',NULL,NULL,NULL)	
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_PAPeople_Title')
	
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_PAPeople_Title','Title','UO_MLIAB_PAPeople',NULL,'t',NULL,NULL, 'LIST_TITLE')
		
CREATE TABLE [dbo].[USER_MLIAB_PROFINDM] (	
	[MLIAB_PROFINDM_ID] [CHAR] (32) NOT NULL ,
	[HISTORY_ID] [INT] NOT NULL ,
	[POLICY_DETAILS_ID] [CHAR] (32) NOT NULL,
    [PILEVEL_ID] [VARCHAR] (8) NULL,
    [PIYN] [BIT] NULL,
    [DESIGNYN] [BIT] NULL,
    
	[USERINSTANCE] [INT] NULL
) ON [PRIMARY]
GO


ALTER TABLE [dbo].[USER_MLIAB_PROFINDM] WITH NOCHECK ADD 
	CONSTRAINT [PK_U_MLIAB_PROFINDM] PRIMARY KEY  CLUSTERED 
	(
		[MLIAB_PROFINDM_ID],
		[HISTORY_ID]
	)  ON [PRIMARY] 
GO


ALTER TABLE [dbo].[USER_MLIAB_PROFINDM] WITH NOCHECK ADD 					
	CONSTRAINT [DF_UMLIAB_PROFINDM433BINN4] DEFAULT ('0') FOR [PILEVEL_ID]
GO
ALTER TABLE [dbo].[USER_MLIAB_PROFINDM] WITH NOCHECK ADD
  CONSTRAINT [DF_UMLIAB_PROFINDM433BINN5] DEFAULT (0) FOR [PIYN]
GO
ALTER TABLE [dbo].[USER_MLIAB_PROFINDM] WITH NOCHECK ADD
  CONSTRAINT [DF_UMLIAB_PROFINDM433BINN6] DEFAULT (0) FOR [DESIGNYN]
GO
GO

CREATE  INDEX [IDX_UMLIAB_PROFINDM] ON [dbo].[USER_MLIAB_PROFINDM]([POLICY_DETAILS_ID], [HISTORY_ID]) ON [PRIMARY]				
GO	

GRANT  SELECT  ON [dbo].[USER_MLIAB_PROFINDM]  TO [TRANSACTORUSERS]
GO

GRANT  SELECT  ON [dbo].[USER_MLIAB_PROFINDM]  TO [TRANSACTORPMUSERS]
GO


ALTER TABLE [dbo].[USER_MLIAB_PROFINDM] ADD 

	CONSTRAINT [FK_UMLIAB_PROFINDM] FOREIGN KEY 
	(
		[POLICY_DETAILS_ID],
		[HISTORY_ID]
	) REFERENCES [dbo].[CUSTOMER_POLICY_DETAILS] (
		[POLICY_DETAILS_ID],
		[HISTORY_ID]
	) NOT FOR REPLICATION
GO	
	
ALTER TABLE [dbo].[USER_MLIAB_PROFINDM] ADD 
	CONSTRAINT [FK_UMLIAB_PROFINDM433BINN7] FOREIGN KEY 
	(
		[PILEVEL_ID]
    
	) REFERENCES [dbo].[LIST_MH_PROFESSIONALINDEMNITYLEVEL] (
		[MH_PROFESSIONALINDEMNITYLEVEL_ID]
	)	NOT FOR REPLICATION
	
GO
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_READ_MLIAB_PROFINDM]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_READ_MLIAB_PROFINDM]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_READ_MLIAB_PROFINDM (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
	USER_MLIAB_PROFINDM.[MLIAB_PROFINDM_ID], 

  USER_MLIAB_PROFINDM.[HISTORY_ID],
	USER_MLIAB_PROFINDM.[POLICY_DETAILS_ID]
		,PILEVEL_ALIAS.[MH_PROFESSIONALINDEMNITYLEVEL_ID] as PILEVEL_ID,
	PILEVEL_ALIAS.[MH_PROFESSIONALINDEMNITYLEVEL_DEBUG] as PILEVEL_DEBUG,
	USER_MLIAB_PROFINDM.[PIYN],
	USER_MLIAB_PROFINDM.[DESIGNYN],
	USER_MLIAB_PROFINDM.USERINSTANCE
FROM		
	USER_MLIAB_PROFINDM
	INNER JOIN LIST_MH_PROFESSIONALINDEMNITYLEVEL as PILEVEL_ALIAS ON USER_MLIAB_PROFINDM.[PILEVEL_ID] = PILEVEL_ALIAS.[MH_PROFESSIONALINDEMNITYLEVEL_ID]
WHERE
  USER_MLIAB_PROFINDM.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_PROFINDM.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_PROFINDM.USERINSTANCE ASC
		
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_PROFINDM]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_PROFINDM]  TO [TRANSACTORPMUSERS]
GO

    
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_SAVE_MLIAB_PROFINDM]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_SAVE_MLIAB_PROFINDM]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_SAVE_MLIAB_PROFINDM

@MLIAB_PROFINDM_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@PILEVEL_ID [VARCHAR] (8),
@PIYN [BIT],
@DESIGNYN [BIT],
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_PROFINDM
(
	MLIAB_PROFINDM_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[PILEVEL_ID] ,
	[PIYN],
	[DESIGNYN],
	USERINSTANCE
) VALUES (
	@MLIAB_PROFINDM_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@PILEVEL_ID,
	@PIYN,
	@DESIGNYN,
	@USERINSTANCE
)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_PROFINDM]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_PROFINDM]  TO [TRANSACTORPMUSERS]
GO    
      
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_UPDATE_MLIAB_PROFINDM]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_UPDATE_MLIAB_PROFINDM]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_UPDATE_MLIAB_PROFINDM

@MLIAB_PROFINDM_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@PILEVEL_ID [VARCHAR] (8),
@PIYN [BIT],
@DESIGNYN [BIT],
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_PROFINDM
SET
  [MLIAB_PROFINDM_ID] = @MLIAB_PROFINDM_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [PILEVEL_ID] = @PILEVEL_ID,
  [PIYN] = @PIYN,
  [DESIGNYN] = @DESIGNYN,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_PROFINDM_ID] = @MLIAB_PROFINDM_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_UPDATE_MLIAB_PROFINDM]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO
  
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_DELETE_MLIAB_PROFINDM]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_DELETE_MLIAB_PROFINDM]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_DELETE_MLIAB_PROFINDM (

@MLIAB_PROFINDM_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_PROFINDM WHERE [MLIAB_PROFINDM_ID] = @MLIAB_PROFINDM_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB_PROFINDM]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO

DELETE FROM SYSTEM_QUESTIONS WHERE PARENTID = 'UO_MLIAB_ProfIndm'
DELETE FROM SYSTEM_OBJECTS WHERE ID = 'UO_MLIAB_ProfIndm'
      
IF NOT EXISTS (SELECT ID FROM SYSTEM_OBJECTS WHERE ID = 'UO_MLIAB_ProfIndm')
INSERT INTO SYSTEM_OBJECTS (ID,DESCRIPTION,PARENTID,INSTANCE,OBJECT_ID,PRODUCTTYPE) VALUES ('UO_MLIAB_ProfIndm', 'Professional Indemnity (Tradesman Liability)','Policy_Details','s',NULL,'195')
        IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_ProfIndm_PILevel')
	
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_ProfIndm_PILevel','PILevel','UO_MLIAB_ProfIndm',NULL,'t',NULL,NULL, 'LIST_MH_ProfessionalIndemnityLevel')
		IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_ProfIndm_PIYN')
  INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_ProfIndm_PIYN','PIYN','UO_MLIAB_ProfIndm',NULL,'b',NULL,NULL,NULL)
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_ProfIndm_DesignYN')
  INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_ProfIndm_DesignYN','DesignYN','UO_MLIAB_ProfIndm',NULL,'b',NULL,NULL,NULL)
    
GO

--Add new controls        
    			
	
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_CLONE_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_CLONE_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_CLONE_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT,
@NEWHISTORY_ID INT

AS


INSERT USER_MLIAB_TrdDtail         
(
	MLIAB_TrdDtail_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
)
SELECT	[MLIAB_TrdDtail_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
FROM USER_MLIAB_TrdDtail WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_CInfo         
(
	MLIAB_CInfo_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
	[USERINSTANCE]
)
SELECT	[MLIAB_CInfo_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
	[USERINSTANCE]
FROM USER_MLIAB_CInfo WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_BusSupp         
(
	MLIAB_BusSupp_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
)
SELECT	[MLIAB_BusSupp_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_BusSupp WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_ClmSum         
(
	MLIAB_ClmSum_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
  [INCIDENTS],
	[USERINSTANCE]
)
SELECT	[MLIAB_ClmSum_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
  [INCIDENTS],
	[USERINSTANCE]
FROM USER_MLIAB_ClmSum WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_Assump         
(
	MLIAB_Assump_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
)
SELECT	[MLIAB_Assump_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
FROM USER_MLIAB_Assump WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_CAR         
(
	MLIAB_CAR_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID],
	[HIRPLANTMACVAL_ID],
	[HIRECHARGEVAL_ID],
	[OWNPLANTMACVAL_ID],
	[MAXCONTRACTVAL_ID],
	[USERINSTANCE]
)
SELECT	[MLIAB_CAR_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID],
	[HIRPLANTMACVAL_ID],
	[HIRECHARGEVAL_ID],
	[OWNPLANTMACVAL_ID],
	[MAXCONTRACTVAL_ID],
	[USERINSTANCE]
FROM USER_MLIAB_CAR WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_AccIncom         
(
	MLIAB_AccIncom_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[ACCIDENTCOVER_ID],
  [COVERYN],
	[INCOMECOVER_ID],
				
	[PEOPLENUM],
	[USERINSTANCE]
)
SELECT	[MLIAB_AccIncom_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[ACCIDENTCOVER_ID],
  [COVERYN],
	[INCOMECOVER_ID],
				
	[PEOPLENUM],
	[USERINSTANCE]
FROM USER_MLIAB_AccIncom WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_ProfIndm         
(
	MLIAB_ProfIndm_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[PILEVEL_ID],
  [PIYN],
  [DESIGNYN],
	[USERINSTANCE]
)
SELECT	[MLIAB_ProfIndm_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[PILEVEL_ID],
  [PIYN],
  [DESIGNYN],
	[USERINSTANCE]
FROM USER_MLIAB_ProfIndm WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
					
INSERT USER_MLIAB_PandP         
(
	MLIAB_PandP_ID,     
	HISTORY_ID,	
	MLIAB_CINFO_ID
	,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_PandP_ID],
	@NEWHISTORY_ID,
	[MLIAB_CINFO_ID],
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_PANDP
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_ClmDtail         
(
	MLIAB_ClmDtail_ID,     
	HISTORY_ID,	
	MLIAB_CLMSUM_ID
	,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_ClmDtail_ID],
	@NEWHISTORY_ID,
	[MLIAB_CLMSUM_ID],
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMSUM_ID
	IN (
					
SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_Subsid         
(
	MLIAB_Subsid_ID,     
	HISTORY_ID,	
	MLIAB_CINFO_ID
	,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_Subsid_ID],
	@NEWHISTORY_ID,
	[MLIAB_CINFO_ID],
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	[USERINSTANCE]
			
FROM USER_MLIAB_SUBSID
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_PAPeople         
(
	MLIAB_PAPeople_ID,     
	HISTORY_ID,	
	MLIAB_ACCINCOM_ID
	,
  [UKRESIDENTYN],
	[DATEOFBIRTH],
				
	[SURNAME],
				
	[FORENAMES],
	[TITLE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_PAPeople_ID],
	@NEWHISTORY_ID,
	[MLIAB_ACCINCOM_ID],
  [UKRESIDENTYN],
	[DATEOFBIRTH],
				
	[SURNAME],
				
	[FORENAMES],
	[TITLE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_PAPEOPLE
WHERE MLIAB_ACCINCOM_ID
	IN (
					
SELECT MLIAB_ACCINCOM_ID FROM USER_MLIAB_ACCINCOM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_CLONE_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_CLONE_MLIAB]  TO [TRANSACTORPMUSERS]
GO  

		
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_COPY_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_COPY_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_COPY_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT,
@NEW_POLICY_DETAILS_ID CHAR(32),
@NEW_HISTORY_ID INT

AS

DECLARE @NEW_ID char(32)

--No parent, no child.				
INSERT USER_MLIAB_TrdDtail                 
(
	MLIAB_TrdDtail_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
FROM USER_MLIAB_TrdDtail WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_CInfo_ID char(32)
DECLARE MLIAB_CInfo_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_CInfo_ID] FROM USER_MLIAB_CInfo WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_CInfo_CURSOR
 
FETCH NEXT FROM MLIAB_CInfo_CURSOR INTO @MLIAB_CInfo_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_CInfo_ID char(32)
	SELECT @NEW_MLIAB_CInfo_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_CInfo 
	(
	  MLIAB_CInfo_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_CInfo_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
		[USERINSTANCE]
	FROM USER_MLIAB_CInfo WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)
						
	--Child.
	INSERT USER_MLIAB_PandP 
  (
	  MLIAB_PandP_ID,     
	  HISTORY_ID,
	  MLIAB_CInfo_ID,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_CInfo_ID,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_PandP WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)	
				
	--Child.
	INSERT USER_MLIAB_Subsid 
  (
	  MLIAB_Subsid_ID,     
	  HISTORY_ID,
	  MLIAB_CInfo_ID,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_CInfo_ID,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
		[USERINSTANCE]
	FROM USER_MLIAB_Subsid WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)	
								
	FETCH NEXT FROM MLIAB_CInfo_CURSOR INTO @MLIAB_CInfo_ID

END

CLOSE MLIAB_CInfo_CURSOR
DEALLOCATE MLIAB_CInfo_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_BusSupp                 
(
	MLIAB_BusSupp_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_BusSupp WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_ClmSum_ID char(32)
DECLARE MLIAB_ClmSum_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_ClmSum_ID] FROM USER_MLIAB_ClmSum WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_ClmSum_CURSOR
 
FETCH NEXT FROM MLIAB_ClmSum_CURSOR INTO @MLIAB_ClmSum_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_ClmSum_ID char(32)
	SELECT @NEW_MLIAB_ClmSum_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_ClmSum 
	(
	  MLIAB_ClmSum_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
  [INCIDENTS],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_ClmSum_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
  [INCIDENTS],
		[USERINSTANCE]
	FROM USER_MLIAB_ClmSum WHERE (MLIAB_ClmSum_ID = @MLIAB_ClmSum_ID AND HISTORY_ID = @HISTORY_ID)
						
	--Child.
	INSERT USER_MLIAB_ClmDtail 
  (
	  MLIAB_ClmDtail_ID,     
	  HISTORY_ID,
	  MLIAB_ClmSum_ID,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_ClmSum_ID,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_ClmDtail WHERE (MLIAB_ClmSum_ID = @MLIAB_ClmSum_ID AND HISTORY_ID = @HISTORY_ID)	
								
	FETCH NEXT FROM MLIAB_ClmSum_CURSOR INTO @MLIAB_ClmSum_ID

END

CLOSE MLIAB_ClmSum_CURSOR
DEALLOCATE MLIAB_ClmSum_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_Assump                 
(
	MLIAB_Assump_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
FROM USER_MLIAB_Assump WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
							
--No parent, no child.				
INSERT USER_MLIAB_CAR                 
(
	MLIAB_CAR_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID],
	[HIRPLANTMACVAL_ID],
	[HIRECHARGEVAL_ID],
	[OWNPLANTMACVAL_ID],
	[MAXCONTRACTVAL_ID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID],
	[HIRPLANTMACVAL_ID],
	[HIRECHARGEVAL_ID],
	[OWNPLANTMACVAL_ID],
	[MAXCONTRACTVAL_ID],
	[USERINSTANCE]
FROM USER_MLIAB_CAR WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_AccIncom_ID char(32)
DECLARE MLIAB_AccIncom_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_AccIncom_ID] FROM USER_MLIAB_AccIncom WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_AccIncom_CURSOR
 
FETCH NEXT FROM MLIAB_AccIncom_CURSOR INTO @MLIAB_AccIncom_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_AccIncom_ID char(32)
	SELECT @NEW_MLIAB_AccIncom_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_AccIncom 
	(
	  MLIAB_AccIncom_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
	[ACCIDENTCOVER_ID],
  [COVERYN],
	[INCOMECOVER_ID],
				
	[PEOPLENUM],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_AccIncom_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
	[ACCIDENTCOVER_ID],
  [COVERYN],
	[INCOMECOVER_ID],
				
	[PEOPLENUM],
		[USERINSTANCE]
	FROM USER_MLIAB_AccIncom WHERE (MLIAB_AccIncom_ID = @MLIAB_AccIncom_ID AND HISTORY_ID = @HISTORY_ID)
						
	--Child.
	INSERT USER_MLIAB_PAPeople 
  (
	  MLIAB_PAPeople_ID,     
	  HISTORY_ID,
	  MLIAB_AccIncom_ID,
  [UKRESIDENTYN],
	[DATEOFBIRTH],
				
	[SURNAME],
				
	[FORENAMES],
	[TITLE_ID],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_AccIncom_ID,
  [UKRESIDENTYN],
	[DATEOFBIRTH],
				
	[SURNAME],
				
	[FORENAMES],
	[TITLE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_PAPeople WHERE (MLIAB_AccIncom_ID = @MLIAB_AccIncom_ID AND HISTORY_ID = @HISTORY_ID)	
								
	FETCH NEXT FROM MLIAB_AccIncom_CURSOR INTO @MLIAB_AccIncom_ID

END

CLOSE MLIAB_AccIncom_CURSOR
DEALLOCATE MLIAB_AccIncom_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_ProfIndm                 
(
	MLIAB_ProfIndm_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[PILEVEL_ID],
  [PIYN],
  [DESIGNYN],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
	[PILEVEL_ID],
  [PIYN],
  [DESIGNYN],
	[USERINSTANCE]
FROM USER_MLIAB_ProfIndm WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
							


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_COPY_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_COPY_MLIAB]  TO [TRANSACTORPMUSERS]
GO  
	
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_DELETE_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_DELETE_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_DELETE_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT

AS



DELETE USER_MLIAB_TRDDTAIL
WHERE MLIAB_TRDDTAIL_ID IN
(

SELECT MLIAB_TRDDTAIL_ID FROM USER_MLIAB_TRDDTAIL WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_PANDP
WHERE MLIAB_PANDP_ID IN
(
SELECT MLIAB_PANDP_ID
FROM USER_MLIAB_PANDP
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_SUBSID
WHERE MLIAB_SUBSID_ID IN
(
SELECT MLIAB_SUBSID_ID
FROM USER_MLIAB_SUBSID
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CINFO
WHERE MLIAB_CINFO_ID IN
(

SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_BUSSUPP
WHERE MLIAB_BUSSUPP_ID IN
(

SELECT MLIAB_BUSSUPP_ID FROM USER_MLIAB_BUSSUPP WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMDTAIL_ID IN
(
SELECT MLIAB_CLMDTAIL_ID
FROM USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMSUM_ID
	IN (
					
SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CLMSUM
WHERE MLIAB_CLMSUM_ID IN
(

SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_ASSUMP
WHERE MLIAB_ASSUMP_ID IN
(

SELECT MLIAB_ASSUMP_ID FROM USER_MLIAB_ASSUMP WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CAR
WHERE MLIAB_CAR_ID IN
(

SELECT MLIAB_CAR_ID FROM USER_MLIAB_CAR WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_PAPEOPLE
WHERE MLIAB_PAPEOPLE_ID IN
(
SELECT MLIAB_PAPEOPLE_ID
FROM USER_MLIAB_PAPEOPLE
WHERE MLIAB_ACCINCOM_ID
	IN (
					
SELECT MLIAB_ACCINCOM_ID FROM USER_MLIAB_ACCINCOM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_ACCINCOM
WHERE MLIAB_ACCINCOM_ID IN
(

SELECT MLIAB_ACCINCOM_ID FROM USER_MLIAB_ACCINCOM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_PROFINDM
WHERE MLIAB_PROFINDM_ID IN
(

SELECT MLIAB_PROFINDM_ID FROM USER_MLIAB_PROFINDM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB]  TO [TRANSACTORPMUSERS]
GO    
  
DELETE System_Claim_Liability_Fields WHERE ProductType_ID = '195'
		
    
--Update version
    
IF NOT EXISTS (SELECT PRODUCTTYPE_ID FROM SYSTEM_LIST_PRODUCTTYPE_VERSION WHERE PRODUCTTYPE_ID = '195' AND TYPE = '1' AND VERSION = 10)
BEGIN
  INSERT SYSTEM_LIST_PRODUCTTYPE_VERSION VALUES ('195', '10', getdate(), '1', '1')
  UPDATE SYSTEM_LIST_PRODUCTTYPE_VERSION SET LIVE = 0 WHERE PRODUCTTYPE_ID = '195' AND TYPE = '1' AND VERSION < 10
END
GO    
  