

--Remove deleted forms    

        
GO    

--Remove deleted controls

    
GO

--Add new forms
    
GO

DECLARE @TABLENAME VARCHAR(50)
DECLARE @TABLESUFFIX VARCHAR(50)
DECLARE @SQL VARCHAR(8000)

DECLARE PERMISSION_CURSOR CURSOR FOR SELECT NAME FROM SYSOBJECTS WHERE NAME LIKE 'NAV_FORMS_MLIAB%'

OPEN PERMISSION_CURSOR

FETCH NEXT FROM PERMISSION_CURSOR INTO @TABLENAME

WHILE @@FETCH_STATUS = 0
BEGIN
SELECT @TABLESUFFIX = SUBSTRING(@TABLENAME, LEN('NAV_FORMS_') + 1, LEN(@TABLENAME) - LEN('NAV_FORMS_'))
SELECT @SQL = 'DELETE NAV_PERM_' + @TABLESUFFIX
EXEC (@SQL)
SELECT @SQL = 'INSERT INTO NAV_PERM_' + @TABLESUFFIX + ' SELECT NEWID(), NAV_' + @TABLESUFFIX + '_ID, ROLE_ID FROM NAV_FIELDS_' + @TABLESUFFIX + ', SYSTEM_ROLE WHERE ENABLED_044 = 1'
EXEC (@SQL)

FETCH NEXT FROM PERMISSION_CURSOR INTO @TABLENAME

END

CLOSE PERMISSION_CURSOR
DEALLOCATE PERMISSION_CURSOR
GO            

        
GO

--Add new controls        
    
DECLARE @TrdDtail_NEW_TXTHISTORYID_ID CHAR(8)
SELECT @TrdDtail_NEW_TXTHISTORYID_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmTrdDtail.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @TrdDtail_NEW_TXTHISTORYID_ID AND FIELDNAME = 'txtHistoryID')
INSERT INTO NAV_FIELDS_MLIAB_NEW( NAV_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3Q295OB9', @TrdDtail_NEW_TXTHISTORYID_ID, 'txtHistoryID', 1, 'HistoryID', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @TrdDtail_NEW_TXTPOLICYDETAILSID_ID CHAR(8)
SELECT @TrdDtail_NEW_TXTPOLICYDETAILSID_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmTrdDtail.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @TrdDtail_NEW_TXTPOLICYDETAILSID_ID AND FIELDNAME = 'txtPolicyDetailsID')
INSERT INTO NAV_FIELDS_MLIAB_NEW( NAV_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3Q295OB0', @TrdDtail_NEW_TXTPOLICYDETAILSID_ID, 'txtPolicyDetailsID', 1, 'Policy Details ID', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @TrdDtail_ADD_TXTHISTORYID_ID CHAR(8)
SELECT @TrdDtail_ADD_TXTHISTORYID_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmTrdDtail.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @TrdDtail_ADD_TXTHISTORYID_ID AND FIELDNAME = 'txtHistoryID')
INSERT INTO NAV_FIELDS_MLIAB_ADD( NAV_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3Q295OB1', @TrdDtail_ADD_TXTHISTORYID_ID, 'txtHistoryID', 1, 'HistoryID', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @TrdDtail_ADD_TXTPOLICYDETAILSID_ID CHAR(8)
SELECT @TrdDtail_ADD_TXTPOLICYDETAILSID_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmTrdDtail.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @TrdDtail_ADD_TXTPOLICYDETAILSID_ID AND FIELDNAME = 'txtPolicyDetailsID')
INSERT INTO NAV_FIELDS_MLIAB_ADD( NAV_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3Q295OC1', @TrdDtail_ADD_TXTPOLICYDETAILSID_ID, 'txtPolicyDetailsID', 1, 'Policy Details ID', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @TrdDtail_IND_TXTHISTORYID_ID CHAR(8)
SELECT @TrdDtail_IND_TXTHISTORYID_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmTrdDtail.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_IND WHERE PARENTID = @TrdDtail_IND_TXTHISTORYID_ID AND FIELDNAME = 'txtHistoryID')
INSERT INTO NAV_FIELDS_MLIAB_IND( NAV_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3Q295OC2', @TrdDtail_IND_TXTHISTORYID_ID, 'txtHistoryID', 1, 'HistoryID', NULL, 0, NULL, NULL, 't', NULL)
            
DECLARE @TrdDtail_IND_TXTPOLICYDETAILSID_ID CHAR(8)
SELECT @TrdDtail_IND_TXTPOLICYDETAILSID_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmTrdDtail.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_IND WHERE PARENTID = @TrdDtail_IND_TXTPOLICYDETAILSID_ID AND FIELDNAME = 'txtPolicyDetailsID')
INSERT INTO NAV_FIELDS_MLIAB_IND( NAV_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3Q295OC3', @TrdDtail_IND_TXTPOLICYDETAILSID_ID, 'txtPolicyDetailsID', 1, 'Policy Details ID', NULL, 0, NULL, NULL, 't', NULL)
            
IF NOT EXISTS (SELECT * FROM SYSOBJECTS SO INNER JOIN SYSCOLUMNS SC ON SO.ID = SC.ID WHERE SC.NAME = 'HISTORYID' AND SO.NAME = 'USER_MLIAB_TRDDTAIL')	
BEGIN
  ALTER TABLE [dbo].[USER_MLIAB_TRDDTAIL] WITH NOCHECK  
	  ADD [HISTORYID] [VARCHAR] (3) NULL	
END      
GO
    
IF NOT EXISTS (SELECT * FROM SYSOBJECTS SO INNER JOIN SYSCOLUMNS SC ON SO.ID = SC.ID WHERE SC.NAME = 'POLICYDETAILSID' AND SO.NAME = 'USER_MLIAB_TRDDTAIL')	
BEGIN
  ALTER TABLE [dbo].[USER_MLIAB_TRDDTAIL] WITH NOCHECK  
	  ADD [POLICYDETAILSID] [VARCHAR] (32) NULL	
END      
GO
    
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_READ_MLIAB_TRDDTAIL]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_READ_MLIAB_TRDDTAIL]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_READ_MLIAB_TRDDTAIL (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
	USER_MLIAB_TRDDTAIL.[MLIAB_TRDDTAIL_ID], 

  USER_MLIAB_TRDDTAIL.[HISTORY_ID],
	USER_MLIAB_TRDDTAIL.[POLICY_DETAILS_ID]
		,
	USER_MLIAB_TRDDTAIL.[WORKSHOPPERCENT],
	USER_MLIAB_TRDDTAIL.[WORKSHOP],
	USER_MLIAB_TRDDTAIL.[EMPSUSING],
	USER_MLIAB_TRDDTAIL.[FIXEDMACHINERY],
	USER_MLIAB_TRDDTAIL.[CAVITYWALL],
	USER_MLIAB_TRDDTAIL.[SOLVENT],
	USER_MLIAB_TRDDTAIL.[WATERPROOFING],
	USER_MLIAB_TRDDTAIL.[ROOFING],
	USER_MLIAB_TRDDTAIL.[VENTILATION],
	USER_MLIAB_TRDDTAIL.[CORGIREG],
	USER_MLIAB_TRDDTAIL.[ROADSURFACING],
	USER_MLIAB_TRDDTAIL.[PAVING],MAXDEPTH_ALIAS.[MH_MAXDEPTH_ID] as MAXDEPTH_ID,
	MAXDEPTH_ALIAS.[MH_MAXDEPTH_DEBUG] as MAXDEPTH_DEBUG,SECONDARYRISK_ALIAS.[MH_TRADE_ID] as SECONDARYRISK_ID,
	SECONDARYRISK_ALIAS.[MH_TRADE_DEBUG] as SECONDARYRISK_DEBUG,PRIMARYRISK_ALIAS.[MH_TRADE_ID] as PRIMARYRISK_ID,
	PRIMARYRISK_ALIAS.[MH_TRADE_DEBUG] as PRIMARYRISK_DEBUG,PRESENTINSURER_ALIAS.[INSURER_ID] as PRESENTINSURER_ID,
	PRESENTINSURER_ALIAS.[INSURER_DEBUG] as PRESENTINSURER_DEBUG,
	USER_MLIAB_TRDDTAIL.[COVERSTARTDATE],
	USER_MLIAB_TRDDTAIL.[PHASE],
	USER_MLIAB_TRDDTAIL.[EFFICACYCOVER],
	USER_MLIAB_TRDDTAIL.[HISTORYID],
	USER_MLIAB_TRDDTAIL.[POLICYDETAILSID],
	USER_MLIAB_TRDDTAIL.USERINSTANCE
FROM		
	USER_MLIAB_TRDDTAIL
	INNER JOIN LIST_MH_MAXDEPTH as MAXDEPTH_ALIAS ON USER_MLIAB_TRDDTAIL.[MAXDEPTH_ID] = MAXDEPTH_ALIAS.[MH_MAXDEPTH_ID]
	INNER JOIN LIST_MH_TRADE as SECONDARYRISK_ALIAS ON USER_MLIAB_TRDDTAIL.[SECONDARYRISK_ID] = SECONDARYRISK_ALIAS.[MH_TRADE_ID]
	INNER JOIN LIST_MH_TRADE as PRIMARYRISK_ALIAS ON USER_MLIAB_TRDDTAIL.[PRIMARYRISK_ID] = PRIMARYRISK_ALIAS.[MH_TRADE_ID]
	INNER JOIN SYSTEM_INSURER as PRESENTINSURER_ALIAS ON USER_MLIAB_TRDDTAIL.[PRESENTINSURER_ID] = PRESENTINSURER_ALIAS.[INSURER_ID]
WHERE
  USER_MLIAB_TRDDTAIL.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_TRDDTAIL.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_TRDDTAIL.USERINSTANCE ASC
		
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_TRDDTAIL]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_TRDDTAIL]  TO [TRANSACTORPMUSERS]
GO

    
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_SAVE_MLIAB_TRDDTAIL]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_SAVE_MLIAB_TRDDTAIL]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_SAVE_MLIAB_TRDDTAIL

@MLIAB_TRDDTAIL_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
				
@WORKSHOPPERCENT [NUMERIC] (18,2),
@WORKSHOP [BIT],
				
@EMPSUSING [NUMERIC] (18,2),
@FIXEDMACHINERY [BIT],
@CAVITYWALL [BIT],
@SOLVENT [BIT],
@WATERPROOFING [BIT],
@ROOFING [BIT],
@VENTILATION [BIT],
@CORGIREG [BIT],
@ROADSURFACING [BIT],
@PAVING [BIT],
@MAXDEPTH_ID [VARCHAR] (8),
@SECONDARYRISK_ID [VARCHAR] (8),
@PRIMARYRISK_ID [VARCHAR] (8),
@PRESENTINSURER_ID [VARCHAR] (8),
@COVERSTARTDATE [DATETIME],
@PHASE [BIT],
@EFFICACYCOVER [BIT],
				
@HISTORYID [VARCHAR] (3),
				
@POLICYDETAILSID [VARCHAR] (32),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_TRDDTAIL
(
	MLIAB_TRDDTAIL_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[WORKSHOPPERCENT],
	[WORKSHOP],
	[EMPSUSING],
	[FIXEDMACHINERY],
	[CAVITYWALL],
	[SOLVENT],
	[WATERPROOFING],
	[ROOFING],
	[VENTILATION],
	[CORGIREG],
	[ROADSURFACING],
	[PAVING],
	[MAXDEPTH_ID] ,
	[SECONDARYRISK_ID] ,
	[PRIMARYRISK_ID] ,
	[PRESENTINSURER_ID] ,
	[COVERSTARTDATE],
	[PHASE],
	[EFFICACYCOVER],
	[HISTORYID],
	[POLICYDETAILSID],
	USERINSTANCE
) VALUES (
	@MLIAB_TRDDTAIL_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@WORKSHOPPERCENT,
	@WORKSHOP,
	@EMPSUSING,
	@FIXEDMACHINERY,
	@CAVITYWALL,
	@SOLVENT,
	@WATERPROOFING,
	@ROOFING,
	@VENTILATION,
	@CORGIREG,
	@ROADSURFACING,
	@PAVING,
	@MAXDEPTH_ID,
	@SECONDARYRISK_ID,
	@PRIMARYRISK_ID,
	@PRESENTINSURER_ID,
	@COVERSTARTDATE,
	@PHASE,
	@EFFICACYCOVER,
	@HISTORYID,
	@POLICYDETAILSID,
	@USERINSTANCE
)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_TRDDTAIL]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_TRDDTAIL]  TO [TRANSACTORPMUSERS]
GO    
      
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_UPDATE_MLIAB_TRDDTAIL]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_UPDATE_MLIAB_TRDDTAIL]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_UPDATE_MLIAB_TRDDTAIL

@MLIAB_TRDDTAIL_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
				
@WORKSHOPPERCENT [NUMERIC] (18,2),
@WORKSHOP [BIT],
				
@EMPSUSING [NUMERIC] (18,2),
@FIXEDMACHINERY [BIT],
@CAVITYWALL [BIT],
@SOLVENT [BIT],
@WATERPROOFING [BIT],
@ROOFING [BIT],
@VENTILATION [BIT],
@CORGIREG [BIT],
@ROADSURFACING [BIT],
@PAVING [BIT],
@MAXDEPTH_ID [VARCHAR] (8),
@SECONDARYRISK_ID [VARCHAR] (8),
@PRIMARYRISK_ID [VARCHAR] (8),
@PRESENTINSURER_ID [VARCHAR] (8),
@COVERSTARTDATE [DATETIME],
@PHASE [BIT],
@EFFICACYCOVER [BIT],
				
@HISTORYID [VARCHAR] (3),
				
@POLICYDETAILSID [VARCHAR] (32),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_TRDDTAIL
SET
  [MLIAB_TRDDTAIL_ID] = @MLIAB_TRDDTAIL_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [WORKSHOPPERCENT] = @WORKSHOPPERCENT,
  [WORKSHOP] = @WORKSHOP,
  [EMPSUSING] = @EMPSUSING,
  [FIXEDMACHINERY] = @FIXEDMACHINERY,
  [CAVITYWALL] = @CAVITYWALL,
  [SOLVENT] = @SOLVENT,
  [WATERPROOFING] = @WATERPROOFING,
  [ROOFING] = @ROOFING,
  [VENTILATION] = @VENTILATION,
  [CORGIREG] = @CORGIREG,
  [ROADSURFACING] = @ROADSURFACING,
  [PAVING] = @PAVING,
  [MAXDEPTH_ID] = @MAXDEPTH_ID,
  [SECONDARYRISK_ID] = @SECONDARYRISK_ID,
  [PRIMARYRISK_ID] = @PRIMARYRISK_ID,
  [PRESENTINSURER_ID] = @PRESENTINSURER_ID,
  [COVERSTARTDATE] = @COVERSTARTDATE,
  [PHASE] = @PHASE,
  [EFFICACYCOVER] = @EFFICACYCOVER,
  [HISTORYID] = @HISTORYID,
  [POLICYDETAILSID] = @POLICYDETAILSID,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_TRDDTAIL_ID] = @MLIAB_TRDDTAIL_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_UPDATE_MLIAB_TRDDTAIL]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO
  
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_DELETE_MLIAB_TRDDTAIL]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_DELETE_MLIAB_TRDDTAIL]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_DELETE_MLIAB_TRDDTAIL (

@MLIAB_TRDDTAIL_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_TRDDTAIL WHERE [MLIAB_TRDDTAIL_ID] = @MLIAB_TRDDTAIL_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB_TRDDTAIL]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO

IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_TrdDtail_HistoryID')
 
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_TrdDtail_HistoryID','HistoryID','UO_MLIAB_TrdDtail',NULL,'t',NULL,NULL,NULL)	

IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_TrdDtail_PolicyDetailsID')
 
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_TrdDtail_PolicyDetailsID','Policy Details ID','UO_MLIAB_TrdDtail',NULL,'t',NULL,NULL,NULL)	
			
	
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_CLONE_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_CLONE_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_CLONE_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT,
@NEWHISTORY_ID INT

AS


INSERT USER_MLIAB_TrdDtail         
(
	MLIAB_TrdDtail_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
)
SELECT	[MLIAB_TrdDtail_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
FROM USER_MLIAB_TrdDtail WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_CInfo         
(
	MLIAB_CInfo_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
	[USERINSTANCE]
)
SELECT	[MLIAB_CInfo_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
	[USERINSTANCE]
FROM USER_MLIAB_CInfo WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_BusSupp         
(
	MLIAB_BusSupp_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
)
SELECT	[MLIAB_BusSupp_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_BusSupp WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_ClmSum         
(
	MLIAB_ClmSum_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
  [INCIDENTS],
	[USERINSTANCE]
)
SELECT	[MLIAB_ClmSum_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
  [INCIDENTS],
	[USERINSTANCE]
FROM USER_MLIAB_ClmSum WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_Assump         
(
	MLIAB_Assump_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
)
SELECT	[MLIAB_Assump_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
FROM USER_MLIAB_Assump WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
					
INSERT USER_MLIAB_PandP         
(
	MLIAB_PandP_ID,     
	HISTORY_ID,	
	MLIAB_CINFO_ID
	,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_PandP_ID],
	@NEWHISTORY_ID,
	[MLIAB_CINFO_ID],
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_PANDP
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_ClmDtail         
(
	MLIAB_ClmDtail_ID,     
	HISTORY_ID,	
	MLIAB_CLMSUM_ID
	,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_ClmDtail_ID],
	@NEWHISTORY_ID,
	[MLIAB_CLMSUM_ID],
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMSUM_ID
	IN (
					
SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_Subsid         
(
	MLIAB_Subsid_ID,     
	HISTORY_ID,	
	MLIAB_CINFO_ID
	,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_Subsid_ID],
	@NEWHISTORY_ID,
	[MLIAB_CINFO_ID],
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	[USERINSTANCE]
			
FROM USER_MLIAB_SUBSID
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_CLONE_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_CLONE_MLIAB]  TO [TRANSACTORPMUSERS]
GO  

		
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_COPY_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_COPY_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_COPY_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT,
@NEW_POLICY_DETAILS_ID CHAR(32),
@NEW_HISTORY_ID INT

AS

DECLARE @NEW_ID char(32)

--No parent, no child.				
INSERT USER_MLIAB_TrdDtail                 
(
	MLIAB_TrdDtail_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
FROM USER_MLIAB_TrdDtail WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_CInfo_ID char(32)
DECLARE MLIAB_CInfo_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_CInfo_ID] FROM USER_MLIAB_CInfo WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_CInfo_CURSOR
 
FETCH NEXT FROM MLIAB_CInfo_CURSOR INTO @MLIAB_CInfo_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_CInfo_ID char(32)
	SELECT @NEW_MLIAB_CInfo_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_CInfo 
	(
	  MLIAB_CInfo_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_CInfo_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
		[USERINSTANCE]
	FROM USER_MLIAB_CInfo WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)
						
	--Child.
	INSERT USER_MLIAB_PandP 
  (
	  MLIAB_PandP_ID,     
	  HISTORY_ID,
	  MLIAB_CInfo_ID,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_CInfo_ID,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_PandP WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)	
				
	--Child.
	INSERT USER_MLIAB_Subsid 
  (
	  MLIAB_Subsid_ID,     
	  HISTORY_ID,
	  MLIAB_CInfo_ID,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_CInfo_ID,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
		[USERINSTANCE]
	FROM USER_MLIAB_Subsid WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)	
								
	FETCH NEXT FROM MLIAB_CInfo_CURSOR INTO @MLIAB_CInfo_ID

END

CLOSE MLIAB_CInfo_CURSOR
DEALLOCATE MLIAB_CInfo_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_BusSupp                 
(
	MLIAB_BusSupp_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_BusSupp WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_ClmSum_ID char(32)
DECLARE MLIAB_ClmSum_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_ClmSum_ID] FROM USER_MLIAB_ClmSum WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_ClmSum_CURSOR
 
FETCH NEXT FROM MLIAB_ClmSum_CURSOR INTO @MLIAB_ClmSum_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_ClmSum_ID char(32)
	SELECT @NEW_MLIAB_ClmSum_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_ClmSum 
	(
	  MLIAB_ClmSum_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
  [INCIDENTS],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_ClmSum_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
  [INCIDENTS],
		[USERINSTANCE]
	FROM USER_MLIAB_ClmSum WHERE (MLIAB_ClmSum_ID = @MLIAB_ClmSum_ID AND HISTORY_ID = @HISTORY_ID)
						
	--Child.
	INSERT USER_MLIAB_ClmDtail 
  (
	  MLIAB_ClmDtail_ID,     
	  HISTORY_ID,
	  MLIAB_ClmSum_ID,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_ClmSum_ID,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_ClmDtail WHERE (MLIAB_ClmSum_ID = @MLIAB_ClmSum_ID AND HISTORY_ID = @HISTORY_ID)	
								
	FETCH NEXT FROM MLIAB_ClmSum_CURSOR INTO @MLIAB_ClmSum_ID

END

CLOSE MLIAB_ClmSum_CURSOR
DEALLOCATE MLIAB_ClmSum_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_Assump                 
(
	MLIAB_Assump_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
FROM USER_MLIAB_Assump WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
							


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_COPY_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_COPY_MLIAB]  TO [TRANSACTORPMUSERS]
GO  
	
DELETE System_Claim_Liability_Fields WHERE ProductType_ID = '195'
		
    
--Update version
    
IF NOT EXISTS (SELECT PRODUCTTYPE_ID FROM SYSTEM_LIST_PRODUCTTYPE_VERSION WHERE PRODUCTTYPE_ID = '195' AND TYPE = '1' AND VERSION = 6)
BEGIN
  INSERT SYSTEM_LIST_PRODUCTTYPE_VERSION VALUES ('195', '6', getdate(), '1', '1')
  UPDATE SYSTEM_LIST_PRODUCTTYPE_VERSION SET LIVE = 0 WHERE PRODUCTTYPE_ID = '195' AND TYPE = '1' AND VERSION < 6
END
GO    
  