

--Remove deleted forms    

        
GO    

--Remove deleted controls

    
GO

--Add new forms
    
INSERT INTO Nav_Forms_MLIAB_NEW( Nav_MLIAB_NEW_ID, Nav_MLIAB_NEW, MoveAble, Enabled_044, Sequence_044, Nav_MLIAB_NEW_044, Nav_Tbl_Tag_044) VALUES ( '3UL7RG65', 'TES_Screen_Builder\\MLIAB\frmCAR.tst', 1, 1, 12, 'CAR', NULL)
                          
INSERT INTO Nav_Fields_MLIAB_NEW( Nav_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3UL7RG64', '3UL7RG65', 'cfdmaxvlaueAOI', 1, 'maxvlaueAOI', NULL, 0, NULL, NULL, 't', NULL)
			
INSERT INTO Nav_Fields_MLIAB_NEW( Nav_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3UL7RG63', '3UL7RG65', 'cfdtotvaluehire', 1, 'totvaluehire', NULL, 0, NULL, NULL, 't', NULL)
			
INSERT INTO Nav_Fields_MLIAB_NEW( Nav_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3UL7RG62', '3UL7RG65', 'cfdhirecharges', 1, 'hirecharges', NULL, 0, NULL, NULL, 't', NULL)
			
      
			
      
			
      
INSERT INTO Nav_Forms_MLIAB_ADD( Nav_MLIAB_ADD_ID, Nav_MLIAB_ADD, MoveAble, Enabled_044, Sequence_044, Nav_MLIAB_ADD_044, Nav_Tbl_Tag_044) VALUES ( '3UL7RG77', 'TES_Screen_Builder\\MLIAB\frmCAR.tst', 1, 1, 12, 'CAR', NULL)
                          
INSERT INTO Nav_Fields_MLIAB_ADD( Nav_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3UL7RG76', '3UL7RG77', 'cfdmaxvlaueAOI', 1, 'maxvlaueAOI', NULL, 0, NULL, NULL, 't', NULL)
			
INSERT INTO Nav_Fields_MLIAB_ADD( Nav_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3UL7RG75', '3UL7RG77', 'cfdtotvaluehire', 1, 'totvaluehire', NULL, 0, NULL, NULL, 't', NULL)
			
INSERT INTO Nav_Fields_MLIAB_ADD( Nav_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3UL7RG74', '3UL7RG77', 'cfdhirecharges', 1, 'hirecharges', NULL, 0, NULL, NULL, 't', NULL)
			
      
			
      
			
      
INSERT INTO Nav_Forms_MLIAB_IND( Nav_MLIAB_IND_ID, Nav_MLIAB_IND, MoveAble, Enabled_044, Sequence_044, Nav_MLIAB_IND_044, Nav_Tbl_Tag_044) VALUES ( '3UL7RG89', 'TES_Screen_Builder\\MLIAB\frmCAR.tst', 1, 1, 12, 'CAR', NULL)
          
INSERT INTO Nav_Fields_MLIAB_IND( Nav_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3UL7RG88', '3UL7RG89', 'cfdmaxvlaueAOI', 1, 'maxvlaueAOI', NULL, 0, NULL, NULL, 't', NULL)
			
INSERT INTO Nav_Fields_MLIAB_IND( Nav_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3UL7RG87', '3UL7RG89', 'cfdtotvaluehire', 1, 'totvaluehire', NULL, 0, NULL, NULL, 't', NULL)
			
INSERT INTO Nav_Fields_MLIAB_IND( Nav_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3UL7RG86', '3UL7RG89', 'cfdhirecharges', 1, 'hirecharges', NULL, 0, NULL, NULL, 't', NULL)
			
      
			
      
			
      
GO

DECLARE @TABLENAME VARCHAR(50)
DECLARE @TABLESUFFIX VARCHAR(50)
DECLARE @SQL VARCHAR(8000)

DECLARE PERMISSION_CURSOR CURSOR FOR SELECT NAME FROM SYSOBJECTS WHERE NAME LIKE 'NAV_FORMS_MLIAB%'

OPEN PERMISSION_CURSOR

FETCH NEXT FROM PERMISSION_CURSOR INTO @TABLENAME

WHILE @@FETCH_STATUS = 0
BEGIN
SELECT @TABLESUFFIX = SUBSTRING(@TABLENAME, LEN('NAV_FORMS_') + 1, LEN(@TABLENAME) - LEN('NAV_FORMS_'))
SELECT @SQL = 'DELETE NAV_PERM_' + @TABLESUFFIX
EXEC (@SQL)
SELECT @SQL = 'INSERT INTO NAV_PERM_' + @TABLESUFFIX + ' SELECT NEWID(), NAV_' + @TABLESUFFIX + '_ID, ROLE_ID FROM NAV_FIELDS_' + @TABLESUFFIX + ', SYSTEM_ROLE WHERE ENABLED_044 = 1'
EXEC (@SQL)

FETCH NEXT FROM PERMISSION_CURSOR INTO @TABLENAME

END

CLOSE PERMISSION_CURSOR
DEALLOCATE PERMISSION_CURSOR
GO            

    
CREATE TABLE [dbo].[USER_MLIAB_CAR] (	
	[MLIAB_CAR_ID] [CHAR] (32) NOT NULL ,
	[HISTORY_ID] [INT] NOT NULL ,
	[POLICY_DETAILS_ID] [CHAR] (32) NOT NULL,
    [MAXVLAUEAOI] [MONEY] NULL,
    [TOTVALUEHIRE] [MONEY] NULL,
    [HIRECHARGES] [MONEY] NULL,
    [COVERHIREPLANT] [BIT] NULL,
    [VALUEPLANT] [MONEY] NULL,
    [COVERPLANT] [BIT] NULL,
    [ONECONTRACT] [MONEY] NULL,
    [CONTRACTSWORKS] [BIT] NULL,
    
	[USERINSTANCE] [INT] NULL
) ON [PRIMARY]
GO


ALTER TABLE [dbo].[USER_MLIAB_CAR] WITH NOCHECK ADD 
	CONSTRAINT [PK_U_MLIAB_CAR] PRIMARY KEY  CLUSTERED 
	(
		[MLIAB_CAR_ID],
		[HISTORY_ID]
	)  ON [PRIMARY] 
GO


ALTER TABLE [dbo].[USER_MLIAB_CAR] WITH NOCHECK ADD
  CONSTRAINT [DF_UMLIAB_CAR3UL7RG90] DEFAULT (0) FOR [COVERHIREPLANT]
GO
ALTER TABLE [dbo].[USER_MLIAB_CAR] WITH NOCHECK ADD
  CONSTRAINT [DF_UMLIAB_CAR3UL7RG99] DEFAULT (0) FOR [COVERPLANT]
GO
ALTER TABLE [dbo].[USER_MLIAB_CAR] WITH NOCHECK ADD
  CONSTRAINT [DF_UMLIAB_CAR3UL7RG98] DEFAULT (0) FOR [CONTRACTSWORKS]
GO
GO

CREATE  INDEX [IDX_UMLIAB_CAR] ON [dbo].[USER_MLIAB_CAR]([POLICY_DETAILS_ID], [HISTORY_ID]) ON [PRIMARY]				
GO	

GRANT  SELECT  ON [dbo].[USER_MLIAB_CAR]  TO [TRANSACTORUSERS]
GO

GRANT  SELECT  ON [dbo].[USER_MLIAB_CAR]  TO [TRANSACTORPMUSERS]
GO


ALTER TABLE [dbo].[USER_MLIAB_CAR] ADD 

	CONSTRAINT [FK_UMLIAB_CAR] FOREIGN KEY 
	(
		[POLICY_DETAILS_ID],
		[HISTORY_ID]
	) REFERENCES [dbo].[CUSTOMER_POLICY_DETAILS] (
		[POLICY_DETAILS_ID],
		[HISTORY_ID]
	) NOT FOR REPLICATION
GO	
	
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_READ_MLIAB_CAR]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_READ_MLIAB_CAR]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_READ_MLIAB_CAR (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
	USER_MLIAB_CAR.[MLIAB_CAR_ID], 

  USER_MLIAB_CAR.[HISTORY_ID],
	USER_MLIAB_CAR.[POLICY_DETAILS_ID]
		,
	USER_MLIAB_CAR.[MAXVLAUEAOI],
	USER_MLIAB_CAR.[TOTVALUEHIRE],
	USER_MLIAB_CAR.[HIRECHARGES],
	USER_MLIAB_CAR.[COVERHIREPLANT],
	USER_MLIAB_CAR.[VALUEPLANT],
	USER_MLIAB_CAR.[COVERPLANT],
	USER_MLIAB_CAR.[ONECONTRACT],
	USER_MLIAB_CAR.[CONTRACTSWORKS],
	USER_MLIAB_CAR.USERINSTANCE
FROM		
	USER_MLIAB_CAR
WHERE
  USER_MLIAB_CAR.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_CAR.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_CAR.USERINSTANCE ASC
		
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_CAR]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_CAR]  TO [TRANSACTORPMUSERS]
GO

    
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_SAVE_MLIAB_CAR]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_SAVE_MLIAB_CAR]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_SAVE_MLIAB_CAR

@MLIAB_CAR_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@MAXVLAUEAOI [MONEY],
@TOTVALUEHIRE [MONEY],
@HIRECHARGES [MONEY],
@COVERHIREPLANT [BIT],
@VALUEPLANT [MONEY],
@COVERPLANT [BIT],
@ONECONTRACT [MONEY],
@CONTRACTSWORKS [BIT],
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_CAR
(
	MLIAB_CAR_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
	[COVERHIREPLANT],
	[VALUEPLANT],
	[COVERPLANT],
	[ONECONTRACT],
	[CONTRACTSWORKS],
	USERINSTANCE
) VALUES (
	@MLIAB_CAR_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@MAXVLAUEAOI,
	@TOTVALUEHIRE,
	@HIRECHARGES,
	@COVERHIREPLANT,
	@VALUEPLANT,
	@COVERPLANT,
	@ONECONTRACT,
	@CONTRACTSWORKS,
	@USERINSTANCE
)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_CAR]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_CAR]  TO [TRANSACTORPMUSERS]
GO    
      
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_UPDATE_MLIAB_CAR]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_UPDATE_MLIAB_CAR]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_UPDATE_MLIAB_CAR

@MLIAB_CAR_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@MAXVLAUEAOI [MONEY],
@TOTVALUEHIRE [MONEY],
@HIRECHARGES [MONEY],
@COVERHIREPLANT [BIT],
@VALUEPLANT [MONEY],
@COVERPLANT [BIT],
@ONECONTRACT [MONEY],
@CONTRACTSWORKS [BIT],
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_CAR
SET
  [MLIAB_CAR_ID] = @MLIAB_CAR_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [MAXVLAUEAOI] = @MAXVLAUEAOI,
  [TOTVALUEHIRE] = @TOTVALUEHIRE,
  [HIRECHARGES] = @HIRECHARGES,
  [COVERHIREPLANT] = @COVERHIREPLANT,
  [VALUEPLANT] = @VALUEPLANT,
  [COVERPLANT] = @COVERPLANT,
  [ONECONTRACT] = @ONECONTRACT,
  [CONTRACTSWORKS] = @CONTRACTSWORKS,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_CAR_ID] = @MLIAB_CAR_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_UPDATE_MLIAB_CAR]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO
  
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_DELETE_MLIAB_CAR]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_DELETE_MLIAB_CAR]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_DELETE_MLIAB_CAR (

@MLIAB_CAR_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_CAR WHERE [MLIAB_CAR_ID] = @MLIAB_CAR_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB_CAR]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO

DELETE FROM SYSTEM_QUESTIONS WHERE PARENTID = 'UO_MLIAB_CAR'
DELETE FROM SYSTEM_OBJECTS WHERE ID = 'UO_MLIAB_CAR'
      
IF NOT EXISTS (SELECT ID FROM SYSTEM_OBJECTS WHERE ID = 'UO_MLIAB_CAR')
INSERT INTO SYSTEM_OBJECTS (ID,DESCRIPTION,PARENTID,INSTANCE,OBJECT_ID,PRODUCTTYPE) VALUES ('UO_MLIAB_CAR', 'CAR (Tradesman Liability)','Policy_Details','s',NULL,'195')
        IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_maxvlaueAOI')
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_maxvlaueAOI','maxvlaueAOI','UO_MLIAB_CAR',NULL,'n',NULL,NULL,NULL)
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_totvaluehire')
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_totvaluehire','totvaluehire','UO_MLIAB_CAR',NULL,'n',NULL,NULL,NULL)
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_hirecharges')
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_hirecharges','hirecharges','UO_MLIAB_CAR',NULL,'n',NULL,NULL,NULL)
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_coverhireplant')
  INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_coverhireplant','coverhireplant','UO_MLIAB_CAR',NULL,'b',NULL,NULL,NULL)
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_valueplant')
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_valueplant','valueplant','UO_MLIAB_CAR',NULL,'n',NULL,NULL,NULL)
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_coverplant')
  INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_coverplant','coverplant','UO_MLIAB_CAR',NULL,'b',NULL,NULL,NULL)
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_onecontract')
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_onecontract','onecontract','UO_MLIAB_CAR',NULL,'n',NULL,NULL,NULL)
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_Contractsworks')
  INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_Contractsworks','Contractworks','UO_MLIAB_CAR',NULL,'b',NULL,NULL,NULL)
    
GO

--Add new controls        
    			
	
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_CLONE_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_CLONE_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_CLONE_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT,
@NEWHISTORY_ID INT

AS


INSERT USER_MLIAB_TrdDtail         
(
	MLIAB_TrdDtail_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
)
SELECT	[MLIAB_TrdDtail_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
FROM USER_MLIAB_TrdDtail WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_CInfo         
(
	MLIAB_CInfo_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
	[USERINSTANCE]
)
SELECT	[MLIAB_CInfo_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
	[USERINSTANCE]
FROM USER_MLIAB_CInfo WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_BusSupp         
(
	MLIAB_BusSupp_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
)
SELECT	[MLIAB_BusSupp_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_BusSupp WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_ClmSum         
(
	MLIAB_ClmSum_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
  [INCIDENTS],
	[USERINSTANCE]
)
SELECT	[MLIAB_ClmSum_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
  [INCIDENTS],
	[USERINSTANCE]
FROM USER_MLIAB_ClmSum WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_Assump         
(
	MLIAB_Assump_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
)
SELECT	[MLIAB_Assump_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
FROM USER_MLIAB_Assump WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_CAR         
(
	MLIAB_CAR_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[USERINSTANCE]
)
SELECT	[MLIAB_CAR_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[USERINSTANCE]
FROM USER_MLIAB_CAR WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
					
INSERT USER_MLIAB_PandP         
(
	MLIAB_PandP_ID,     
	HISTORY_ID,	
	MLIAB_CINFO_ID
	,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_PandP_ID],
	@NEWHISTORY_ID,
	[MLIAB_CINFO_ID],
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_PANDP
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_ClmDtail         
(
	MLIAB_ClmDtail_ID,     
	HISTORY_ID,	
	MLIAB_CLMSUM_ID
	,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_ClmDtail_ID],
	@NEWHISTORY_ID,
	[MLIAB_CLMSUM_ID],
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMSUM_ID
	IN (
					
SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_Subsid         
(
	MLIAB_Subsid_ID,     
	HISTORY_ID,	
	MLIAB_CINFO_ID
	,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_Subsid_ID],
	@NEWHISTORY_ID,
	[MLIAB_CINFO_ID],
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	[USERINSTANCE]
			
FROM USER_MLIAB_SUBSID
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_CLONE_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_CLONE_MLIAB]  TO [TRANSACTORPMUSERS]
GO  

		
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_COPY_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_COPY_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_COPY_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT,
@NEW_POLICY_DETAILS_ID CHAR(32),
@NEW_HISTORY_ID INT

AS

DECLARE @NEW_ID char(32)

--No parent, no child.				
INSERT USER_MLIAB_TrdDtail                 
(
	MLIAB_TrdDtail_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
FROM USER_MLIAB_TrdDtail WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_CInfo_ID char(32)
DECLARE MLIAB_CInfo_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_CInfo_ID] FROM USER_MLIAB_CInfo WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_CInfo_CURSOR
 
FETCH NEXT FROM MLIAB_CInfo_CURSOR INTO @MLIAB_CInfo_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_CInfo_ID char(32)
	SELECT @NEW_MLIAB_CInfo_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_CInfo 
	(
	  MLIAB_CInfo_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_CInfo_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
		[USERINSTANCE]
	FROM USER_MLIAB_CInfo WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)
						
	--Child.
	INSERT USER_MLIAB_PandP 
  (
	  MLIAB_PandP_ID,     
	  HISTORY_ID,
	  MLIAB_CInfo_ID,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_CInfo_ID,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_PandP WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)	
				
	--Child.
	INSERT USER_MLIAB_Subsid 
  (
	  MLIAB_Subsid_ID,     
	  HISTORY_ID,
	  MLIAB_CInfo_ID,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_CInfo_ID,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
		[USERINSTANCE]
	FROM USER_MLIAB_Subsid WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)	
								
	FETCH NEXT FROM MLIAB_CInfo_CURSOR INTO @MLIAB_CInfo_ID

END

CLOSE MLIAB_CInfo_CURSOR
DEALLOCATE MLIAB_CInfo_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_BusSupp                 
(
	MLIAB_BusSupp_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_BusSupp WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_ClmSum_ID char(32)
DECLARE MLIAB_ClmSum_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_ClmSum_ID] FROM USER_MLIAB_ClmSum WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_ClmSum_CURSOR
 
FETCH NEXT FROM MLIAB_ClmSum_CURSOR INTO @MLIAB_ClmSum_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_ClmSum_ID char(32)
	SELECT @NEW_MLIAB_ClmSum_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_ClmSum 
	(
	  MLIAB_ClmSum_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
  [INCIDENTS],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_ClmSum_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
  [INCIDENTS],
		[USERINSTANCE]
	FROM USER_MLIAB_ClmSum WHERE (MLIAB_ClmSum_ID = @MLIAB_ClmSum_ID AND HISTORY_ID = @HISTORY_ID)
						
	--Child.
	INSERT USER_MLIAB_ClmDtail 
  (
	  MLIAB_ClmDtail_ID,     
	  HISTORY_ID,
	  MLIAB_ClmSum_ID,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_ClmSum_ID,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_ClmDtail WHERE (MLIAB_ClmSum_ID = @MLIAB_ClmSum_ID AND HISTORY_ID = @HISTORY_ID)	
								
	FETCH NEXT FROM MLIAB_ClmSum_CURSOR INTO @MLIAB_ClmSum_ID

END

CLOSE MLIAB_ClmSum_CURSOR
DEALLOCATE MLIAB_ClmSum_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_Assump                 
(
	MLIAB_Assump_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
FROM USER_MLIAB_Assump WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
							
--No parent, no child.				
INSERT USER_MLIAB_CAR                 
(
	MLIAB_CAR_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[USERINSTANCE]
FROM USER_MLIAB_CAR WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
							


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_COPY_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_COPY_MLIAB]  TO [TRANSACTORPMUSERS]
GO  
	
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_DELETE_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_DELETE_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_DELETE_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT

AS



DELETE USER_MLIAB_TRDDTAIL
WHERE MLIAB_TRDDTAIL_ID IN
(

SELECT MLIAB_TRDDTAIL_ID FROM USER_MLIAB_TRDDTAIL WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_PANDP
WHERE MLIAB_PANDP_ID IN
(
SELECT MLIAB_PANDP_ID
FROM USER_MLIAB_PANDP
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_SUBSID
WHERE MLIAB_SUBSID_ID IN
(
SELECT MLIAB_SUBSID_ID
FROM USER_MLIAB_SUBSID
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CINFO
WHERE MLIAB_CINFO_ID IN
(

SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_BUSSUPP
WHERE MLIAB_BUSSUPP_ID IN
(

SELECT MLIAB_BUSSUPP_ID FROM USER_MLIAB_BUSSUPP WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMDTAIL_ID IN
(
SELECT MLIAB_CLMDTAIL_ID
FROM USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMSUM_ID
	IN (
					
SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CLMSUM
WHERE MLIAB_CLMSUM_ID IN
(

SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_ASSUMP
WHERE MLIAB_ASSUMP_ID IN
(

SELECT MLIAB_ASSUMP_ID FROM USER_MLIAB_ASSUMP WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CAR
WHERE MLIAB_CAR_ID IN
(

SELECT MLIAB_CAR_ID FROM USER_MLIAB_CAR WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB]  TO [TRANSACTORPMUSERS]
GO    
  
DELETE System_Claim_Liability_Fields WHERE ProductType_ID = '195'
		
    
--Update version
    
IF NOT EXISTS (SELECT PRODUCTTYPE_ID FROM SYSTEM_LIST_PRODUCTTYPE_VERSION WHERE PRODUCTTYPE_ID = '195' AND TYPE = '1' AND VERSION = 8)
BEGIN
  INSERT SYSTEM_LIST_PRODUCTTYPE_VERSION VALUES ('195', '8', getdate(), '1', '1')
  UPDATE SYSTEM_LIST_PRODUCTTYPE_VERSION SET LIVE = 0 WHERE PRODUCTTYPE_ID = '195' AND TYPE = '1' AND VERSION < 8
END
GO    
  