

--Remove deleted forms    

        
GO    

--Remove deleted controls

    
DECLARE @CAR_NEW_CFDMAXVLAUEAOI_ID CHAR(8)
SELECT @CAR_NEW_CFDMAXVLAUEAOI_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_NEW
FROM
  NAV_PERM_MLIAB_NEW PERM
    INNER JOIN NAV_FIELDS_MLIAB_NEW FIELDS
      ON PERM.NAV_MLIAB_NEW_ID = FIELDS.NAV_MLIAB_NEW_ID
WHERE
  FIELDS.PARENTID = @CAR_NEW_CFDMAXVLAUEAOI_ID
  AND FIELDS.FIELDNAME = 'cfdmaxvlaueAOI'
DELETE NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CAR_NEW_CFDMAXVLAUEAOI_ID AND FIELDNAME = 'cfdmaxvlaueAOI'
                  
DECLARE @CAR_NEW_CFDTOTVALUEHIRE_ID CHAR(8)
SELECT @CAR_NEW_CFDTOTVALUEHIRE_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_NEW
FROM
  NAV_PERM_MLIAB_NEW PERM
    INNER JOIN NAV_FIELDS_MLIAB_NEW FIELDS
      ON PERM.NAV_MLIAB_NEW_ID = FIELDS.NAV_MLIAB_NEW_ID
WHERE
  FIELDS.PARENTID = @CAR_NEW_CFDTOTVALUEHIRE_ID
  AND FIELDS.FIELDNAME = 'cfdtotvaluehire'
DELETE NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CAR_NEW_CFDTOTVALUEHIRE_ID AND FIELDNAME = 'cfdtotvaluehire'
                  
DECLARE @CAR_NEW_CFDHIRECHARGES_ID CHAR(8)
SELECT @CAR_NEW_CFDHIRECHARGES_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_NEW
FROM
  NAV_PERM_MLIAB_NEW PERM
    INNER JOIN NAV_FIELDS_MLIAB_NEW FIELDS
      ON PERM.NAV_MLIAB_NEW_ID = FIELDS.NAV_MLIAB_NEW_ID
WHERE
  FIELDS.PARENTID = @CAR_NEW_CFDHIRECHARGES_ID
  AND FIELDS.FIELDNAME = 'cfdhirecharges'
DELETE NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CAR_NEW_CFDHIRECHARGES_ID AND FIELDNAME = 'cfdhirecharges'
                  
DECLARE @CAR_NEW_CFDVALUEPLANT_ID CHAR(8)
SELECT @CAR_NEW_CFDVALUEPLANT_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_NEW
FROM
  NAV_PERM_MLIAB_NEW PERM
    INNER JOIN NAV_FIELDS_MLIAB_NEW FIELDS
      ON PERM.NAV_MLIAB_NEW_ID = FIELDS.NAV_MLIAB_NEW_ID
WHERE
  FIELDS.PARENTID = @CAR_NEW_CFDVALUEPLANT_ID
  AND FIELDS.FIELDNAME = 'cfdvalueplant'
DELETE NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CAR_NEW_CFDVALUEPLANT_ID AND FIELDNAME = 'cfdvalueplant'
                  
DECLARE @CAR_NEW_CFDONECONTRACT_ID CHAR(8)
SELECT @CAR_NEW_CFDONECONTRACT_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_NEW
FROM
  NAV_PERM_MLIAB_NEW PERM
    INNER JOIN NAV_FIELDS_MLIAB_NEW FIELDS
      ON PERM.NAV_MLIAB_NEW_ID = FIELDS.NAV_MLIAB_NEW_ID
WHERE
  FIELDS.PARENTID = @CAR_NEW_CFDONECONTRACT_ID
  AND FIELDS.FIELDNAME = 'cfdonecontract'
DELETE NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CAR_NEW_CFDONECONTRACT_ID AND FIELDNAME = 'cfdonecontract'
                  
DECLARE @CAR_ADD_CFDMAXVLAUEAOI_ID CHAR(8)
SELECT @CAR_ADD_CFDMAXVLAUEAOI_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_ADD
FROM
  NAV_PERM_MLIAB_ADD PERM
    INNER JOIN NAV_FIELDS_MLIAB_ADD FIELDS
      ON PERM.NAV_MLIAB_ADD_ID = FIELDS.NAV_MLIAB_ADD_ID
WHERE
  FIELDS.PARENTID = @CAR_ADD_CFDMAXVLAUEAOI_ID
  AND FIELDS.FIELDNAME = 'cfdmaxvlaueAOI'
DELETE NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CAR_ADD_CFDMAXVLAUEAOI_ID AND FIELDNAME = 'cfdmaxvlaueAOI'
                  
DECLARE @CAR_ADD_CFDTOTVALUEHIRE_ID CHAR(8)
SELECT @CAR_ADD_CFDTOTVALUEHIRE_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_ADD
FROM
  NAV_PERM_MLIAB_ADD PERM
    INNER JOIN NAV_FIELDS_MLIAB_ADD FIELDS
      ON PERM.NAV_MLIAB_ADD_ID = FIELDS.NAV_MLIAB_ADD_ID
WHERE
  FIELDS.PARENTID = @CAR_ADD_CFDTOTVALUEHIRE_ID
  AND FIELDS.FIELDNAME = 'cfdtotvaluehire'
DELETE NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CAR_ADD_CFDTOTVALUEHIRE_ID AND FIELDNAME = 'cfdtotvaluehire'
                  
DECLARE @CAR_ADD_CFDHIRECHARGES_ID CHAR(8)
SELECT @CAR_ADD_CFDHIRECHARGES_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_ADD
FROM
  NAV_PERM_MLIAB_ADD PERM
    INNER JOIN NAV_FIELDS_MLIAB_ADD FIELDS
      ON PERM.NAV_MLIAB_ADD_ID = FIELDS.NAV_MLIAB_ADD_ID
WHERE
  FIELDS.PARENTID = @CAR_ADD_CFDHIRECHARGES_ID
  AND FIELDS.FIELDNAME = 'cfdhirecharges'
DELETE NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CAR_ADD_CFDHIRECHARGES_ID AND FIELDNAME = 'cfdhirecharges'
                  
DECLARE @CAR_ADD_CFDVALUEPLANT_ID CHAR(8)
SELECT @CAR_ADD_CFDVALUEPLANT_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_ADD
FROM
  NAV_PERM_MLIAB_ADD PERM
    INNER JOIN NAV_FIELDS_MLIAB_ADD FIELDS
      ON PERM.NAV_MLIAB_ADD_ID = FIELDS.NAV_MLIAB_ADD_ID
WHERE
  FIELDS.PARENTID = @CAR_ADD_CFDVALUEPLANT_ID
  AND FIELDS.FIELDNAME = 'cfdvalueplant'
DELETE NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CAR_ADD_CFDVALUEPLANT_ID AND FIELDNAME = 'cfdvalueplant'
                  
DECLARE @CAR_ADD_CFDONECONTRACT_ID CHAR(8)
SELECT @CAR_ADD_CFDONECONTRACT_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_ADD
FROM
  NAV_PERM_MLIAB_ADD PERM
    INNER JOIN NAV_FIELDS_MLIAB_ADD FIELDS
      ON PERM.NAV_MLIAB_ADD_ID = FIELDS.NAV_MLIAB_ADD_ID
WHERE
  FIELDS.PARENTID = @CAR_ADD_CFDONECONTRACT_ID
  AND FIELDS.FIELDNAME = 'cfdonecontract'
DELETE NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CAR_ADD_CFDONECONTRACT_ID AND FIELDNAME = 'cfdonecontract'
                              
DECLARE @CAR_IND_CFDMAXVLAUEAOI_ID CHAR(8)
SELECT @CAR_IND_CFDMAXVLAUEAOI_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_IND
FROM
  NAV_PERM_MLIAB_IND PERM
    INNER JOIN NAV_FIELDS_MLIAB_IND FIELDS
      ON PERM.NAV_MLIAB_IND_ID = FIELDS.NAV_MLIAB_IND_ID
WHERE
  FIELDS.PARENTID = @CAR_IND_CFDMAXVLAUEAOI_ID
  AND FIELDS.FIELDNAME = 'cfdmaxvlaueAOI'
DELETE NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CAR_IND_CFDMAXVLAUEAOI_ID AND FIELDNAME = 'cfdmaxvlaueAOI'
                        
DECLARE @CAR_IND_CFDTOTVALUEHIRE_ID CHAR(8)
SELECT @CAR_IND_CFDTOTVALUEHIRE_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_IND
FROM
  NAV_PERM_MLIAB_IND PERM
    INNER JOIN NAV_FIELDS_MLIAB_IND FIELDS
      ON PERM.NAV_MLIAB_IND_ID = FIELDS.NAV_MLIAB_IND_ID
WHERE
  FIELDS.PARENTID = @CAR_IND_CFDTOTVALUEHIRE_ID
  AND FIELDS.FIELDNAME = 'cfdtotvaluehire'
DELETE NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CAR_IND_CFDTOTVALUEHIRE_ID AND FIELDNAME = 'cfdtotvaluehire'
                        
DECLARE @CAR_IND_CFDHIRECHARGES_ID CHAR(8)
SELECT @CAR_IND_CFDHIRECHARGES_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_IND
FROM
  NAV_PERM_MLIAB_IND PERM
    INNER JOIN NAV_FIELDS_MLIAB_IND FIELDS
      ON PERM.NAV_MLIAB_IND_ID = FIELDS.NAV_MLIAB_IND_ID
WHERE
  FIELDS.PARENTID = @CAR_IND_CFDHIRECHARGES_ID
  AND FIELDS.FIELDNAME = 'cfdhirecharges'
DELETE NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CAR_IND_CFDHIRECHARGES_ID AND FIELDNAME = 'cfdhirecharges'
                        
DECLARE @CAR_IND_CFDVALUEPLANT_ID CHAR(8)
SELECT @CAR_IND_CFDVALUEPLANT_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_IND
FROM
  NAV_PERM_MLIAB_IND PERM
    INNER JOIN NAV_FIELDS_MLIAB_IND FIELDS
      ON PERM.NAV_MLIAB_IND_ID = FIELDS.NAV_MLIAB_IND_ID
WHERE
  FIELDS.PARENTID = @CAR_IND_CFDVALUEPLANT_ID
  AND FIELDS.FIELDNAME = 'cfdvalueplant'
DELETE NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CAR_IND_CFDVALUEPLANT_ID AND FIELDNAME = 'cfdvalueplant'
                        
DECLARE @CAR_IND_CFDONECONTRACT_ID CHAR(8)
SELECT @CAR_IND_CFDONECONTRACT_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
DELETE
  NAV_PERM_MLIAB_IND
FROM
  NAV_PERM_MLIAB_IND PERM
    INNER JOIN NAV_FIELDS_MLIAB_IND FIELDS
      ON PERM.NAV_MLIAB_IND_ID = FIELDS.NAV_MLIAB_IND_ID
WHERE
  FIELDS.PARENTID = @CAR_IND_CFDONECONTRACT_ID
  AND FIELDS.FIELDNAME = 'cfdonecontract'
DELETE NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CAR_IND_CFDONECONTRACT_ID AND FIELDNAME = 'cfdonecontract'
                
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_SAVE_MLIAB_CAR]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_SAVE_MLIAB_CAR]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_SAVE_MLIAB_CAR

@MLIAB_CAR_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@COVERHIREPLANT [BIT],
@COVERPLANT [BIT],
@CONTRACTSWORKS [BIT],
@MAXHIRPLANTVAL_ID [VARCHAR] (8),
@HIRPLANTMACVAL_ID [VARCHAR] (8),
@HIRECHARGEVAL_ID [VARCHAR] (8),
@OWNPLANTMACVAL_ID [VARCHAR] (8),
@MAXCONTRACTVAL_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_CAR
(
	MLIAB_CAR_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[COVERHIREPLANT],
	[COVERPLANT],
	[CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID] ,
	[HIRPLANTMACVAL_ID] ,
	[HIRECHARGEVAL_ID] ,
	[OWNPLANTMACVAL_ID] ,
	[MAXCONTRACTVAL_ID] ,
	USERINSTANCE
) VALUES (
	@MLIAB_CAR_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@COVERHIREPLANT,
	@COVERPLANT,
	@CONTRACTSWORKS,
	@MAXHIRPLANTVAL_ID,
	@HIRPLANTMACVAL_ID,
	@HIRECHARGEVAL_ID,
	@OWNPLANTMACVAL_ID,
	@MAXCONTRACTVAL_ID,
	@USERINSTANCE
)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_CAR]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_CAR]  TO [TRANSACTORPMUSERS]
GO    
      
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_UPDATE_MLIAB_CAR]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_UPDATE_MLIAB_CAR]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_UPDATE_MLIAB_CAR

@MLIAB_CAR_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@COVERHIREPLANT [BIT],
@COVERPLANT [BIT],
@CONTRACTSWORKS [BIT],
@MAXHIRPLANTVAL_ID [VARCHAR] (8),
@HIRPLANTMACVAL_ID [VARCHAR] (8),
@HIRECHARGEVAL_ID [VARCHAR] (8),
@OWNPLANTMACVAL_ID [VARCHAR] (8),
@MAXCONTRACTVAL_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_CAR
SET
  [MLIAB_CAR_ID] = @MLIAB_CAR_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [COVERHIREPLANT] = @COVERHIREPLANT,
  [COVERPLANT] = @COVERPLANT,
  [CONTRACTSWORKS] = @CONTRACTSWORKS,
  [MAXHIRPLANTVAL_ID] = @MAXHIRPLANTVAL_ID,
  [HIRPLANTMACVAL_ID] = @HIRPLANTMACVAL_ID,
  [HIRECHARGEVAL_ID] = @HIRECHARGEVAL_ID,
  [OWNPLANTMACVAL_ID] = @OWNPLANTMACVAL_ID,
  [MAXCONTRACTVAL_ID] = @MAXCONTRACTVAL_ID,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_CAR_ID] = @MLIAB_CAR_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_UPDATE_MLIAB_CAR]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO
  
GO

--Add new forms
    
GO

DECLARE @TABLENAME VARCHAR(50)
DECLARE @TABLESUFFIX VARCHAR(50)
DECLARE @SQL VARCHAR(8000)

DECLARE PERMISSION_CURSOR CURSOR FOR SELECT NAME FROM SYSOBJECTS WHERE NAME LIKE 'NAV_FORMS_MLIAB%'

OPEN PERMISSION_CURSOR

FETCH NEXT FROM PERMISSION_CURSOR INTO @TABLENAME

WHILE @@FETCH_STATUS = 0
BEGIN
SELECT @TABLESUFFIX = SUBSTRING(@TABLENAME, LEN('NAV_FORMS_') + 1, LEN(@TABLENAME) - LEN('NAV_FORMS_'))
SELECT @SQL = 'DELETE NAV_PERM_' + @TABLESUFFIX
EXEC (@SQL)
SELECT @SQL = 'INSERT INTO NAV_PERM_' + @TABLESUFFIX + ' SELECT NEWID(), NAV_' + @TABLESUFFIX + '_ID, ROLE_ID FROM NAV_FIELDS_' + @TABLESUFFIX + ', SYSTEM_ROLE WHERE ENABLED_044 = 1'
EXEC (@SQL)

FETCH NEXT FROM PERMISSION_CURSOR INTO @TABLENAME

END

CLOSE PERMISSION_CURSOR
DEALLOCATE PERMISSION_CURSOR
GO            

        
GO

--Add new controls        
    
DECLARE @CAR_NEW_CBOMAXHIRPLANTVAL_ID CHAR(8)
SELECT @CAR_NEW_CBOMAXHIRPLANTVAL_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CAR_NEW_CBOMAXHIRPLANTVAL_ID AND FIELDNAME = 'cboMaxHirPlantVal')
INSERT INTO NAV_FIELDS_MLIAB_NEW( NAV_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2A0', @CAR_NEW_CBOMAXHIRPLANTVAL_ID, 'cboMaxHirPlantVal', 1, 'Maximum Value of any one Item of Hired in Plant?', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @CAR_NEW_CBOHIRPLANTMACVAL_ID CHAR(8)
SELECT @CAR_NEW_CBOHIRPLANTMACVAL_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CAR_NEW_CBOHIRPLANTMACVAL_ID AND FIELDNAME = 'cboHirPlantMacVal')
INSERT INTO NAV_FIELDS_MLIAB_NEW( NAV_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2A9', @CAR_NEW_CBOHIRPLANTMACVAL_ID, 'cboHirPlantMacVal', 1, 'Total value of your Hired in Plant and Machinery?', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @CAR_NEW_CBOHIRECHARGEVAL_ID CHAR(8)
SELECT @CAR_NEW_CBOHIRECHARGEVAL_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CAR_NEW_CBOHIRECHARGEVAL_ID AND FIELDNAME = 'cboHireChargeVal')
INSERT INTO NAV_FIELDS_MLIAB_NEW( NAV_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2A8', @CAR_NEW_CBOHIRECHARGEVAL_ID, 'cboHireChargeVal', 1, 'What do you spend on hire charges over 12 months?', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @CAR_NEW_CBOOWNPLANTMACVAL_ID CHAR(8)
SELECT @CAR_NEW_CBOOWNPLANTMACVAL_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CAR_NEW_CBOOWNPLANTMACVAL_ID AND FIELDNAME = 'cboOwnPlantMacVal')
INSERT INTO NAV_FIELDS_MLIAB_NEW( NAV_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2A7', @CAR_NEW_CBOOWNPLANTMACVAL_ID, 'cboOwnPlantMacVal', 1, 'What is the value of your own Plant and Machinery?', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @CAR_NEW_CBOMAXCONTRACTVAL_ID CHAR(8)
SELECT @CAR_NEW_CBOMAXCONTRACTVAL_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CAR_NEW_CBOMAXCONTRACTVAL_ID AND FIELDNAME = 'cboMaxContractVal')
INSERT INTO NAV_FIELDS_MLIAB_NEW( NAV_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2A6', @CAR_NEW_CBOMAXCONTRACTVAL_ID, 'cboMaxContractVal', 1, 'What is the maximum value of any one contract?', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @CAR_ADD_CBOMAXHIRPLANTVAL_ID CHAR(8)
SELECT @CAR_ADD_CBOMAXHIRPLANTVAL_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CAR_ADD_CBOMAXHIRPLANTVAL_ID AND FIELDNAME = 'cboMaxHirPlantVal')
INSERT INTO NAV_FIELDS_MLIAB_ADD( NAV_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2A5', @CAR_ADD_CBOMAXHIRPLANTVAL_ID, 'cboMaxHirPlantVal', 1, 'Maximum Value of any one Item of Hired in Plant?', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @CAR_ADD_CBOHIRPLANTMACVAL_ID CHAR(8)
SELECT @CAR_ADD_CBOHIRPLANTMACVAL_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CAR_ADD_CBOHIRPLANTMACVAL_ID AND FIELDNAME = 'cboHirPlantMacVal')
INSERT INTO NAV_FIELDS_MLIAB_ADD( NAV_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2B5', @CAR_ADD_CBOHIRPLANTMACVAL_ID, 'cboHirPlantMacVal', 1, 'Total value of your Hired in Plant and Machinery?', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @CAR_ADD_CBOHIRECHARGEVAL_ID CHAR(8)
SELECT @CAR_ADD_CBOHIRECHARGEVAL_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CAR_ADD_CBOHIRECHARGEVAL_ID AND FIELDNAME = 'cboHireChargeVal')
INSERT INTO NAV_FIELDS_MLIAB_ADD( NAV_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2B4', @CAR_ADD_CBOHIRECHARGEVAL_ID, 'cboHireChargeVal', 1, 'What do you spend on hire charges over 12 months?', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @CAR_ADD_CBOOWNPLANTMACVAL_ID CHAR(8)
SELECT @CAR_ADD_CBOOWNPLANTMACVAL_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CAR_ADD_CBOOWNPLANTMACVAL_ID AND FIELDNAME = 'cboOwnPlantMacVal')
INSERT INTO NAV_FIELDS_MLIAB_ADD( NAV_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2B3', @CAR_ADD_CBOOWNPLANTMACVAL_ID, 'cboOwnPlantMacVal', 1, 'What is the value of your own Plant and Machinery?', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @CAR_ADD_CBOMAXCONTRACTVAL_ID CHAR(8)
SELECT @CAR_ADD_CBOMAXCONTRACTVAL_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CAR_ADD_CBOMAXCONTRACTVAL_ID AND FIELDNAME = 'cboMaxContractVal')
INSERT INTO NAV_FIELDS_MLIAB_ADD( NAV_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2B2', @CAR_ADD_CBOMAXCONTRACTVAL_ID, 'cboMaxContractVal', 1, 'What is the maximum value of any one contract?', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @CAR_IND_CBOMAXHIRPLANTVAL_ID CHAR(8)
SELECT @CAR_IND_CBOMAXHIRPLANTVAL_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CAR_IND_CBOMAXHIRPLANTVAL_ID AND FIELDNAME = 'cboMaxHirPlantVal')
INSERT INTO NAV_FIELDS_MLIAB_IND( NAV_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2B1', @CAR_IND_CBOMAXHIRPLANTVAL_ID, 'cboMaxHirPlantVal', 1, 'Maximum Value of any one Item of Hired in Plant?', NULL, 0, NULL, NULL, 't', NULL)
            
DECLARE @CAR_IND_CBOHIRPLANTMACVAL_ID CHAR(8)
SELECT @CAR_IND_CBOHIRPLANTMACVAL_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CAR_IND_CBOHIRPLANTMACVAL_ID AND FIELDNAME = 'cboHirPlantMacVal')
INSERT INTO NAV_FIELDS_MLIAB_IND( NAV_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2B0', @CAR_IND_CBOHIRPLANTMACVAL_ID, 'cboHirPlantMacVal', 1, 'Total value of your Hired in Plant and Machinery?', NULL, 0, NULL, NULL, 't', NULL)
            
DECLARE @CAR_IND_CBOHIRECHARGEVAL_ID CHAR(8)
SELECT @CAR_IND_CBOHIRECHARGEVAL_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CAR_IND_CBOHIRECHARGEVAL_ID AND FIELDNAME = 'cboHireChargeVal')
INSERT INTO NAV_FIELDS_MLIAB_IND( NAV_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2B9', @CAR_IND_CBOHIRECHARGEVAL_ID, 'cboHireChargeVal', 1, 'What do you spend on hire charges over 12 months?', NULL, 0, NULL, NULL, 't', NULL)
            
DECLARE @CAR_IND_CBOOWNPLANTMACVAL_ID CHAR(8)
SELECT @CAR_IND_CBOOWNPLANTMACVAL_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CAR_IND_CBOOWNPLANTMACVAL_ID AND FIELDNAME = 'cboOwnPlantMacVal')
INSERT INTO NAV_FIELDS_MLIAB_IND( NAV_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2B8', @CAR_IND_CBOOWNPLANTMACVAL_ID, 'cboOwnPlantMacVal', 1, 'What is the value of your own Plant and Machinery?', NULL, 0, NULL, NULL, 't', NULL)
            
DECLARE @CAR_IND_CBOMAXCONTRACTVAL_ID CHAR(8)
SELECT @CAR_IND_CBOMAXCONTRACTVAL_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCAR.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CAR_IND_CBOMAXCONTRACTVAL_ID AND FIELDNAME = 'cboMaxContractVal')
INSERT INTO NAV_FIELDS_MLIAB_IND( NAV_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '42JAL2B7', @CAR_IND_CBOMAXCONTRACTVAL_ID, 'cboMaxContractVal', 1, 'What is the maximum value of any one contract?', NULL, 0, NULL, NULL, 't', NULL)
            
IF NOT EXISTS (SELECT * FROM SYSOBJECTS SO INNER JOIN SYSCOLUMNS SC ON SO.ID = SC.ID WHERE SC.NAME = 'MAXHIRPLANTVAL_ID' AND SO.NAME = 'USER_MLIAB_CAR')	
BEGIN
  ALTER TABLE [dbo].[USER_MLIAB_CAR] WITH NOCHECK  
	  ADD [MAXHIRPLANTVAL_ID] [VARCHAR] (8) NULL          
	  CONSTRAINT [DF_UMLIAB_CAR42JAL2C7] DEFAULT ('0') 

  ALTER TABLE [dbo].[USER_MLIAB_CAR] ADD 
	  CONSTRAINT [FK_UMLIAB_CAR42JAL2C6] FOREIGN KEY 
	  (
		  [MAXHIRPLANTVAL_ID]
        
	  ) REFERENCES [dbo].[LIST_MH_CARMAXHIRPLANTVAL] (
		  [MH_CARMAXHIRPLANTVAL_ID]
	  )	NOT FOR REPLICATION
	          	
END      
GO
    
IF NOT EXISTS (SELECT * FROM SYSOBJECTS SO INNER JOIN SYSCOLUMNS SC ON SO.ID = SC.ID WHERE SC.NAME = 'HIRPLANTMACVAL_ID' AND SO.NAME = 'USER_MLIAB_CAR')	
BEGIN
  ALTER TABLE [dbo].[USER_MLIAB_CAR] WITH NOCHECK  
	  ADD [HIRPLANTMACVAL_ID] [VARCHAR] (8) NULL          
	  CONSTRAINT [DF_UMLIAB_CAR42JAL2C5] DEFAULT ('0') 

  ALTER TABLE [dbo].[USER_MLIAB_CAR] ADD 
	  CONSTRAINT [FK_UMLIAB_CAR42JAL2C4] FOREIGN KEY 
	  (
		  [HIRPLANTMACVAL_ID]
        
	  ) REFERENCES [dbo].[LIST_MH_CARHIRPLANTMACVAL] (
		  [MH_CARHIRPLANTMACVAL_ID]
	  )	NOT FOR REPLICATION
	          	
END      
GO
    
IF NOT EXISTS (SELECT * FROM SYSOBJECTS SO INNER JOIN SYSCOLUMNS SC ON SO.ID = SC.ID WHERE SC.NAME = 'HIRECHARGEVAL_ID' AND SO.NAME = 'USER_MLIAB_CAR')	
BEGIN
  ALTER TABLE [dbo].[USER_MLIAB_CAR] WITH NOCHECK  
	  ADD [HIRECHARGEVAL_ID] [VARCHAR] (8) NULL          
	  CONSTRAINT [DF_UMLIAB_CAR42JAL2C3] DEFAULT ('0') 

  ALTER TABLE [dbo].[USER_MLIAB_CAR] ADD 
	  CONSTRAINT [FK_UMLIAB_CAR42JAL2C2] FOREIGN KEY 
	  (
		  [HIRECHARGEVAL_ID]
        
	  ) REFERENCES [dbo].[LIST_MH_CARHIRECHARGEVAL] (
		  [MH_CARHIRECHARGEVAL_ID]
	  )	NOT FOR REPLICATION
	          	
END      
GO
    
IF NOT EXISTS (SELECT * FROM SYSOBJECTS SO INNER JOIN SYSCOLUMNS SC ON SO.ID = SC.ID WHERE SC.NAME = 'OWNPLANTMACVAL_ID' AND SO.NAME = 'USER_MLIAB_CAR')	
BEGIN
  ALTER TABLE [dbo].[USER_MLIAB_CAR] WITH NOCHECK  
	  ADD [OWNPLANTMACVAL_ID] [VARCHAR] (8) NULL          
	  CONSTRAINT [DF_UMLIAB_CAR42JAL2C1] DEFAULT ('0') 

  ALTER TABLE [dbo].[USER_MLIAB_CAR] ADD 
	  CONSTRAINT [FK_UMLIAB_CAR42JAL2C0] FOREIGN KEY 
	  (
		  [OWNPLANTMACVAL_ID]
        
	  ) REFERENCES [dbo].[LIST_MH_CAROWNPLANTMACVAL] (
		  [MH_CAROWNPLANTMACVAL_ID]
	  )	NOT FOR REPLICATION
	          	
END      
GO
    
IF NOT EXISTS (SELECT * FROM SYSOBJECTS SO INNER JOIN SYSCOLUMNS SC ON SO.ID = SC.ID WHERE SC.NAME = 'MAXCONTRACTVAL_ID' AND SO.NAME = 'USER_MLIAB_CAR')	
BEGIN
  ALTER TABLE [dbo].[USER_MLIAB_CAR] WITH NOCHECK  
	  ADD [MAXCONTRACTVAL_ID] [VARCHAR] (8) NULL          
	  CONSTRAINT [DF_UMLIAB_CAR42JAL2C9] DEFAULT ('0') 

  ALTER TABLE [dbo].[USER_MLIAB_CAR] ADD 
	  CONSTRAINT [FK_UMLIAB_CAR42JAL2C8] FOREIGN KEY 
	  (
		  [MAXCONTRACTVAL_ID]
        
	  ) REFERENCES [dbo].[LIST_MH_CARMAXCONTRACTVAL] (
		  [MH_CARMAXCONTRACTVAL_ID]
	  )	NOT FOR REPLICATION
	          	
END      
GO
    
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_READ_MLIAB_CAR]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_READ_MLIAB_CAR]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_READ_MLIAB_CAR (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
	USER_MLIAB_CAR.[MLIAB_CAR_ID], 

  USER_MLIAB_CAR.[HISTORY_ID],
	USER_MLIAB_CAR.[POLICY_DETAILS_ID]
		,
	USER_MLIAB_CAR.[COVERHIREPLANT],
	USER_MLIAB_CAR.[COVERPLANT],
	USER_MLIAB_CAR.[CONTRACTSWORKS],MAXHIRPLANTVAL_ALIAS.[MH_CARMAXHIRPLANTVAL_ID] as MAXHIRPLANTVAL_ID,
	MAXHIRPLANTVAL_ALIAS.[MH_CARMAXHIRPLANTVAL_DEBUG] as MAXHIRPLANTVAL_DEBUG,HIRPLANTMACVAL_ALIAS.[MH_CARHIRPLANTMACVAL_ID] as HIRPLANTMACVAL_ID,
	HIRPLANTMACVAL_ALIAS.[MH_CARHIRPLANTMACVAL_DEBUG] as HIRPLANTMACVAL_DEBUG,HIRECHARGEVAL_ALIAS.[MH_CARHIRECHARGEVAL_ID] as HIRECHARGEVAL_ID,
	HIRECHARGEVAL_ALIAS.[MH_CARHIRECHARGEVAL_DEBUG] as HIRECHARGEVAL_DEBUG,OWNPLANTMACVAL_ALIAS.[MH_CAROWNPLANTMACVAL_ID] as OWNPLANTMACVAL_ID,
	OWNPLANTMACVAL_ALIAS.[MH_CAROWNPLANTMACVAL_DEBUG] as OWNPLANTMACVAL_DEBUG,MAXCONTRACTVAL_ALIAS.[MH_CARMAXCONTRACTVAL_ID] as MAXCONTRACTVAL_ID,
	MAXCONTRACTVAL_ALIAS.[MH_CARMAXCONTRACTVAL_DEBUG] as MAXCONTRACTVAL_DEBUG,
	USER_MLIAB_CAR.USERINSTANCE
FROM		
	USER_MLIAB_CAR
	INNER JOIN LIST_MH_CARMAXHIRPLANTVAL as MAXHIRPLANTVAL_ALIAS ON USER_MLIAB_CAR.[MAXHIRPLANTVAL_ID] = MAXHIRPLANTVAL_ALIAS.[MH_CARMAXHIRPLANTVAL_ID]
	INNER JOIN LIST_MH_CARHIRPLANTMACVAL as HIRPLANTMACVAL_ALIAS ON USER_MLIAB_CAR.[HIRPLANTMACVAL_ID] = HIRPLANTMACVAL_ALIAS.[MH_CARHIRPLANTMACVAL_ID]
	INNER JOIN LIST_MH_CARHIRECHARGEVAL as HIRECHARGEVAL_ALIAS ON USER_MLIAB_CAR.[HIRECHARGEVAL_ID] = HIRECHARGEVAL_ALIAS.[MH_CARHIRECHARGEVAL_ID]
	INNER JOIN LIST_MH_CAROWNPLANTMACVAL as OWNPLANTMACVAL_ALIAS ON USER_MLIAB_CAR.[OWNPLANTMACVAL_ID] = OWNPLANTMACVAL_ALIAS.[MH_CAROWNPLANTMACVAL_ID]
	INNER JOIN LIST_MH_CARMAXCONTRACTVAL as MAXCONTRACTVAL_ALIAS ON USER_MLIAB_CAR.[MAXCONTRACTVAL_ID] = MAXCONTRACTVAL_ALIAS.[MH_CARMAXCONTRACTVAL_ID]
WHERE
  USER_MLIAB_CAR.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_CAR.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_CAR.USERINSTANCE ASC
		
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_CAR]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_CAR]  TO [TRANSACTORPMUSERS]
GO

    
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_SAVE_MLIAB_CAR]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_SAVE_MLIAB_CAR]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_SAVE_MLIAB_CAR

@MLIAB_CAR_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@COVERHIREPLANT [BIT],
@COVERPLANT [BIT],
@CONTRACTSWORKS [BIT],
@MAXHIRPLANTVAL_ID [VARCHAR] (8),
@HIRPLANTMACVAL_ID [VARCHAR] (8),
@HIRECHARGEVAL_ID [VARCHAR] (8),
@OWNPLANTMACVAL_ID [VARCHAR] (8),
@MAXCONTRACTVAL_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_CAR
(
	MLIAB_CAR_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[COVERHIREPLANT],
	[COVERPLANT],
	[CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID] ,
	[HIRPLANTMACVAL_ID] ,
	[HIRECHARGEVAL_ID] ,
	[OWNPLANTMACVAL_ID] ,
	[MAXCONTRACTVAL_ID] ,
	USERINSTANCE
) VALUES (
	@MLIAB_CAR_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@COVERHIREPLANT,
	@COVERPLANT,
	@CONTRACTSWORKS,
	@MAXHIRPLANTVAL_ID,
	@HIRPLANTMACVAL_ID,
	@HIRECHARGEVAL_ID,
	@OWNPLANTMACVAL_ID,
	@MAXCONTRACTVAL_ID,
	@USERINSTANCE
)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_CAR]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_CAR]  TO [TRANSACTORPMUSERS]
GO    
      
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_UPDATE_MLIAB_CAR]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_UPDATE_MLIAB_CAR]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_UPDATE_MLIAB_CAR

@MLIAB_CAR_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@COVERHIREPLANT [BIT],
@COVERPLANT [BIT],
@CONTRACTSWORKS [BIT],
@MAXHIRPLANTVAL_ID [VARCHAR] (8),
@HIRPLANTMACVAL_ID [VARCHAR] (8),
@HIRECHARGEVAL_ID [VARCHAR] (8),
@OWNPLANTMACVAL_ID [VARCHAR] (8),
@MAXCONTRACTVAL_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_CAR
SET
  [MLIAB_CAR_ID] = @MLIAB_CAR_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [COVERHIREPLANT] = @COVERHIREPLANT,
  [COVERPLANT] = @COVERPLANT,
  [CONTRACTSWORKS] = @CONTRACTSWORKS,
  [MAXHIRPLANTVAL_ID] = @MAXHIRPLANTVAL_ID,
  [HIRPLANTMACVAL_ID] = @HIRPLANTMACVAL_ID,
  [HIRECHARGEVAL_ID] = @HIRECHARGEVAL_ID,
  [OWNPLANTMACVAL_ID] = @OWNPLANTMACVAL_ID,
  [MAXCONTRACTVAL_ID] = @MAXCONTRACTVAL_ID,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_CAR_ID] = @MLIAB_CAR_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_UPDATE_MLIAB_CAR]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO
  
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_DELETE_MLIAB_CAR]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_DELETE_MLIAB_CAR]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_DELETE_MLIAB_CAR (

@MLIAB_CAR_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_CAR WHERE [MLIAB_CAR_ID] = @MLIAB_CAR_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB_CAR]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_MaxHirPlantVal')
	
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_MaxHirPlantVal','Maximum Value of any one Item of Hired in Plant?','UO_MLIAB_CAR',NULL,'t',NULL,NULL, 'LIST_MH_CARMaxHirPlantVal')
		IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_HirPlantMacVal')
	
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_HirPlantMacVal','Total value of your Hired in Plant and Machinery?','UO_MLIAB_CAR',NULL,'t',NULL,NULL, 'LIST_MH_CARHirPlantMacVal')
		IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_HireChargeVal')
	
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_HireChargeVal','What do you spend on hire charges over 12 months?','UO_MLIAB_CAR',NULL,'t',NULL,NULL, 'LIST_MH_CARHireChargeVal')
		IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_OwnPlantMacVal')
	
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_OwnPlantMacVal','What is the value of your own Plant and Machinery?','UO_MLIAB_CAR',NULL,'t',NULL,NULL, 'LIST_MH_CAROwnPlantMacVal')
		IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CAR_MaxContractVal')
	
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CAR_MaxContractVal','What is the maximum value of any one contract?','UO_MLIAB_CAR',NULL,'t',NULL,NULL, 'LIST_MH_CARMaxContractVal')
					
	
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_CLONE_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_CLONE_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_CLONE_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT,
@NEWHISTORY_ID INT

AS


INSERT USER_MLIAB_TrdDtail         
(
	MLIAB_TrdDtail_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
)
SELECT	[MLIAB_TrdDtail_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
FROM USER_MLIAB_TrdDtail WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_CInfo         
(
	MLIAB_CInfo_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
	[USERINSTANCE]
)
SELECT	[MLIAB_CInfo_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
	[USERINSTANCE]
FROM USER_MLIAB_CInfo WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_BusSupp         
(
	MLIAB_BusSupp_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
)
SELECT	[MLIAB_BusSupp_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_BusSupp WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_ClmSum         
(
	MLIAB_ClmSum_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
  [INCIDENTS],
	[USERINSTANCE]
)
SELECT	[MLIAB_ClmSum_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
  [INCIDENTS],
	[USERINSTANCE]
FROM USER_MLIAB_ClmSum WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_Assump         
(
	MLIAB_Assump_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
)
SELECT	[MLIAB_Assump_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
FROM USER_MLIAB_Assump WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_CAR         
(
	MLIAB_CAR_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID],
	[HIRPLANTMACVAL_ID],
	[HIRECHARGEVAL_ID],
	[OWNPLANTMACVAL_ID],
	[MAXCONTRACTVAL_ID],
	[USERINSTANCE]
)
SELECT	[MLIAB_CAR_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID],
	[HIRPLANTMACVAL_ID],
	[HIRECHARGEVAL_ID],
	[OWNPLANTMACVAL_ID],
	[MAXCONTRACTVAL_ID],
	[USERINSTANCE]
FROM USER_MLIAB_CAR WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
					
INSERT USER_MLIAB_PandP         
(
	MLIAB_PandP_ID,     
	HISTORY_ID,	
	MLIAB_CINFO_ID
	,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_PandP_ID],
	@NEWHISTORY_ID,
	[MLIAB_CINFO_ID],
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_PANDP
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_ClmDtail         
(
	MLIAB_ClmDtail_ID,     
	HISTORY_ID,	
	MLIAB_CLMSUM_ID
	,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_ClmDtail_ID],
	@NEWHISTORY_ID,
	[MLIAB_CLMSUM_ID],
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMSUM_ID
	IN (
					
SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_Subsid         
(
	MLIAB_Subsid_ID,     
	HISTORY_ID,	
	MLIAB_CINFO_ID
	,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_Subsid_ID],
	@NEWHISTORY_ID,
	[MLIAB_CINFO_ID],
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	[USERINSTANCE]
			
FROM USER_MLIAB_SUBSID
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_CLONE_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_CLONE_MLIAB]  TO [TRANSACTORPMUSERS]
GO  

		
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_COPY_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_COPY_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_COPY_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT,
@NEW_POLICY_DETAILS_ID CHAR(32),
@NEW_HISTORY_ID INT

AS

DECLARE @NEW_ID char(32)

--No parent, no child.				
INSERT USER_MLIAB_TrdDtail                 
(
	MLIAB_TrdDtail_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
FROM USER_MLIAB_TrdDtail WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_CInfo_ID char(32)
DECLARE MLIAB_CInfo_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_CInfo_ID] FROM USER_MLIAB_CInfo WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_CInfo_CURSOR
 
FETCH NEXT FROM MLIAB_CInfo_CURSOR INTO @MLIAB_CInfo_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_CInfo_ID char(32)
	SELECT @NEW_MLIAB_CInfo_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_CInfo 
	(
	  MLIAB_CInfo_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_CInfo_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
		[USERINSTANCE]
	FROM USER_MLIAB_CInfo WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)
						
	--Child.
	INSERT USER_MLIAB_PandP 
  (
	  MLIAB_PandP_ID,     
	  HISTORY_ID,
	  MLIAB_CInfo_ID,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_CInfo_ID,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_PandP WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)	
				
	--Child.
	INSERT USER_MLIAB_Subsid 
  (
	  MLIAB_Subsid_ID,     
	  HISTORY_ID,
	  MLIAB_CInfo_ID,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_CInfo_ID,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
		[USERINSTANCE]
	FROM USER_MLIAB_Subsid WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)	
								
	FETCH NEXT FROM MLIAB_CInfo_CURSOR INTO @MLIAB_CInfo_ID

END

CLOSE MLIAB_CInfo_CURSOR
DEALLOCATE MLIAB_CInfo_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_BusSupp                 
(
	MLIAB_BusSupp_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_BusSupp WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_ClmSum_ID char(32)
DECLARE MLIAB_ClmSum_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_ClmSum_ID] FROM USER_MLIAB_ClmSum WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_ClmSum_CURSOR
 
FETCH NEXT FROM MLIAB_ClmSum_CURSOR INTO @MLIAB_ClmSum_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_ClmSum_ID char(32)
	SELECT @NEW_MLIAB_ClmSum_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_ClmSum 
	(
	  MLIAB_ClmSum_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
  [INCIDENTS],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_ClmSum_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
  [INCIDENTS],
		[USERINSTANCE]
	FROM USER_MLIAB_ClmSum WHERE (MLIAB_ClmSum_ID = @MLIAB_ClmSum_ID AND HISTORY_ID = @HISTORY_ID)
						
	--Child.
	INSERT USER_MLIAB_ClmDtail 
  (
	  MLIAB_ClmDtail_ID,     
	  HISTORY_ID,
	  MLIAB_ClmSum_ID,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_ClmSum_ID,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_ClmDtail WHERE (MLIAB_ClmSum_ID = @MLIAB_ClmSum_ID AND HISTORY_ID = @HISTORY_ID)	
								
	FETCH NEXT FROM MLIAB_ClmSum_CURSOR INTO @MLIAB_ClmSum_ID

END

CLOSE MLIAB_ClmSum_CURSOR
DEALLOCATE MLIAB_ClmSum_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_Assump                 
(
	MLIAB_Assump_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
FROM USER_MLIAB_Assump WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
							
--No parent, no child.				
INSERT USER_MLIAB_CAR                 
(
	MLIAB_CAR_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID],
	[HIRPLANTMACVAL_ID],
	[HIRECHARGEVAL_ID],
	[OWNPLANTMACVAL_ID],
	[MAXCONTRACTVAL_ID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID],
	[HIRPLANTMACVAL_ID],
	[HIRECHARGEVAL_ID],
	[OWNPLANTMACVAL_ID],
	[MAXCONTRACTVAL_ID],
	[USERINSTANCE]
FROM USER_MLIAB_CAR WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
							


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_COPY_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_COPY_MLIAB]  TO [TRANSACTORPMUSERS]
GO  
	
DELETE System_Claim_Liability_Fields WHERE ProductType_ID = '195'
		
    
--Update version
    
IF NOT EXISTS (SELECT PRODUCTTYPE_ID FROM SYSTEM_LIST_PRODUCTTYPE_VERSION WHERE PRODUCTTYPE_ID = '195' AND TYPE = '1' AND VERSION = 9)
BEGIN
  INSERT SYSTEM_LIST_PRODUCTTYPE_VERSION VALUES ('195', '9', getdate(), '1', '1')
  UPDATE SYSTEM_LIST_PRODUCTTYPE_VERSION SET LIVE = 0 WHERE PRODUCTTYPE_ID = '195' AND TYPE = '1' AND VERSION < 9
END
GO    
  