

--Remove deleted forms    

        
GO    

--Remove deleted controls

    
DECLARE @CInfo_NEW_TXTTOTEMPEXCLP_ID CHAR(8)
SELECT @CInfo_NEW_TXTTOTEMPEXCLP_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_NEW
FROM
  NAV_PERM_MLIAB_NEW PERM
    INNER JOIN NAV_FIELDS_MLIAB_NEW FIELDS
      ON PERM.NAV_MLIAB_NEW_ID = FIELDS.NAV_MLIAB_NEW_ID
WHERE
  FIELDS.PARENTID = @CInfo_NEW_TXTTOTEMPEXCLP_ID
  AND FIELDS.FIELDNAME = 'txtTotEmpExclP'
DELETE NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CInfo_NEW_TXTTOTEMPEXCLP_ID AND FIELDNAME = 'txtTotEmpExclP'
                  
DECLARE @CInfo_NEW_TXTTEMPPANDP_ID CHAR(8)
SELECT @CInfo_NEW_TXTTEMPPANDP_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_NEW
FROM
  NAV_PERM_MLIAB_NEW PERM
    INNER JOIN NAV_FIELDS_MLIAB_NEW FIELDS
      ON PERM.NAV_MLIAB_NEW_ID = FIELDS.NAV_MLIAB_NEW_ID
WHERE
  FIELDS.PARENTID = @CInfo_NEW_TXTTEMPPANDP_ID
  AND FIELDS.FIELDNAME = 'txttempPandP'
DELETE NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CInfo_NEW_TXTTEMPPANDP_ID AND FIELDNAME = 'txttempPandP'
                  
DECLARE @CInfo_NEW_TXTTEMPTOT_ID CHAR(8)
SELECT @CInfo_NEW_TXTTEMPTOT_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_NEW
FROM
  NAV_PERM_MLIAB_NEW PERM
    INNER JOIN NAV_FIELDS_MLIAB_NEW FIELDS
      ON PERM.NAV_MLIAB_NEW_ID = FIELDS.NAV_MLIAB_NEW_ID
WHERE
  FIELDS.PARENTID = @CInfo_NEW_TXTTEMPTOT_ID
  AND FIELDS.FIELDNAME = 'txttempTot'
DELETE NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CInfo_NEW_TXTTEMPTOT_ID AND FIELDNAME = 'txttempTot'
                  
DECLARE @CInfo_NEW_TXTTEMPNONMANE_ID CHAR(8)
SELECT @CInfo_NEW_TXTTEMPNONMANE_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_NEW
FROM
  NAV_PERM_MLIAB_NEW PERM
    INNER JOIN NAV_FIELDS_MLIAB_NEW FIELDS
      ON PERM.NAV_MLIAB_NEW_ID = FIELDS.NAV_MLIAB_NEW_ID
WHERE
  FIELDS.PARENTID = @CInfo_NEW_TXTTEMPNONMANE_ID
  AND FIELDS.FIELDNAME = 'txtTempNonManE'
DELETE NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CInfo_NEW_TXTTEMPNONMANE_ID AND FIELDNAME = 'txtTempNonManE'
                  
DECLARE @CInfo_NEW_TXTTEMPMANE_ID CHAR(8)
SELECT @CInfo_NEW_TXTTEMPMANE_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_NEW
FROM
  NAV_PERM_MLIAB_NEW PERM
    INNER JOIN NAV_FIELDS_MLIAB_NEW FIELDS
      ON PERM.NAV_MLIAB_NEW_ID = FIELDS.NAV_MLIAB_NEW_ID
WHERE
  FIELDS.PARENTID = @CInfo_NEW_TXTTEMPMANE_ID
  AND FIELDS.FIELDNAME = 'txtTempManE'
DELETE NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CInfo_NEW_TXTTEMPMANE_ID AND FIELDNAME = 'txtTempManE'
                  
DECLARE @CInfo_NEW_TXTTEMPNONMAND_ID CHAR(8)
SELECT @CInfo_NEW_TXTTEMPNONMAND_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_NEW
FROM
  NAV_PERM_MLIAB_NEW PERM
    INNER JOIN NAV_FIELDS_MLIAB_NEW FIELDS
      ON PERM.NAV_MLIAB_NEW_ID = FIELDS.NAV_MLIAB_NEW_ID
WHERE
  FIELDS.PARENTID = @CInfo_NEW_TXTTEMPNONMAND_ID
  AND FIELDS.FIELDNAME = 'txtTempNonManD'
DELETE NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CInfo_NEW_TXTTEMPNONMAND_ID AND FIELDNAME = 'txtTempNonManD'
                  
DECLARE @CInfo_NEW_TXTTEMPMAND_ID CHAR(8)
SELECT @CInfo_NEW_TXTTEMPMAND_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_NEW
FROM
  NAV_PERM_MLIAB_NEW PERM
    INNER JOIN NAV_FIELDS_MLIAB_NEW FIELDS
      ON PERM.NAV_MLIAB_NEW_ID = FIELDS.NAV_MLIAB_NEW_ID
WHERE
  FIELDS.PARENTID = @CInfo_NEW_TXTTEMPMAND_ID
  AND FIELDS.FIELDNAME = 'txttempManD'
DELETE NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CInfo_NEW_TXTTEMPMAND_ID AND FIELDNAME = 'txttempManD'
                  
DECLARE @CInfo_ADD_TXTTOTEMPEXCLP_ID CHAR(8)
SELECT @CInfo_ADD_TXTTOTEMPEXCLP_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_ADD
FROM
  NAV_PERM_MLIAB_ADD PERM
    INNER JOIN NAV_FIELDS_MLIAB_ADD FIELDS
      ON PERM.NAV_MLIAB_ADD_ID = FIELDS.NAV_MLIAB_ADD_ID
WHERE
  FIELDS.PARENTID = @CInfo_ADD_TXTTOTEMPEXCLP_ID
  AND FIELDS.FIELDNAME = 'txtTotEmpExclP'
DELETE NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CInfo_ADD_TXTTOTEMPEXCLP_ID AND FIELDNAME = 'txtTotEmpExclP'
                  
DECLARE @CInfo_ADD_TXTTEMPPANDP_ID CHAR(8)
SELECT @CInfo_ADD_TXTTEMPPANDP_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_ADD
FROM
  NAV_PERM_MLIAB_ADD PERM
    INNER JOIN NAV_FIELDS_MLIAB_ADD FIELDS
      ON PERM.NAV_MLIAB_ADD_ID = FIELDS.NAV_MLIAB_ADD_ID
WHERE
  FIELDS.PARENTID = @CInfo_ADD_TXTTEMPPANDP_ID
  AND FIELDS.FIELDNAME = 'txttempPandP'
DELETE NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CInfo_ADD_TXTTEMPPANDP_ID AND FIELDNAME = 'txttempPandP'
                  
DECLARE @CInfo_ADD_TXTTEMPTOT_ID CHAR(8)
SELECT @CInfo_ADD_TXTTEMPTOT_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_ADD
FROM
  NAV_PERM_MLIAB_ADD PERM
    INNER JOIN NAV_FIELDS_MLIAB_ADD FIELDS
      ON PERM.NAV_MLIAB_ADD_ID = FIELDS.NAV_MLIAB_ADD_ID
WHERE
  FIELDS.PARENTID = @CInfo_ADD_TXTTEMPTOT_ID
  AND FIELDS.FIELDNAME = 'txttempTot'
DELETE NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CInfo_ADD_TXTTEMPTOT_ID AND FIELDNAME = 'txttempTot'
                  
DECLARE @CInfo_ADD_TXTTEMPNONMANE_ID CHAR(8)
SELECT @CInfo_ADD_TXTTEMPNONMANE_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_ADD
FROM
  NAV_PERM_MLIAB_ADD PERM
    INNER JOIN NAV_FIELDS_MLIAB_ADD FIELDS
      ON PERM.NAV_MLIAB_ADD_ID = FIELDS.NAV_MLIAB_ADD_ID
WHERE
  FIELDS.PARENTID = @CInfo_ADD_TXTTEMPNONMANE_ID
  AND FIELDS.FIELDNAME = 'txtTempNonManE'
DELETE NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CInfo_ADD_TXTTEMPNONMANE_ID AND FIELDNAME = 'txtTempNonManE'
                  
DECLARE @CInfo_ADD_TXTTEMPMANE_ID CHAR(8)
SELECT @CInfo_ADD_TXTTEMPMANE_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_ADD
FROM
  NAV_PERM_MLIAB_ADD PERM
    INNER JOIN NAV_FIELDS_MLIAB_ADD FIELDS
      ON PERM.NAV_MLIAB_ADD_ID = FIELDS.NAV_MLIAB_ADD_ID
WHERE
  FIELDS.PARENTID = @CInfo_ADD_TXTTEMPMANE_ID
  AND FIELDS.FIELDNAME = 'txtTempManE'
DELETE NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CInfo_ADD_TXTTEMPMANE_ID AND FIELDNAME = 'txtTempManE'
                  
DECLARE @CInfo_ADD_TXTTEMPNONMAND_ID CHAR(8)
SELECT @CInfo_ADD_TXTTEMPNONMAND_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_ADD
FROM
  NAV_PERM_MLIAB_ADD PERM
    INNER JOIN NAV_FIELDS_MLIAB_ADD FIELDS
      ON PERM.NAV_MLIAB_ADD_ID = FIELDS.NAV_MLIAB_ADD_ID
WHERE
  FIELDS.PARENTID = @CInfo_ADD_TXTTEMPNONMAND_ID
  AND FIELDS.FIELDNAME = 'txtTempNonManD'
DELETE NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CInfo_ADD_TXTTEMPNONMAND_ID AND FIELDNAME = 'txtTempNonManD'
                  
DECLARE @CInfo_ADD_TXTTEMPMAND_ID CHAR(8)
SELECT @CInfo_ADD_TXTTEMPMAND_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_ADD
FROM
  NAV_PERM_MLIAB_ADD PERM
    INNER JOIN NAV_FIELDS_MLIAB_ADD FIELDS
      ON PERM.NAV_MLIAB_ADD_ID = FIELDS.NAV_MLIAB_ADD_ID
WHERE
  FIELDS.PARENTID = @CInfo_ADD_TXTTEMPMAND_ID
  AND FIELDS.FIELDNAME = 'txttempManD'
DELETE NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CInfo_ADD_TXTTEMPMAND_ID AND FIELDNAME = 'txttempManD'
                              
DECLARE @CInfo_IND_TXTTOTEMPEXCLP_ID CHAR(8)
SELECT @CInfo_IND_TXTTOTEMPEXCLP_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_IND
FROM
  NAV_PERM_MLIAB_IND PERM
    INNER JOIN NAV_FIELDS_MLIAB_IND FIELDS
      ON PERM.NAV_MLIAB_IND_ID = FIELDS.NAV_MLIAB_IND_ID
WHERE
  FIELDS.PARENTID = @CInfo_IND_TXTTOTEMPEXCLP_ID
  AND FIELDS.FIELDNAME = 'txtTotEmpExclP'
DELETE NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CInfo_IND_TXTTOTEMPEXCLP_ID AND FIELDNAME = 'txtTotEmpExclP'
                        
DECLARE @CInfo_IND_TXTTEMPPANDP_ID CHAR(8)
SELECT @CInfo_IND_TXTTEMPPANDP_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_IND
FROM
  NAV_PERM_MLIAB_IND PERM
    INNER JOIN NAV_FIELDS_MLIAB_IND FIELDS
      ON PERM.NAV_MLIAB_IND_ID = FIELDS.NAV_MLIAB_IND_ID
WHERE
  FIELDS.PARENTID = @CInfo_IND_TXTTEMPPANDP_ID
  AND FIELDS.FIELDNAME = 'txttempPandP'
DELETE NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CInfo_IND_TXTTEMPPANDP_ID AND FIELDNAME = 'txttempPandP'
                        
DECLARE @CInfo_IND_TXTTEMPTOT_ID CHAR(8)
SELECT @CInfo_IND_TXTTEMPTOT_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_IND
FROM
  NAV_PERM_MLIAB_IND PERM
    INNER JOIN NAV_FIELDS_MLIAB_IND FIELDS
      ON PERM.NAV_MLIAB_IND_ID = FIELDS.NAV_MLIAB_IND_ID
WHERE
  FIELDS.PARENTID = @CInfo_IND_TXTTEMPTOT_ID
  AND FIELDS.FIELDNAME = 'txttempTot'
DELETE NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CInfo_IND_TXTTEMPTOT_ID AND FIELDNAME = 'txttempTot'
                        
DECLARE @CInfo_IND_TXTTEMPNONMANE_ID CHAR(8)
SELECT @CInfo_IND_TXTTEMPNONMANE_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_IND
FROM
  NAV_PERM_MLIAB_IND PERM
    INNER JOIN NAV_FIELDS_MLIAB_IND FIELDS
      ON PERM.NAV_MLIAB_IND_ID = FIELDS.NAV_MLIAB_IND_ID
WHERE
  FIELDS.PARENTID = @CInfo_IND_TXTTEMPNONMANE_ID
  AND FIELDS.FIELDNAME = 'txtTempNonManE'
DELETE NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CInfo_IND_TXTTEMPNONMANE_ID AND FIELDNAME = 'txtTempNonManE'
                        
DECLARE @CInfo_IND_TXTTEMPMANE_ID CHAR(8)
SELECT @CInfo_IND_TXTTEMPMANE_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_IND
FROM
  NAV_PERM_MLIAB_IND PERM
    INNER JOIN NAV_FIELDS_MLIAB_IND FIELDS
      ON PERM.NAV_MLIAB_IND_ID = FIELDS.NAV_MLIAB_IND_ID
WHERE
  FIELDS.PARENTID = @CInfo_IND_TXTTEMPMANE_ID
  AND FIELDS.FIELDNAME = 'txtTempManE'
DELETE NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CInfo_IND_TXTTEMPMANE_ID AND FIELDNAME = 'txtTempManE'
                        
DECLARE @CInfo_IND_TXTTEMPNONMAND_ID CHAR(8)
SELECT @CInfo_IND_TXTTEMPNONMAND_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_IND
FROM
  NAV_PERM_MLIAB_IND PERM
    INNER JOIN NAV_FIELDS_MLIAB_IND FIELDS
      ON PERM.NAV_MLIAB_IND_ID = FIELDS.NAV_MLIAB_IND_ID
WHERE
  FIELDS.PARENTID = @CInfo_IND_TXTTEMPNONMAND_ID
  AND FIELDS.FIELDNAME = 'txtTempNonManD'
DELETE NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CInfo_IND_TXTTEMPNONMAND_ID AND FIELDNAME = 'txtTempNonManD'
                        
DECLARE @CInfo_IND_TXTTEMPMAND_ID CHAR(8)
SELECT @CInfo_IND_TXTTEMPMAND_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
DELETE
  NAV_PERM_MLIAB_IND
FROM
  NAV_PERM_MLIAB_IND PERM
    INNER JOIN NAV_FIELDS_MLIAB_IND FIELDS
      ON PERM.NAV_MLIAB_IND_ID = FIELDS.NAV_MLIAB_IND_ID
WHERE
  FIELDS.PARENTID = @CInfo_IND_TXTTEMPMAND_ID
  AND FIELDS.FIELDNAME = 'txttempManD'
DELETE NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CInfo_IND_TXTTEMPMAND_ID AND FIELDNAME = 'txttempManD'
                
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_SAVE_MLIAB_CINFO]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_SAVE_MLIAB_CINFO]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_SAVE_MLIAB_CINFO

@MLIAB_CINFO_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@WRITTENRA [BIT],
@HEALTHSAFETY [BIT],
@WHICHASSOCI_ID [VARCHAR] (8),
@ASSOCIMEM [BIT],
@MAXHEIGHT_ID [VARCHAR] (8),
				
@HEATPERCENT [NUMERIC] (18,2),
@HEAT [BIT],
@WORKSOLEY [BIT],
@PSDRAWINGS [MONEY],
@SUPERVISORWR [MONEY],
@LABOURWR [MONEY],
@BONAFIDEWR [MONEY],
@ANNUALTURNOVER [MONEY],
				
@YRSEXP [NUMERIC] (18,2),
				
@YRS [NUMERIC] (18,2),
				
@YRESTABLISHED [NUMERIC] (18,2),
				
@NONMANUALEMPS [NUMERIC] (18,2),
				
@MANUALEMPS [NUMERIC] (18,2),
				
@NONMANUDIREC [NUMERIC] (18,2),
				
@MANUALDIRECTORS [NUMERIC] (18,2),
				
@TOTALPANDP [NUMERIC] (18,2),
@MANUALWORK [BIT],
@COMPANYSTATUS_ID [VARCHAR] (8),
@PUBLIABLIMIT_ID [VARCHAR] (8),
@CLERICALPAYE [MONEY],
@MANUALPAYE [MONEY],
@TOOLVALUE_ID [VARCHAR] (8),
@TOOLCOVER [BIT],
				
@MANDAYS [NUMERIC] (18,2),
@TEMPINSURANCE [BIT],
				
@TOTALEMPLOYEES [NUMERIC] (18,2),
				
@ERNREF [VARCHAR] (20),
@SUBSIDYN [BIT],
@INCLUDEYN [BIT],
@ERNEXEMPT [BIT],
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_CINFO
(
	MLIAB_CINFO_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[WRITTENRA],
	[HEALTHSAFETY],
	[WHICHASSOCI_ID] ,
	[ASSOCIMEM],
	[MAXHEIGHT_ID] ,
	[HEATPERCENT],
	[HEAT],
	[WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
	[YRSEXP],
	[YRS],
	[YRESTABLISHED],
	[NONMANUALEMPS],
	[MANUALEMPS],
	[NONMANUDIREC],
	[MANUALDIRECTORS],
	[TOTALPANDP],
	[MANUALWORK],
	[COMPANYSTATUS_ID] ,
	[PUBLIABLIMIT_ID] ,
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID] ,
	[TOOLCOVER],
	[MANDAYS],
	[TEMPINSURANCE],
	[TOTALEMPLOYEES],
	[ERNREF],
	[SUBSIDYN],
	[INCLUDEYN],
	[ERNEXEMPT],
	USERINSTANCE
) VALUES (
	@MLIAB_CINFO_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@WRITTENRA,
	@HEALTHSAFETY,
	@WHICHASSOCI_ID,
	@ASSOCIMEM,
	@MAXHEIGHT_ID,
	@HEATPERCENT,
	@HEAT,
	@WORKSOLEY,
	@PSDRAWINGS,
	@SUPERVISORWR,
	@LABOURWR,
	@BONAFIDEWR,
	@ANNUALTURNOVER,
	@YRSEXP,
	@YRS,
	@YRESTABLISHED,
	@NONMANUALEMPS,
	@MANUALEMPS,
	@NONMANUDIREC,
	@MANUALDIRECTORS,
	@TOTALPANDP,
	@MANUALWORK,
	@COMPANYSTATUS_ID,
	@PUBLIABLIMIT_ID,
	@CLERICALPAYE,
	@MANUALPAYE,
	@TOOLVALUE_ID,
	@TOOLCOVER,
	@MANDAYS,
	@TEMPINSURANCE,
	@TOTALEMPLOYEES,
	@ERNREF,
	@SUBSIDYN,
	@INCLUDEYN,
	@ERNEXEMPT,
	@USERINSTANCE
)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_CINFO]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_CINFO]  TO [TRANSACTORPMUSERS]
GO    
      
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_UPDATE_MLIAB_CINFO]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_UPDATE_MLIAB_CINFO]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_UPDATE_MLIAB_CINFO

@MLIAB_CINFO_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@WRITTENRA [BIT],
@HEALTHSAFETY [BIT],
@WHICHASSOCI_ID [VARCHAR] (8),
@ASSOCIMEM [BIT],
@MAXHEIGHT_ID [VARCHAR] (8),
				
@HEATPERCENT [NUMERIC] (18,2),
@HEAT [BIT],
@WORKSOLEY [BIT],
@PSDRAWINGS [MONEY],
@SUPERVISORWR [MONEY],
@LABOURWR [MONEY],
@BONAFIDEWR [MONEY],
@ANNUALTURNOVER [MONEY],
				
@YRSEXP [NUMERIC] (18,2),
				
@YRS [NUMERIC] (18,2),
				
@YRESTABLISHED [NUMERIC] (18,2),
				
@NONMANUALEMPS [NUMERIC] (18,2),
				
@MANUALEMPS [NUMERIC] (18,2),
				
@NONMANUDIREC [NUMERIC] (18,2),
				
@MANUALDIRECTORS [NUMERIC] (18,2),
				
@TOTALPANDP [NUMERIC] (18,2),
@MANUALWORK [BIT],
@COMPANYSTATUS_ID [VARCHAR] (8),
@PUBLIABLIMIT_ID [VARCHAR] (8),
@CLERICALPAYE [MONEY],
@MANUALPAYE [MONEY],
@TOOLVALUE_ID [VARCHAR] (8),
@TOOLCOVER [BIT],
				
@MANDAYS [NUMERIC] (18,2),
@TEMPINSURANCE [BIT],
				
@TOTALEMPLOYEES [NUMERIC] (18,2),
				
@ERNREF [VARCHAR] (20),
@SUBSIDYN [BIT],
@INCLUDEYN [BIT],
@ERNEXEMPT [BIT],
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_CINFO
SET
  [MLIAB_CINFO_ID] = @MLIAB_CINFO_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [WRITTENRA] = @WRITTENRA,
  [HEALTHSAFETY] = @HEALTHSAFETY,
  [WHICHASSOCI_ID] = @WHICHASSOCI_ID,
  [ASSOCIMEM] = @ASSOCIMEM,
  [MAXHEIGHT_ID] = @MAXHEIGHT_ID,
  [HEATPERCENT] = @HEATPERCENT,
  [HEAT] = @HEAT,
  [WORKSOLEY] = @WORKSOLEY,
  [PSDRAWINGS] = @PSDRAWINGS,
  [SUPERVISORWR] = @SUPERVISORWR,
  [LABOURWR] = @LABOURWR,
  [BONAFIDEWR] = @BONAFIDEWR,
  [ANNUALTURNOVER] = @ANNUALTURNOVER,
  [YRSEXP] = @YRSEXP,
  [YRS] = @YRS,
  [YRESTABLISHED] = @YRESTABLISHED,
  [NONMANUALEMPS] = @NONMANUALEMPS,
  [MANUALEMPS] = @MANUALEMPS,
  [NONMANUDIREC] = @NONMANUDIREC,
  [MANUALDIRECTORS] = @MANUALDIRECTORS,
  [TOTALPANDP] = @TOTALPANDP,
  [MANUALWORK] = @MANUALWORK,
  [COMPANYSTATUS_ID] = @COMPANYSTATUS_ID,
  [PUBLIABLIMIT_ID] = @PUBLIABLIMIT_ID,
  [CLERICALPAYE] = @CLERICALPAYE,
  [MANUALPAYE] = @MANUALPAYE,
  [TOOLVALUE_ID] = @TOOLVALUE_ID,
  [TOOLCOVER] = @TOOLCOVER,
  [MANDAYS] = @MANDAYS,
  [TEMPINSURANCE] = @TEMPINSURANCE,
  [TOTALEMPLOYEES] = @TOTALEMPLOYEES,
  [ERNREF] = @ERNREF,
  [SUBSIDYN] = @SUBSIDYN,
  [INCLUDEYN] = @INCLUDEYN,
  [ERNEXEMPT] = @ERNEXEMPT,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_CINFO_ID] = @MLIAB_CINFO_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_UPDATE_MLIAB_CINFO]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO
  
GO

--Add new forms
    
INSERT INTO Nav_Forms_MLIAB_IND( Nav_MLIAB_IND_ID, Nav_MLIAB_IND, MoveAble, Enabled_044, Sequence_044, Nav_MLIAB_IND_044, Nav_Tbl_Tag_044) VALUES ( '3P3066L4', 'TES_Screen_Builder\\MLIAB\frmSubsid.tst', 1, 1, 9, 'Subsidiaries', NULL)
          
INSERT INTO Nav_Fields_MLIAB_IND( Nav_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066L5', '3P3066L4', 'cboSubsidInsurer', 1, 'Who is the current insurer for subs', NULL, 0, NULL, NULL, 't', NULL)
			
INSERT INTO Nav_Fields_MLIAB_IND( Nav_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066L6', '3P3066L4', 'txtSubsidERN', 1, 'What is the Employers Ref', NULL, 0, NULL, NULL, 't', NULL)
					
INSERT INTO Nav_Fields_MLIAB_IND( Nav_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, Nav_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066L7', '3P3066L4', 'txtSubsidName', 1, 'What is the name of the Subsidiary company?', NULL, 0, NULL, NULL, 't', NULL)
					
GO

DECLARE @TABLENAME VARCHAR(50)
DECLARE @TABLESUFFIX VARCHAR(50)
DECLARE @SQL VARCHAR(8000)

DECLARE PERMISSION_CURSOR CURSOR FOR SELECT NAME FROM SYSOBJECTS WHERE NAME LIKE 'NAV_FORMS_MLIAB%'

OPEN PERMISSION_CURSOR

FETCH NEXT FROM PERMISSION_CURSOR INTO @TABLENAME

WHILE @@FETCH_STATUS = 0
BEGIN
SELECT @TABLESUFFIX = SUBSTRING(@TABLENAME, LEN('NAV_FORMS_') + 1, LEN(@TABLENAME) - LEN('NAV_FORMS_'))
SELECT @SQL = 'DELETE NAV_PERM_' + @TABLESUFFIX
EXEC (@SQL)
SELECT @SQL = 'INSERT INTO NAV_PERM_' + @TABLESUFFIX + ' SELECT NEWID(), NAV_' + @TABLESUFFIX + '_ID, ROLE_ID FROM NAV_FIELDS_' + @TABLESUFFIX + ', SYSTEM_ROLE WHERE ENABLED_044 = 1'
EXEC (@SQL)

FETCH NEXT FROM PERMISSION_CURSOR INTO @TABLENAME

END

CLOSE PERMISSION_CURSOR
DEALLOCATE PERMISSION_CURSOR
GO            

    
CREATE TABLE [dbo].[USER_MLIAB_SUBSID] (	
	[MLIAB_SUBSID_ID] [CHAR] (32) NOT NULL ,
	[HISTORY_ID] [INT] NOT NULL ,
	[MLIAB_CINFO_ID] [CHAR] (32) NOT NULL,
    [SUBSIDINSURER_ID] [VARCHAR] (8) NULL,
    [SUBSIDERN] [VARCHAR] (20) NULL,
    [SUBSIDNAME] [VARCHAR] (200) NULL,
    
	[USERINSTANCE] [INT] NULL
) ON [PRIMARY]
GO


ALTER TABLE [dbo].[USER_MLIAB_SUBSID] WITH NOCHECK ADD 
	CONSTRAINT [PK_U_MLIAB_SUBSID] PRIMARY KEY  CLUSTERED 
	(
		[MLIAB_SUBSID_ID],
		[HISTORY_ID]
	)  ON [PRIMARY] 
GO


ALTER TABLE [dbo].[USER_MLIAB_SUBSID] WITH NOCHECK ADD 					
	CONSTRAINT [DF_UMLIAB_SUBSID3P3066L8] DEFAULT ('0') FOR [SUBSIDINSURER_ID]
GO
GO

CREATE  INDEX [IDX_UMLIAB_SUBSID] ON [dbo].[USER_MLIAB_SUBSID]([MLIAB_CINFO_ID], [HISTORY_ID]) ON [PRIMARY]				
GO	

GRANT  SELECT  ON [dbo].[USER_MLIAB_SUBSID]  TO [TRANSACTORUSERS]
GO

GRANT  SELECT  ON [dbo].[USER_MLIAB_SUBSID]  TO [TRANSACTORPMUSERS]
GO


ALTER TABLE [dbo].[USER_MLIAB_SUBSID] ADD 

CONSTRAINT [FK_UMLIAB_SUBSID] FOREIGN KEY 
(
	[MLIAB_CINFO_ID],
	[HISTORY_ID]
) REFERENCES [dbo].[USER_MLIAB_CINFO] (
	[MLIAB_CINFO_ID],
	[HISTORY_ID]
) NOT FOR REPLICATION
GO
	
ALTER TABLE [dbo].[USER_MLIAB_SUBSID] ADD 
	CONSTRAINT [FK_UMLIAB_SUBSID3P3066L9] FOREIGN KEY 
	(
		[SUBSIDINSURER_ID]
    
	) REFERENCES [dbo].[SYSTEM_INSURER] (
		[INSURER_ID]
	) NOT FOR REPLICATION
	
GO
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_READ_MLIAB_SUBSID]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_READ_MLIAB_SUBSID]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_READ_MLIAB_SUBSID (

@MLIAB_CINFO_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
	USER_MLIAB_SUBSID.[MLIAB_SUBSID_ID], 

  USER_MLIAB_SUBSID.[HISTORY_ID],
	USER_MLIAB_SUBSID.[MLIAB_CINFO_ID]
		,SUBSIDINSURER_ALIAS.[INSURER_ID] as SUBSIDINSURER_ID,
	SUBSIDINSURER_ALIAS.[INSURER_DEBUG] as SUBSIDINSURER_DEBUG,
	USER_MLIAB_SUBSID.[SUBSIDERN],
	USER_MLIAB_SUBSID.[SUBSIDNAME],
	USER_MLIAB_SUBSID.USERINSTANCE
FROM		
	USER_MLIAB_SUBSID
	INNER JOIN SYSTEM_INSURER as SUBSIDINSURER_ALIAS ON USER_MLIAB_SUBSID.[SUBSIDINSURER_ID] = SUBSIDINSURER_ALIAS.[INSURER_ID]
WHERE
  USER_MLIAB_SUBSID.MLIAB_CINFO_ID = @MLIAB_CINFO_ID
	AND USER_MLIAB_SUBSID.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_SUBSID.USERINSTANCE ASC
		
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_SUBSID]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_SUBSID]  TO [TRANSACTORPMUSERS]
GO

    
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_SAVE_MLIAB_SUBSID]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_SAVE_MLIAB_SUBSID]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_SAVE_MLIAB_SUBSID

@MLIAB_SUBSID_ID [CHAR](32), 

@HISTORY_ID [INT],
@MLIAB_CINFO_ID CHAR(32),
@SUBSIDINSURER_ID [VARCHAR] (8),
				
@SUBSIDERN [VARCHAR] (20),
				
@SUBSIDNAME [VARCHAR] (200),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_SUBSID
(
	MLIAB_SUBSID_ID, 

	HISTORY_ID,
	MLIAB_CINFO_ID,
	[SUBSIDINSURER_ID] ,
	[SUBSIDERN],
	[SUBSIDNAME],
	USERINSTANCE
) VALUES (
	@MLIAB_SUBSID_ID, 

	@HISTORY_ID,
   @MLIAB_CINFO_ID,
	@SUBSIDINSURER_ID,
	@SUBSIDERN,
	@SUBSIDNAME,
	@USERINSTANCE
)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_SUBSID]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_SUBSID]  TO [TRANSACTORPMUSERS]
GO    
      
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_UPDATE_MLIAB_SUBSID]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_UPDATE_MLIAB_SUBSID]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_UPDATE_MLIAB_SUBSID

@MLIAB_SUBSID_ID [CHAR](32), 

@HISTORY_ID [INT],    
@MLIAB_CINFO_ID CHAR(32),
@SUBSIDINSURER_ID [VARCHAR] (8),
				
@SUBSIDERN [VARCHAR] (20),
				
@SUBSIDNAME [VARCHAR] (200),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_SUBSID
SET
  [MLIAB_SUBSID_ID] = @MLIAB_SUBSID_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [MLIAB_CINFO_ID] = @MLIAB_CINFO_ID,
  [SUBSIDINSURER_ID] = @SUBSIDINSURER_ID,
  [SUBSIDERN] = @SUBSIDERN,
  [SUBSIDNAME] = @SUBSIDNAME,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_SUBSID_ID] = @MLIAB_SUBSID_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_UPDATE_MLIAB_SUBSID]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO
  
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_DELETE_MLIAB_SUBSID]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_DELETE_MLIAB_SUBSID]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_DELETE_MLIAB_SUBSID (

@MLIAB_SUBSID_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_SUBSID WHERE [MLIAB_SUBSID_ID] = @MLIAB_SUBSID_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB_SUBSID]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO

DELETE FROM SYSTEM_QUESTIONS WHERE PARENTID = 'UO_MLIAB_Subsid'
DELETE FROM SYSTEM_OBJECTS WHERE ID = 'UO_MLIAB_Subsid'
      
IF NOT EXISTS (SELECT ID FROM SYSTEM_OBJECTS WHERE ID = 'UO_MLIAB_Subsid')
INSERT INTO SYSTEM_OBJECTS (ID,DESCRIPTION,PARENTID,INSTANCE,OBJECT_ID,PRODUCTTYPE) VALUES ('UO_MLIAB_Subsid', 'Subsidiaries (Tradesman Liability)','UO_MLIAB_CINFO','m',NULL,NULL)	
				IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_Subsid_SubsidInsurer')
	
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_Subsid_SubsidInsurer','Who is the current insurer for subs','UO_MLIAB_Subsid',NULL,'t',NULL,NULL, 'SYSTEM_INSURER')
		
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_Subsid_SubsidERN')
 
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_Subsid_SubsidERN','What is the Employers Ref','UO_MLIAB_Subsid',NULL,'t',NULL,NULL,NULL)	

IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_Subsid_SubsidName')
 
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_Subsid_SubsidName','What is the name of the Subsidiary company?','UO_MLIAB_Subsid',NULL,'t',NULL,NULL,NULL)	
    
GO

--Add new controls        
    
DECLARE @CInfo_NEW_TXTERNREF_ID CHAR(8)
SELECT @CInfo_NEW_TXTERNREF_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CInfo_NEW_TXTERNREF_ID AND FIELDNAME = 'txtERNRef')
INSERT INTO NAV_FIELDS_MLIAB_NEW( NAV_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066M2', @CInfo_NEW_TXTERNREF_ID, 'txtERNRef', 1, 'What is your Employers Reference Number?', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @CInfo_NEW_OPTSUBSIDYN_ID CHAR(8)
SELECT @CInfo_NEW_OPTSUBSIDYN_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CInfo_NEW_OPTSUBSIDYN_ID AND FIELDNAME = 'optSubsidYN')
INSERT INTO NAV_FIELDS_MLIAB_NEW( NAV_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066M3', @CInfo_NEW_OPTSUBSIDYN_ID, 'optSubsidYN', 1, 'Do you have any subsidiary', NULL, 0, NULL, NULL, 'b', NULL)                  
                  
DECLARE @CInfo_NEW_OPTINCLUDEYN_ID CHAR(8)
SELECT @CInfo_NEW_OPTINCLUDEYN_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CInfo_NEW_OPTINCLUDEYN_ID AND FIELDNAME = 'optincludeYN')
INSERT INTO NAV_FIELDS_MLIAB_NEW( NAV_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066M4', @CInfo_NEW_OPTINCLUDEYN_ID, 'optincludeYN', 1, 'Do you want to include these subs', NULL, 0, NULL, NULL, 'b', NULL)                  
                  
DECLARE @CInfo_NEW_CHKERNEXEMPT_ID CHAR(8)
SELECT @CInfo_NEW_CHKERNEXEMPT_ID = NAV_MLIAB_NEW_ID FROM NAV_FORMS_MLIAB_NEW WHERE NAV_MLIAB_NEW = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_NEW WHERE PARENTID = @CInfo_NEW_CHKERNEXEMPT_ID AND FIELDNAME = 'chkERNExempt')
INSERT INTO NAV_FIELDS_MLIAB_NEW( NAV_MLIAB_NEW_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_NEW_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066M5', @CInfo_NEW_CHKERNEXEMPT_ID, 'chkERNExempt', 1, 'ERNExempt', NULL, 0, NULL, NULL, 'b', NULL)                  
                  
DECLARE @CInfo_ADD_TXTERNREF_ID CHAR(8)
SELECT @CInfo_ADD_TXTERNREF_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CInfo_ADD_TXTERNREF_ID AND FIELDNAME = 'txtERNRef')
INSERT INTO NAV_FIELDS_MLIAB_ADD( NAV_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066M6', @CInfo_ADD_TXTERNREF_ID, 'txtERNRef', 1, 'What is your Employers Reference Number?', NULL, 0, NULL, NULL, 't', NULL)                  
                  
DECLARE @CInfo_ADD_OPTSUBSIDYN_ID CHAR(8)
SELECT @CInfo_ADD_OPTSUBSIDYN_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CInfo_ADD_OPTSUBSIDYN_ID AND FIELDNAME = 'optSubsidYN')
INSERT INTO NAV_FIELDS_MLIAB_ADD( NAV_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066M7', @CInfo_ADD_OPTSUBSIDYN_ID, 'optSubsidYN', 1, 'Do you have any subsidiary', NULL, 0, NULL, NULL, 'b', NULL)                  
                  
DECLARE @CInfo_ADD_OPTINCLUDEYN_ID CHAR(8)
SELECT @CInfo_ADD_OPTINCLUDEYN_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CInfo_ADD_OPTINCLUDEYN_ID AND FIELDNAME = 'optincludeYN')
INSERT INTO NAV_FIELDS_MLIAB_ADD( NAV_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066M8', @CInfo_ADD_OPTINCLUDEYN_ID, 'optincludeYN', 1, 'Do you want to include these subs', NULL, 0, NULL, NULL, 'b', NULL)                  
                  
DECLARE @CInfo_ADD_CHKERNEXEMPT_ID CHAR(8)
SELECT @CInfo_ADD_CHKERNEXEMPT_ID = NAV_MLIAB_ADD_ID FROM NAV_FORMS_MLIAB_ADD WHERE NAV_MLIAB_ADD = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_ADD WHERE PARENTID = @CInfo_ADD_CHKERNEXEMPT_ID AND FIELDNAME = 'chkERNExempt')
INSERT INTO NAV_FIELDS_MLIAB_ADD( NAV_MLIAB_ADD_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_ADD_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066N8', @CInfo_ADD_CHKERNEXEMPT_ID, 'chkERNExempt', 1, 'ERNExempt', NULL, 0, NULL, NULL, 'b', NULL)                  
                  
DECLARE @CInfo_IND_TXTERNREF_ID CHAR(8)
SELECT @CInfo_IND_TXTERNREF_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CInfo_IND_TXTERNREF_ID AND FIELDNAME = 'txtERNRef')
INSERT INTO NAV_FIELDS_MLIAB_IND( NAV_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066N9', @CInfo_IND_TXTERNREF_ID, 'txtERNRef', 1, 'What is your Employers Reference Number?', NULL, 0, NULL, NULL, 't', NULL)
            
DECLARE @CInfo_IND_OPTSUBSIDYN_ID CHAR(8)
SELECT @CInfo_IND_OPTSUBSIDYN_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CInfo_IND_OPTSUBSIDYN_ID AND FIELDNAME = 'optSubsidYN')
INSERT INTO NAV_FIELDS_MLIAB_IND( NAV_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066N0', @CInfo_IND_OPTSUBSIDYN_ID, 'optSubsidYN', 1, 'Do you have any subsidiary', NULL, 0, NULL, NULL, 'b', NULL)
            
DECLARE @CInfo_IND_OPTINCLUDEYN_ID CHAR(8)
SELECT @CInfo_IND_OPTINCLUDEYN_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CInfo_IND_OPTINCLUDEYN_ID AND FIELDNAME = 'optincludeYN')
INSERT INTO NAV_FIELDS_MLIAB_IND( NAV_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066N1', @CInfo_IND_OPTINCLUDEYN_ID, 'optincludeYN', 1, 'Do you want to include these subs', NULL, 0, NULL, NULL, 'b', NULL)
            
DECLARE @CInfo_IND_CHKERNEXEMPT_ID CHAR(8)
SELECT @CInfo_IND_CHKERNEXEMPT_ID = NAV_MLIAB_IND_ID FROM NAV_FORMS_MLIAB_IND WHERE NAV_MLIAB_IND = 'TES_Screen_Builder\\MLIAB\frmCInfo.tst'
IF NOT EXISTS (SELECT * FROM NAV_FIELDS_MLIAB_IND WHERE PARENTID = @CInfo_IND_CHKERNEXEMPT_ID AND FIELDNAME = 'chkERNExempt')
INSERT INTO NAV_FIELDS_MLIAB_IND( NAV_MLIAB_IND_ID, ParentID, FieldName, Enabled_044, NAV_MLIAB_IND_044, Script_044, Mandatory_044, Mandatory_Message_044, Default_Value_044, Default_Datatype_044, Tab_Index_044) VALUES ( '3P3066N2', @CInfo_IND_CHKERNEXEMPT_ID, 'chkERNExempt', 1, 'ERNExempt', NULL, 0, NULL, NULL, 'b', NULL)
            
IF NOT EXISTS (SELECT * FROM SYSOBJECTS SO INNER JOIN SYSCOLUMNS SC ON SO.ID = SC.ID WHERE SC.NAME = 'ERNREF' AND SO.NAME = 'USER_MLIAB_CINFO')	
BEGIN
  ALTER TABLE [dbo].[USER_MLIAB_CINFO] WITH NOCHECK  
	  ADD [ERNREF] [VARCHAR] (20) NULL	
END      
GO
    
IF NOT EXISTS (SELECT * FROM SYSOBJECTS SO INNER JOIN SYSCOLUMNS SC ON SO.ID = SC.ID WHERE SC.NAME = 'SUBSIDYN' AND SO.NAME = 'USER_MLIAB_CINFO')	
BEGIN
  ALTER TABLE [dbo].[USER_MLIAB_CINFO] WITH NOCHECK  
	  ADD [SUBSIDYN] [BIT] NULL          
	  CONSTRAINT [DF_UMLIAB_CINFO3P3066N3] DEFAULT (0) 
	
END      
GO
    
IF NOT EXISTS (SELECT * FROM SYSOBJECTS SO INNER JOIN SYSCOLUMNS SC ON SO.ID = SC.ID WHERE SC.NAME = 'INCLUDEYN' AND SO.NAME = 'USER_MLIAB_CINFO')	
BEGIN
  ALTER TABLE [dbo].[USER_MLIAB_CINFO] WITH NOCHECK  
	  ADD [INCLUDEYN] [BIT] NULL          
	  CONSTRAINT [DF_UMLIAB_CINFO3P3066N4] DEFAULT (0) 
	
END      
GO
    
IF NOT EXISTS (SELECT * FROM SYSOBJECTS SO INNER JOIN SYSCOLUMNS SC ON SO.ID = SC.ID WHERE SC.NAME = 'ERNEXEMPT' AND SO.NAME = 'USER_MLIAB_CINFO')	
BEGIN
  ALTER TABLE [dbo].[USER_MLIAB_CINFO] WITH NOCHECK  
	  ADD [ERNEXEMPT] [BIT] NULL          
	  CONSTRAINT [DF_UMLIAB_CINFO3P3066N5] DEFAULT (0) 
	
END      
GO
    
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_READ_MLIAB_CINFO]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_READ_MLIAB_CINFO]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_READ_MLIAB_CINFO (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
	USER_MLIAB_CINFO.[MLIAB_CINFO_ID], 

  USER_MLIAB_CINFO.[HISTORY_ID],
	USER_MLIAB_CINFO.[POLICY_DETAILS_ID]
		,
	USER_MLIAB_CINFO.[WRITTENRA],
	USER_MLIAB_CINFO.[HEALTHSAFETY],WHICHASSOCI_ALIAS.[MH_ASSOC_FED_ID] as WHICHASSOCI_ID,
	WHICHASSOCI_ALIAS.[MH_ASSOC_FED_DEBUG] as WHICHASSOCI_DEBUG,
	USER_MLIAB_CINFO.[ASSOCIMEM],MAXHEIGHT_ALIAS.[MH_MAXHEIGHT_ID] as MAXHEIGHT_ID,
	MAXHEIGHT_ALIAS.[MH_MAXHEIGHT_DEBUG] as MAXHEIGHT_DEBUG,
	USER_MLIAB_CINFO.[HEATPERCENT],
	USER_MLIAB_CINFO.[HEAT],
	USER_MLIAB_CINFO.[WORKSOLEY],
	USER_MLIAB_CINFO.[PSDRAWINGS],
	USER_MLIAB_CINFO.[SUPERVISORWR],
	USER_MLIAB_CINFO.[LABOURWR],
	USER_MLIAB_CINFO.[BONAFIDEWR],
	USER_MLIAB_CINFO.[ANNUALTURNOVER],
	USER_MLIAB_CINFO.[YRSEXP],
	USER_MLIAB_CINFO.[YRS],
	USER_MLIAB_CINFO.[YRESTABLISHED],
	USER_MLIAB_CINFO.[NONMANUALEMPS],
	USER_MLIAB_CINFO.[MANUALEMPS],
	USER_MLIAB_CINFO.[NONMANUDIREC],
	USER_MLIAB_CINFO.[MANUALDIRECTORS],
	USER_MLIAB_CINFO.[TOTALPANDP],
	USER_MLIAB_CINFO.[MANUALWORK],COMPANYSTATUS_ALIAS.[MH_COSTATUS_ID] as COMPANYSTATUS_ID,
	COMPANYSTATUS_ALIAS.[MH_COSTATUS_DEBUG] as COMPANYSTATUS_DEBUG,PUBLIABLIMIT_ALIAS.[MH_PUBLIAB_ID] as PUBLIABLIMIT_ID,
	PUBLIABLIMIT_ALIAS.[MH_PUBLIAB_DEBUG] as PUBLIABLIMIT_DEBUG,
	USER_MLIAB_CINFO.[CLERICALPAYE],
	USER_MLIAB_CINFO.[MANUALPAYE],TOOLVALUE_ALIAS.[MH_COVTOOLS_ID] as TOOLVALUE_ID,
	TOOLVALUE_ALIAS.[MH_COVTOOLS_DEBUG] as TOOLVALUE_DEBUG,
	USER_MLIAB_CINFO.[TOOLCOVER],
	USER_MLIAB_CINFO.[MANDAYS],
	USER_MLIAB_CINFO.[TEMPINSURANCE],
	USER_MLIAB_CINFO.[TOTALEMPLOYEES],
	USER_MLIAB_CINFO.[ERNREF],
	USER_MLIAB_CINFO.[SUBSIDYN],
	USER_MLIAB_CINFO.[INCLUDEYN],
	USER_MLIAB_CINFO.[ERNEXEMPT],
	USER_MLIAB_CINFO.USERINSTANCE
FROM		
	USER_MLIAB_CINFO
	INNER JOIN LIST_MH_ASSOC_FED as WHICHASSOCI_ALIAS ON USER_MLIAB_CINFO.[WHICHASSOCI_ID] = WHICHASSOCI_ALIAS.[MH_ASSOC_FED_ID]
	INNER JOIN LIST_MH_MAXHEIGHT as MAXHEIGHT_ALIAS ON USER_MLIAB_CINFO.[MAXHEIGHT_ID] = MAXHEIGHT_ALIAS.[MH_MAXHEIGHT_ID]
	INNER JOIN LIST_MH_COSTATUS as COMPANYSTATUS_ALIAS ON USER_MLIAB_CINFO.[COMPANYSTATUS_ID] = COMPANYSTATUS_ALIAS.[MH_COSTATUS_ID]
	INNER JOIN LIST_MH_PUBLIAB as PUBLIABLIMIT_ALIAS ON USER_MLIAB_CINFO.[PUBLIABLIMIT_ID] = PUBLIABLIMIT_ALIAS.[MH_PUBLIAB_ID]
	INNER JOIN LIST_MH_COVTOOLS as TOOLVALUE_ALIAS ON USER_MLIAB_CINFO.[TOOLVALUE_ID] = TOOLVALUE_ALIAS.[MH_COVTOOLS_ID]
WHERE
  USER_MLIAB_CINFO.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_CINFO.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_CINFO.USERINSTANCE ASC
		
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_CINFO]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_READ_MLIAB_CINFO]  TO [TRANSACTORPMUSERS]
GO

    
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_SAVE_MLIAB_CINFO]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_SAVE_MLIAB_CINFO]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_SAVE_MLIAB_CINFO

@MLIAB_CINFO_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@WRITTENRA [BIT],
@HEALTHSAFETY [BIT],
@WHICHASSOCI_ID [VARCHAR] (8),
@ASSOCIMEM [BIT],
@MAXHEIGHT_ID [VARCHAR] (8),
				
@HEATPERCENT [NUMERIC] (18,2),
@HEAT [BIT],
@WORKSOLEY [BIT],
@PSDRAWINGS [MONEY],
@SUPERVISORWR [MONEY],
@LABOURWR [MONEY],
@BONAFIDEWR [MONEY],
@ANNUALTURNOVER [MONEY],
				
@YRSEXP [NUMERIC] (18,2),
				
@YRS [NUMERIC] (18,2),
				
@YRESTABLISHED [NUMERIC] (18,2),
				
@NONMANUALEMPS [NUMERIC] (18,2),
				
@MANUALEMPS [NUMERIC] (18,2),
				
@NONMANUDIREC [NUMERIC] (18,2),
				
@MANUALDIRECTORS [NUMERIC] (18,2),
				
@TOTALPANDP [NUMERIC] (18,2),
@MANUALWORK [BIT],
@COMPANYSTATUS_ID [VARCHAR] (8),
@PUBLIABLIMIT_ID [VARCHAR] (8),
@CLERICALPAYE [MONEY],
@MANUALPAYE [MONEY],
@TOOLVALUE_ID [VARCHAR] (8),
@TOOLCOVER [BIT],
				
@MANDAYS [NUMERIC] (18,2),
@TEMPINSURANCE [BIT],
				
@TOTALEMPLOYEES [NUMERIC] (18,2),
				
@ERNREF [VARCHAR] (20),
@SUBSIDYN [BIT],
@INCLUDEYN [BIT],
@ERNEXEMPT [BIT],
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_CINFO
(
	MLIAB_CINFO_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[WRITTENRA],
	[HEALTHSAFETY],
	[WHICHASSOCI_ID] ,
	[ASSOCIMEM],
	[MAXHEIGHT_ID] ,
	[HEATPERCENT],
	[HEAT],
	[WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
	[YRSEXP],
	[YRS],
	[YRESTABLISHED],
	[NONMANUALEMPS],
	[MANUALEMPS],
	[NONMANUDIREC],
	[MANUALDIRECTORS],
	[TOTALPANDP],
	[MANUALWORK],
	[COMPANYSTATUS_ID] ,
	[PUBLIABLIMIT_ID] ,
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID] ,
	[TOOLCOVER],
	[MANDAYS],
	[TEMPINSURANCE],
	[TOTALEMPLOYEES],
	[ERNREF],
	[SUBSIDYN],
	[INCLUDEYN],
	[ERNEXEMPT],
	USERINSTANCE
) VALUES (
	@MLIAB_CINFO_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@WRITTENRA,
	@HEALTHSAFETY,
	@WHICHASSOCI_ID,
	@ASSOCIMEM,
	@MAXHEIGHT_ID,
	@HEATPERCENT,
	@HEAT,
	@WORKSOLEY,
	@PSDRAWINGS,
	@SUPERVISORWR,
	@LABOURWR,
	@BONAFIDEWR,
	@ANNUALTURNOVER,
	@YRSEXP,
	@YRS,
	@YRESTABLISHED,
	@NONMANUALEMPS,
	@MANUALEMPS,
	@NONMANUDIREC,
	@MANUALDIRECTORS,
	@TOTALPANDP,
	@MANUALWORK,
	@COMPANYSTATUS_ID,
	@PUBLIABLIMIT_ID,
	@CLERICALPAYE,
	@MANUALPAYE,
	@TOOLVALUE_ID,
	@TOOLCOVER,
	@MANDAYS,
	@TEMPINSURANCE,
	@TOTALEMPLOYEES,
	@ERNREF,
	@SUBSIDYN,
	@INCLUDEYN,
	@ERNEXEMPT,
	@USERINSTANCE
)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_CINFO]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_SAVE_MLIAB_CINFO]  TO [TRANSACTORPMUSERS]
GO    
      
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_UPDATE_MLIAB_CINFO]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_UPDATE_MLIAB_CINFO]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_UPDATE_MLIAB_CINFO

@MLIAB_CINFO_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@WRITTENRA [BIT],
@HEALTHSAFETY [BIT],
@WHICHASSOCI_ID [VARCHAR] (8),
@ASSOCIMEM [BIT],
@MAXHEIGHT_ID [VARCHAR] (8),
				
@HEATPERCENT [NUMERIC] (18,2),
@HEAT [BIT],
@WORKSOLEY [BIT],
@PSDRAWINGS [MONEY],
@SUPERVISORWR [MONEY],
@LABOURWR [MONEY],
@BONAFIDEWR [MONEY],
@ANNUALTURNOVER [MONEY],
				
@YRSEXP [NUMERIC] (18,2),
				
@YRS [NUMERIC] (18,2),
				
@YRESTABLISHED [NUMERIC] (18,2),
				
@NONMANUALEMPS [NUMERIC] (18,2),
				
@MANUALEMPS [NUMERIC] (18,2),
				
@NONMANUDIREC [NUMERIC] (18,2),
				
@MANUALDIRECTORS [NUMERIC] (18,2),
				
@TOTALPANDP [NUMERIC] (18,2),
@MANUALWORK [BIT],
@COMPANYSTATUS_ID [VARCHAR] (8),
@PUBLIABLIMIT_ID [VARCHAR] (8),
@CLERICALPAYE [MONEY],
@MANUALPAYE [MONEY],
@TOOLVALUE_ID [VARCHAR] (8),
@TOOLCOVER [BIT],
				
@MANDAYS [NUMERIC] (18,2),
@TEMPINSURANCE [BIT],
				
@TOTALEMPLOYEES [NUMERIC] (18,2),
				
@ERNREF [VARCHAR] (20),
@SUBSIDYN [BIT],
@INCLUDEYN [BIT],
@ERNEXEMPT [BIT],
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_CINFO
SET
  [MLIAB_CINFO_ID] = @MLIAB_CINFO_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [WRITTENRA] = @WRITTENRA,
  [HEALTHSAFETY] = @HEALTHSAFETY,
  [WHICHASSOCI_ID] = @WHICHASSOCI_ID,
  [ASSOCIMEM] = @ASSOCIMEM,
  [MAXHEIGHT_ID] = @MAXHEIGHT_ID,
  [HEATPERCENT] = @HEATPERCENT,
  [HEAT] = @HEAT,
  [WORKSOLEY] = @WORKSOLEY,
  [PSDRAWINGS] = @PSDRAWINGS,
  [SUPERVISORWR] = @SUPERVISORWR,
  [LABOURWR] = @LABOURWR,
  [BONAFIDEWR] = @BONAFIDEWR,
  [ANNUALTURNOVER] = @ANNUALTURNOVER,
  [YRSEXP] = @YRSEXP,
  [YRS] = @YRS,
  [YRESTABLISHED] = @YRESTABLISHED,
  [NONMANUALEMPS] = @NONMANUALEMPS,
  [MANUALEMPS] = @MANUALEMPS,
  [NONMANUDIREC] = @NONMANUDIREC,
  [MANUALDIRECTORS] = @MANUALDIRECTORS,
  [TOTALPANDP] = @TOTALPANDP,
  [MANUALWORK] = @MANUALWORK,
  [COMPANYSTATUS_ID] = @COMPANYSTATUS_ID,
  [PUBLIABLIMIT_ID] = @PUBLIABLIMIT_ID,
  [CLERICALPAYE] = @CLERICALPAYE,
  [MANUALPAYE] = @MANUALPAYE,
  [TOOLVALUE_ID] = @TOOLVALUE_ID,
  [TOOLCOVER] = @TOOLCOVER,
  [MANDAYS] = @MANDAYS,
  [TEMPINSURANCE] = @TEMPINSURANCE,
  [TOTALEMPLOYEES] = @TOTALEMPLOYEES,
  [ERNREF] = @ERNREF,
  [SUBSIDYN] = @SUBSIDYN,
  [INCLUDEYN] = @INCLUDEYN,
  [ERNEXEMPT] = @ERNEXEMPT,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_CINFO_ID] = @MLIAB_CINFO_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_UPDATE_MLIAB_CINFO]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO
  
 
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_DELETE_MLIAB_CINFO]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_DELETE_MLIAB_CINFO]
GO
			
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_DELETE_MLIAB_CINFO (

@MLIAB_CINFO_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_CINFO WHERE [MLIAB_CINFO_ID] = @MLIAB_CINFO_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB_CINFO]  TO [TRANSACTORUSERS], [TRANSACTORPMUSERS]
GO

IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CInfo_ERNRef')
 
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CInfo_ERNRef','What is your Employers Reference Number?','UO_MLIAB_CInfo',NULL,'t',NULL,NULL,NULL)	
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CInfo_SubsidYN')
  INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CInfo_SubsidYN','Do you have any subsidiary','UO_MLIAB_CInfo',NULL,'b',NULL,NULL,NULL)
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CInfo_includeYN')
  INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CInfo_includeYN','Do you want to include these subs','UO_MLIAB_CInfo',NULL,'b',NULL,NULL,NULL)
IF NOT EXISTS (SELECT ID FROM SYSTEM_QUESTIONS WHERE ID = 'UQ_MLIAB_CInfo_ERNExempt')
INSERT INTO SYSTEM_QUESTIONS (ID,DESCRIPTION,PARENTID,EXCLUSIONS,TYPE,TESTDEFAULT,VARIABLETYPE,TABLENAME) VALUES ('UQ_MLIAB_CInfo_ERNExempt','ERNExempt','UO_MLIAB_CInfo',NULL,'b',NULL,NULL,NULL)
			
	
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_CLONE_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_CLONE_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_CLONE_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT,
@NEWHISTORY_ID INT

AS


INSERT USER_MLIAB_TrdDtail         
(
	MLIAB_TrdDtail_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
	[USERINSTANCE]
)
SELECT	[MLIAB_TrdDtail_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_TrdDtail WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_CInfo         
(
	MLIAB_CInfo_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
				
	[TOTEMPEXCLP],
	[ERNEXEMPT],
				
	[TEMPPANDP],
				
	[TEMPTOT],
				
	[TEMPNONMANE],
				
	[TEMPMANE],
				
	[TEMPNONMAND],
				
	[TEMPMAND],
	[USERINSTANCE]
)
SELECT	[MLIAB_CInfo_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
				
	[TOTEMPEXCLP],
	[ERNEXEMPT],
				
	[TEMPPANDP],
				
	[TEMPTOT],
				
	[TEMPNONMANE],
				
	[TEMPMANE],
				
	[TEMPNONMAND],
				
	[TEMPMAND],
	[USERINSTANCE]
FROM USER_MLIAB_CInfo WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_BusSupp         
(
	MLIAB_BusSupp_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
)
SELECT	[MLIAB_BusSupp_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_BusSupp WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_ClmSum         
(
	MLIAB_ClmSum_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
  [INCIDENTS],
	[USERINSTANCE]
)
SELECT	[MLIAB_ClmSum_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
  [INCIDENTS],
	[USERINSTANCE]
FROM USER_MLIAB_ClmSum WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_Assump         
(
	MLIAB_Assump_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
)
SELECT	[MLIAB_Assump_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
FROM USER_MLIAB_Assump WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
					
INSERT USER_MLIAB_PandP         
(
	MLIAB_PandP_ID,     
	HISTORY_ID,	
	MLIAB_CINFO_ID
	,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_PandP_ID],
	@NEWHISTORY_ID,
	[MLIAB_CINFO_ID],
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_PANDP
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_ClmDtail         
(
	MLIAB_ClmDtail_ID,     
	HISTORY_ID,	
	MLIAB_CLMSUM_ID
	,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_ClmDtail_ID],
	@NEWHISTORY_ID,
	[MLIAB_CLMSUM_ID],
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMSUM_ID
	IN (
					
SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_Subsid         
(
	MLIAB_Subsid_ID,     
	HISTORY_ID,	
	MLIAB_CINFO_ID
	,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_Subsid_ID],
	@NEWHISTORY_ID,
	[MLIAB_CINFO_ID],
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	[USERINSTANCE]
			
FROM USER_MLIAB_SUBSID
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_CLONE_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_CLONE_MLIAB]  TO [TRANSACTORPMUSERS]
GO  

		
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_COPY_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_COPY_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_COPY_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT,
@NEW_POLICY_DETAILS_ID CHAR(32),
@NEW_HISTORY_ID INT

AS

DECLARE @NEW_ID char(32)

--No parent, no child.				
INSERT USER_MLIAB_TrdDtail                 
(
	MLIAB_TrdDtail_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_TrdDtail WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_CInfo_ID char(32)
DECLARE MLIAB_CInfo_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_CInfo_ID] FROM USER_MLIAB_CInfo WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_CInfo_CURSOR
 
FETCH NEXT FROM MLIAB_CInfo_CURSOR INTO @MLIAB_CInfo_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_CInfo_ID char(32)
	SELECT @NEW_MLIAB_CInfo_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_CInfo 
	(
	  MLIAB_CInfo_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
				
	[TOTEMPEXCLP],
	[ERNEXEMPT],
				
	[TEMPPANDP],
				
	[TEMPTOT],
				
	[TEMPNONMANE],
				
	[TEMPMANE],
				
	[TEMPNONMAND],
				
	[TEMPMAND],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_CInfo_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
				
	[TOTEMPEXCLP],
	[ERNEXEMPT],
				
	[TEMPPANDP],
				
	[TEMPTOT],
				
	[TEMPNONMANE],
				
	[TEMPMANE],
				
	[TEMPNONMAND],
				
	[TEMPMAND],
		[USERINSTANCE]
	FROM USER_MLIAB_CInfo WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)
						
	--Child.
	INSERT USER_MLIAB_PandP 
  (
	  MLIAB_PandP_ID,     
	  HISTORY_ID,
	  MLIAB_CInfo_ID,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_CInfo_ID,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_PandP WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)	
				
	--Child.
	INSERT USER_MLIAB_Subsid 
  (
	  MLIAB_Subsid_ID,     
	  HISTORY_ID,
	  MLIAB_CInfo_ID,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_CInfo_ID,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
		[USERINSTANCE]
	FROM USER_MLIAB_Subsid WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)	
								
	FETCH NEXT FROM MLIAB_CInfo_CURSOR INTO @MLIAB_CInfo_ID

END

CLOSE MLIAB_CInfo_CURSOR
DEALLOCATE MLIAB_CInfo_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_BusSupp                 
(
	MLIAB_BusSupp_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_BusSupp WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_ClmSum_ID char(32)
DECLARE MLIAB_ClmSum_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_ClmSum_ID] FROM USER_MLIAB_ClmSum WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_ClmSum_CURSOR
 
FETCH NEXT FROM MLIAB_ClmSum_CURSOR INTO @MLIAB_ClmSum_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_ClmSum_ID char(32)
	SELECT @NEW_MLIAB_ClmSum_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_ClmSum 
	(
	  MLIAB_ClmSum_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
  [INCIDENTS],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_ClmSum_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
  [INCIDENTS],
		[USERINSTANCE]
	FROM USER_MLIAB_ClmSum WHERE (MLIAB_ClmSum_ID = @MLIAB_ClmSum_ID AND HISTORY_ID = @HISTORY_ID)
						
	--Child.
	INSERT USER_MLIAB_ClmDtail 
  (
	  MLIAB_ClmDtail_ID,     
	  HISTORY_ID,
	  MLIAB_ClmSum_ID,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	  [USERINSTANCE]
  )          
	SELECT	Replace(NewID(), '-', ''),
		@NEW_HISTORY_ID,
		@NEW_MLIAB_ClmSum_ID,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_ClmDtail WHERE (MLIAB_ClmSum_ID = @MLIAB_ClmSum_ID AND HISTORY_ID = @HISTORY_ID)	
								
	FETCH NEXT FROM MLIAB_ClmSum_CURSOR INTO @MLIAB_ClmSum_ID

END

CLOSE MLIAB_ClmSum_CURSOR
DEALLOCATE MLIAB_ClmSum_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_Assump                 
(
	MLIAB_Assump_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[USERINSTANCE]
FROM USER_MLIAB_Assump WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
							


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_COPY_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_COPY_MLIAB]  TO [TRANSACTORPMUSERS]
GO  
	
IF EXISTS (SELECT * FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[USER_DELETE_MLIAB]') AND OBJECTPROPERTY(ID, N'ISPROCEDURE') = 1)
DROP PROCEDURE [DBO].[USER_DELETE_MLIAB]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE DBO.USER_DELETE_MLIAB

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT

AS



DELETE USER_MLIAB_TRDDTAIL
WHERE MLIAB_TRDDTAIL_ID IN
(

SELECT MLIAB_TRDDTAIL_ID FROM USER_MLIAB_TRDDTAIL WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_PANDP
WHERE MLIAB_PANDP_ID IN
(
SELECT MLIAB_PANDP_ID
FROM USER_MLIAB_PANDP
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_SUBSID
WHERE MLIAB_SUBSID_ID IN
(
SELECT MLIAB_SUBSID_ID
FROM USER_MLIAB_SUBSID
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CINFO
WHERE MLIAB_CINFO_ID IN
(

SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_BUSSUPP
WHERE MLIAB_BUSSUPP_ID IN
(

SELECT MLIAB_BUSSUPP_ID FROM USER_MLIAB_BUSSUPP WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMDTAIL_ID IN
(
SELECT MLIAB_CLMDTAIL_ID
FROM USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMSUM_ID
	IN (
					
SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CLMSUM
WHERE MLIAB_CLMSUM_ID IN
(

SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_ASSUMP
WHERE MLIAB_ASSUMP_ID IN
(

SELECT MLIAB_ASSUMP_ID FROM USER_MLIAB_ASSUMP WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB]  TO [TRANSACTORUSERS]
GO

GRANT  EXECUTE  ON [DBO].[USER_DELETE_MLIAB]  TO [TRANSACTORPMUSERS]
GO    
  
DELETE System_Claim_Liability_Fields WHERE ProductType_ID = '195'
		
    
--Update version
    
IF NOT EXISTS (SELECT PRODUCTTYPE_ID FROM SYSTEM_LIST_PRODUCTTYPE_VERSION WHERE PRODUCTTYPE_ID = '195' AND TYPE = '1' AND VERSION = 4)
BEGIN
  INSERT SYSTEM_LIST_PRODUCTTYPE_VERSION VALUES ('195', '4', getdate(), '1', '1')
  UPDATE SYSTEM_LIST_PRODUCTTYPE_VERSION SET LIVE = 0 WHERE PRODUCTTYPE_ID = '195' AND TYPE = '1' AND VERSION < 4
END
GO    
  