

--Remove deleted forms    

        
GO    

--Remove deleted controls

    
GO

--Add new forms
    
GO

DECLARE @TABLENAME VARCHAR(50)
DECLARE @TABLESUFFIX VARCHAR(50)
DECLARE @SQL VARCHAR(8000)

DECLARE PERMISSION_CURSOR CURSOR FOR SELECT NAME FROM SYSOBJECTS WHERE NAME LIKE 'NAV_FORMS_MLIAB%'

OPEN PERMISSION_CURSOR

FETCH NEXT FROM PERMISSION_CURSOR INTO @TABLENAME

WHILE @@FETCH_STATUS = 0
BEGIN
SELECT @TABLESUFFIX = SUBSTRING(@TABLENAME, LEN('NAV_FORMS_') + 1, LEN(@TABLENAME) - LEN('NAV_FORMS_'))
SELECT @SQL = 'DELETE NAV_PERM_' + @TABLESUFFIX
EXEC (@SQL)
SELECT @SQL = 'INSERT INTO NAV_PERM_' + @TABLESUFFIX + ' SELECT NEWID(), NAV_' + @TABLESUFFIX + '_ID, ROLE_ID FROM NAV_FIELDS_' + @TABLESUFFIX + ', SYSTEM_ROLE WHERE ENABLED_044 = 1'
EXEC (@SQL)

FETCH NEXT FROM PERMISSION_CURSOR INTO @TABLENAME

END

CLOSE PERMISSION_CURSOR
DEALLOCATE PERMISSION_CURSOR
GO            

        
GO

--Add new controls        
    
    
--Update version
    
IF NOT EXISTS (SELECT PRODUCTTYPE_ID FROM SYSTEM_LIST_PRODUCTTYPE_VERSION WHERE PRODUCTTYPE_ID = '195' AND TYPE = '1' AND VERSION = 5)
BEGIN
  INSERT SYSTEM_LIST_PRODUCTTYPE_VERSION VALUES ('195', '5', getdate(), '1', '1')
  UPDATE SYSTEM_LIST_PRODUCTTYPE_VERSION SET LIVE = 0 WHERE PRODUCTTYPE_ID = '195' AND TYPE = '1' AND VERSION < 5
END
GO    
  