USE [Transactor_Live]
GO
/****** Object:  StoredProcedure [dbo].[CUST_BUS_CONTACT_UPDATE]    Script Date: 12/02/2025 15:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[CUST_BUS_CONTACT_UPDATE]
(
@BUS_CONTACT_ID char (32),
@BUSINESS_ID char (32),
@HISTORY_ID int ,
@NAME varchar (255),
@JOBTITLE varchar (255),
@EMAIL varchar (100),
@BUSCONT_RELATIONSHIP_ID varchar(8)
)
AS
set nocount off;
			UPDATE [CUSTOMER_BUS_CONTACT] SET 
			BUS_CONTACT_ID = @BUS_CONTACT_ID,
			BUSINESS_ID = @BUSINESS_ID,
			HISTORY_ID = @HISTORY_ID,
			NAME = @NAME,
			JOBTITLE = @JOBTITLE,
			EMAIL = @EMAIL,
			BUSCONT_RELATIONSHIP_ID =	CASE
											WHEN @BUSCONT_RELATIONSHIP_ID = '' THEN '0'
											WHEN @BUSCONT_RELATIONSHIP_ID = ' ' THEN '0'
											WHEN @BUSCONT_RELATIONSHIP_ID IS NULL THEN '0'
											ELSE @BUSCONT_RELATIONSHIP_ID
										END
WHERE (
				HISTORY_ID = @HISTORY_ID
					AND BUS_CONTACT_ID = @BUS_CONTACT_ID
									)
