USE [Transactor_Live]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_TRDDTAIL]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_TRDDTAIL]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_SUBSID]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_SUBSID]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_PROFINDM]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_PROFINDM]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_PAPEOPLE]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_PAPEOPLE]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_PANDP]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_PANDP]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_NOTES]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_NOTES]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_CLMSUM]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_CLMSUM]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_CLMDTAIL]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_CLMDTAIL]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_CINFO]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_CINFO]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_CAR]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_CAR]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_BUSSUPP]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_BUSSUPP]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_BDETAILS]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_BDETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_BDCONTAC]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_BDCONTAC]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_ASSUMP]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_ASSUMP]
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_ACCINCOM]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_UPDATE_MLIAB_ACCINCOM]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_TRDDTAIL]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_TRDDTAIL]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_SUBSID]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_SUBSID]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_PROFINDM]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_PROFINDM]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_PAPEOPLE]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_PAPEOPLE]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_PANDP]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_PANDP]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_NOTES]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_NOTES]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_CLMSUM]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_CLMSUM]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_CLMDTAIL]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_CLMDTAIL]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_CINFO]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_CINFO]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_CAR]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_CAR]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_BUSSUPP]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_BUSSUPP]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_BDETAILS]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_BDETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_BDCONTAC]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_BDCONTAC]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_ASSUMP]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_ASSUMP]
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_ACCINCOM]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_SAVE_MLIAB_ACCINCOM]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_TRDDTAIL]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_TRDDTAIL]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_SUBSID]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_SUBSID]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_PROFINDM]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_PROFINDM]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_PAPEOPLE]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_PAPEOPLE]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_PANDP]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_PANDP]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_NOTES]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_NOTES]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_CLMSUM]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_CLMSUM]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_CLMDTAIL]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_CLMDTAIL]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_CINFO]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_CINFO]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_CAR]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_CAR]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_BUSSUPP]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_BUSSUPP]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_BDETAILS]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_BDETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_BDCONTAC]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_BDCONTAC]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_ASSUMP]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_ASSUMP]
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_ACCINCOM]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_READ_MLIAB_ACCINCOM]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_TRDDTAIL]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_TRDDTAIL]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_SUBSID]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_SUBSID]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_PROFINDM]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_PROFINDM]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_PAPEOPLE]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_PAPEOPLE]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_PANDP]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_PANDP]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_NOTES]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_NOTES]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_CLMSUM]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_CLMSUM]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_CLMDTAIL]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_CLMDTAIL]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_CINFO]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_CINFO]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_CAR]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_CAR]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_BUSSUPP]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_BUSSUPP]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_BDETAILS]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_BDETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_BDCONTAC]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_BDCONTAC]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_ASSUMP]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_ASSUMP]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_ACCINCOM]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB_ACCINCOM]
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_DELETE_MLIAB]
GO
/****** Object:  StoredProcedure [dbo].[USER_COPY_MLIAB]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_COPY_MLIAB]
GO
/****** Object:  StoredProcedure [dbo].[USER_CLONE_MLIAB]    Script Date: 22/01/2025 07:18:49 ******/
DROP PROCEDURE [dbo].[USER_CLONE_MLIAB]
GO
/****** Object:  StoredProcedure [dbo].[USER_CLONE_MLIAB]    Script Date: 22/01/2025 07:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_CLONE_MLIAB]

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT,
@NEWHISTORY_ID INT

AS


INSERT USER_MLIAB_TrdDtail         
(
	MLIAB_TrdDtail_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
)
SELECT	[MLIAB_TrdDtail_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
FROM USER_MLIAB_TrdDtail WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_CInfo         
(
	MLIAB_CInfo_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
	[USERINSTANCE]
)
SELECT	[MLIAB_CInfo_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
	[USERINSTANCE]
FROM USER_MLIAB_CInfo WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_BusSupp         
(
	MLIAB_BusSupp_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
)
SELECT	[MLIAB_BusSupp_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_BusSupp WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_ClmSum         
(
	MLIAB_ClmSum_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
  [INCIDENTS],
	[USERINSTANCE]
)
SELECT	[MLIAB_ClmSum_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
  [INCIDENTS],
	[USERINSTANCE]
FROM USER_MLIAB_ClmSum WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_Assump         
(
	MLIAB_Assump_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[PPE_ID],
	[STAFFTRAINING_ID],
	[USERINSTANCE]
)
SELECT	[MLIAB_Assump_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[PPE_ID],
	[STAFFTRAINING_ID],
	[USERINSTANCE]
FROM USER_MLIAB_Assump WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_CAR         
(
	MLIAB_CAR_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID],
	[HIRPLANTMACVAL_ID],
	[HIRECHARGEVAL_ID],
	[OWNPLANTMACVAL_ID],
	[MAXCONTRACTVAL_ID],
	[USERINSTANCE]
)
SELECT	[MLIAB_CAR_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID],
	[HIRPLANTMACVAL_ID],
	[HIRECHARGEVAL_ID],
	[OWNPLANTMACVAL_ID],
	[MAXCONTRACTVAL_ID],
	[USERINSTANCE]
FROM USER_MLIAB_CAR WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_AccIncom         
(
	MLIAB_AccIncom_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[ACCIDENTCOVER_ID],
  [COVERYN],
	[INCOMECOVER_ID],
				
	[PEOPLENUM],
	[USERINSTANCE]
)
SELECT	[MLIAB_AccIncom_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[ACCIDENTCOVER_ID],
  [COVERYN],
	[INCOMECOVER_ID],
				
	[PEOPLENUM],
	[USERINSTANCE]
FROM USER_MLIAB_AccIncom WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
			
INSERT USER_MLIAB_ProfIndm         
(
	MLIAB_ProfIndm_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[PILEVEL_ID],
  [PIYN],
  [DESIGNYN],
	[USERINSTANCE]
)
SELECT	[MLIAB_ProfIndm_ID],
	@NEWHISTORY_ID,
	[POLICY_DETAILS_ID],
	[PILEVEL_ID],
  [PIYN],
  [DESIGNYN],
	[USERINSTANCE]
FROM USER_MLIAB_ProfIndm WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
					
INSERT USER_MLIAB_PandP         
(
	MLIAB_PandP_ID,     
	HISTORY_ID,	
	MLIAB_CINFO_ID
	,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_PandP_ID],
	@NEWHISTORY_ID,
	[MLIAB_CINFO_ID],
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_PANDP
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_ClmDtail         
(
	MLIAB_ClmDtail_ID,     
	HISTORY_ID,	
	MLIAB_CLMSUM_ID
	,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_ClmDtail_ID],
	@NEWHISTORY_ID,
	[MLIAB_CLMSUM_ID],
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMSUM_ID
	IN (
					
SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_Subsid         
(
	MLIAB_Subsid_ID,     
	HISTORY_ID,	
	MLIAB_CINFO_ID
	,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_Subsid_ID],
	@NEWHISTORY_ID,
	[MLIAB_CINFO_ID],
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	[USERINSTANCE]
			
FROM USER_MLIAB_SUBSID
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
						
INSERT USER_MLIAB_PAPeople         
(
	MLIAB_PAPeople_ID,     
	HISTORY_ID,	
	MLIAB_ACCINCOM_ID
	,
  [UKRESIDENTYN],
	[DATEOFBIRTH],
				
	[SURNAME],
				
	[FORENAMES],
	[TITLE_ID],
	[USERINSTANCE]
)                  
SELECT	[MLIAB_PAPeople_ID],
	@NEWHISTORY_ID,
	[MLIAB_ACCINCOM_ID],
  [UKRESIDENTYN],
	[DATEOFBIRTH],
				
	[SURNAME],
				
	[FORENAMES],
	[TITLE_ID],
	[USERINSTANCE]
			
FROM USER_MLIAB_PAPEOPLE
WHERE MLIAB_ACCINCOM_ID
	IN (
					
SELECT MLIAB_ACCINCOM_ID FROM USER_MLIAB_ACCINCOM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				

GO
/****** Object:  StoredProcedure [dbo].[USER_COPY_MLIAB]    Script Date: 22/01/2025 07:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_COPY_MLIAB]

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT,
@NEW_POLICY_DETAILS_ID CHAR(32),
@NEW_HISTORY_ID INT

AS

DECLARE @NEW_ID char(32)

--No parent, no child.				
INSERT USER_MLIAB_TrdDtail                 
(
	MLIAB_TrdDtail_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
				
	[WORKSHOPPERCENT],
  [WORKSHOP],
				
	[EMPSUSING],
  [FIXEDMACHINERY],
  [CAVITYWALL],
  [SOLVENT],
  [WATERPROOFING],
  [ROOFING],
  [VENTILATION],
  [CORGIREG],
  [ROADSURFACING],
  [PAVING],
	[MAXDEPTH_ID],
	[SECONDARYRISK_ID],
	[PRIMARYRISK_ID],
	[PRESENTINSURER_ID],
  [COVERSTARTDATE],
  [PHASE],
  [EFFICACYCOVER],
				
	[HISTORYID],
				
	[POLICYDETAILSID],
	[USERINSTANCE]
FROM USER_MLIAB_TrdDtail WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_CInfo_ID char(32)
DECLARE MLIAB_CInfo_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_CInfo_ID] FROM USER_MLIAB_CInfo WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_CInfo_CURSOR
 
FETCH NEXT FROM MLIAB_CInfo_CURSOR INTO @MLIAB_CInfo_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_CInfo_ID char(32)
	SELECT @NEW_MLIAB_CInfo_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_CInfo 
	(
	  MLIAB_CInfo_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_CInfo_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
  [WRITTENRA],
  [HEALTHSAFETY],
	[WHICHASSOCI_ID],
  [ASSOCIMEM],
	[MAXHEIGHT_ID],
				
	[HEATPERCENT],
  [HEAT],
  [WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
				
	[YRSEXP],
				
	[YRS],
				
	[YRESTABLISHED],
				
	[NONMANUALEMPS],
				
	[MANUALEMPS],
				
	[NONMANUDIREC],
				
	[MANUALDIRECTORS],
				
	[TOTALPANDP],
  [MANUALWORK],
	[COMPANYSTATUS_ID],
	[PUBLIABLIMIT_ID],
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID],
  [TOOLCOVER],
				
	[MANDAYS],
  [TEMPINSURANCE],
				
	[TOTALEMPLOYEES],
				
	[ERNREF],
  [SUBSIDYN],
  [INCLUDEYN],
	[ERNEXEMPT],
  [EMPLOYEETOOL],
		[USERINSTANCE]
	FROM USER_MLIAB_CInfo WHERE (MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID)

            
	--Child.
  DECLARE @MLIAB_PandP_ID CHAR(32)
  DECLARE MLIAB_PandP_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT MLIAB_PandP_ID
	FROM USER_MLIAB_PandP
	WHERE MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID
OPEN MLIAB_PandP_CURSOR
FETCH NEXT FROM MLIAB_PandP_CURSOR INTO @MLIAB_PandP_ID
WHILE @@FETCH_STATUS = 0
BEGIN
	DECLARE @NEW_MLIAB_PandP_ID CHAR (32)
	SELECT @NEW_MLIAB_PandP_ID = Replace(NewID(), '-', '')
	INSERT USER_MLIAB_PandP 
  (
	  MLIAB_PandP_ID,     
	  HISTORY_ID,
	  MLIAB_CINFO_ID,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
	  [USERINSTANCE]
  )          
	SELECT	@NEW_MLIAB_PandP_ID,
		@NEW_HISTORY_ID,
		@NEW_MLIAB_CInfo_ID,
	[STATUS_ID],
				
	[SURNAME],
				
	[FORENAME],
	[TITLE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_PandP WHERE (MLIAB_PandP_ID = @MLIAB_PandP_ID AND HISTORY_ID = @HISTORY_ID)	
	
					
	FETCH NEXT FROM MLIAB_PandP_CURSOR INTO @MLIAB_PandP_ID
END
CLOSE MLIAB_PandP_CURSOR
DEALLOCATE MLIAB_PandP_CURSOR		
	
				
	--Child.
  DECLARE @MLIAB_Subsid_ID CHAR(32)
  DECLARE MLIAB_Subsid_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT MLIAB_Subsid_ID
	FROM USER_MLIAB_Subsid
	WHERE MLIAB_CInfo_ID = @MLIAB_CInfo_ID AND HISTORY_ID = @HISTORY_ID
OPEN MLIAB_Subsid_CURSOR
FETCH NEXT FROM MLIAB_Subsid_CURSOR INTO @MLIAB_Subsid_ID
WHILE @@FETCH_STATUS = 0
BEGIN
	DECLARE @NEW_MLIAB_Subsid_ID CHAR (32)
	SELECT @NEW_MLIAB_Subsid_ID = Replace(NewID(), '-', '')
	INSERT USER_MLIAB_Subsid 
  (
	  MLIAB_Subsid_ID,     
	  HISTORY_ID,
	  MLIAB_CINFO_ID,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
	  [USERINSTANCE]
  )          
	SELECT	@NEW_MLIAB_Subsid_ID,
		@NEW_HISTORY_ID,
		@NEW_MLIAB_CInfo_ID,
	[SUBSIDINSURER_ID],
				
	[SUBSIDERN],
				
	[SUBSIDNAME],
		[USERINSTANCE]
	FROM USER_MLIAB_Subsid WHERE (MLIAB_Subsid_ID = @MLIAB_Subsid_ID AND HISTORY_ID = @HISTORY_ID)	
	
					
	FETCH NEXT FROM MLIAB_Subsid_CURSOR INTO @MLIAB_Subsid_ID
END
CLOSE MLIAB_Subsid_CURSOR
DEALLOCATE MLIAB_Subsid_CURSOR		
	
						
   

              
	FETCH NEXT FROM MLIAB_CInfo_CURSOR INTO @MLIAB_CInfo_ID

END

CLOSE MLIAB_CInfo_CURSOR
DEALLOCATE MLIAB_CInfo_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_BusSupp                 
(
	MLIAB_BusSupp_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
				
	[HANDSDETAILS],
  [HANDS],
				
	[TRIBUNALDETAILS],
  [TRIBUNAL],
				
	[DISCUSSDETAILS],
  [DISCUSSIONS],
				
	[REGUDETAILS],
  [REGULATIONS],
				
	[REDUNDETAILS],
  [REDUNDANCIES],
				
	[EMPDISDETAILS],
  [EMPDISPUTE],
				
	[EMPS],
  [BUSSUPPCOVER],
	[USERINSTANCE]
FROM USER_MLIAB_BusSupp WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_ClmSum_ID char(32)
DECLARE MLIAB_ClmSum_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_ClmSum_ID] FROM USER_MLIAB_ClmSum WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_ClmSum_CURSOR
 
FETCH NEXT FROM MLIAB_ClmSum_CURSOR INTO @MLIAB_ClmSum_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_ClmSum_ID char(32)
	SELECT @NEW_MLIAB_ClmSum_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_ClmSum 
	(
	  MLIAB_ClmSum_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
  [INCIDENTS],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_ClmSum_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
  [INCIDENTS],
		[USERINSTANCE]
	FROM USER_MLIAB_ClmSum WHERE (MLIAB_ClmSum_ID = @MLIAB_ClmSum_ID AND HISTORY_ID = @HISTORY_ID)

            
	--Child.
  DECLARE @MLIAB_ClmDtail_ID CHAR(32)
  DECLARE MLIAB_ClmDtail_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT MLIAB_ClmDtail_ID
	FROM USER_MLIAB_ClmDtail
	WHERE MLIAB_ClmSum_ID = @MLIAB_ClmSum_ID AND HISTORY_ID = @HISTORY_ID
OPEN MLIAB_ClmDtail_CURSOR
FETCH NEXT FROM MLIAB_ClmDtail_CURSOR INTO @MLIAB_ClmDtail_ID
WHILE @@FETCH_STATUS = 0
BEGIN
	DECLARE @NEW_MLIAB_ClmDtail_ID CHAR (32)
	SELECT @NEW_MLIAB_ClmDtail_ID = Replace(NewID(), '-', '')
	INSERT USER_MLIAB_ClmDtail 
  (
	  MLIAB_ClmDtail_ID,     
	  HISTORY_ID,
	  MLIAB_CLMSUM_ID,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
	  [USERINSTANCE]
  )          
	SELECT	@NEW_MLIAB_ClmDtail_ID,
		@NEW_HISTORY_ID,
		@NEW_MLIAB_ClmSum_ID,
				
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_ClmDtail WHERE (MLIAB_ClmDtail_ID = @MLIAB_ClmDtail_ID AND HISTORY_ID = @HISTORY_ID)	
	
					
	FETCH NEXT FROM MLIAB_ClmDtail_CURSOR INTO @MLIAB_ClmDtail_ID
END
CLOSE MLIAB_ClmDtail_CURSOR
DEALLOCATE MLIAB_ClmDtail_CURSOR		
	
						
   

              
	FETCH NEXT FROM MLIAB_ClmSum_CURSOR INTO @MLIAB_ClmSum_ID

END

CLOSE MLIAB_ClmSum_CURSOR
DEALLOCATE MLIAB_ClmSum_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_Assump                 
(
	MLIAB_Assump_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[PPE_ID],
	[STAFFTRAINING_ID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
	[DEMOLITION_ID],
	[CONVICTED_ID],
	[BANKRUPT_ID],
	[REFUSED_ID],
	[ASBESTOS_ID],
	[POWERSTATIONS_ID],
	[AIRCRAFT_ID],
	[PPE_ID],
	[STAFFTRAINING_ID],
	[USERINSTANCE]
FROM USER_MLIAB_Assump WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
							
--No parent, no child.				
INSERT USER_MLIAB_CAR                 
(
	MLIAB_CAR_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID],
	[HIRPLANTMACVAL_ID],
	[HIRECHARGEVAL_ID],
	[OWNPLANTMACVAL_ID],
	[MAXCONTRACTVAL_ID],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
	[MAXVLAUEAOI],
	[TOTVALUEHIRE],
	[HIRECHARGES],
  [COVERHIREPLANT],
	[VALUEPLANT],
  [COVERPLANT],
	[ONECONTRACT],
  [CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID],
	[HIRPLANTMACVAL_ID],
	[HIRECHARGEVAL_ID],
	[OWNPLANTMACVAL_ID],
	[MAXCONTRACTVAL_ID],
	[USERINSTANCE]
FROM USER_MLIAB_CAR WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
									
--Parent.
DECLARE @MLIAB_AccIncom_ID char(32)
DECLARE MLIAB_AccIncom_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT [MLIAB_AccIncom_ID] FROM USER_MLIAB_AccIncom WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
 
OPEN MLIAB_AccIncom_CURSOR
 
FETCH NEXT FROM MLIAB_AccIncom_CURSOR INTO @MLIAB_AccIncom_ID
 
WHILE @@FETCH_STATUS = 0
BEGIN 
	DECLARE @NEW_MLIAB_AccIncom_ID char(32)
	SELECT @NEW_MLIAB_AccIncom_ID = Replace(NewID(), '-', '')         
		
	INSERT USER_MLIAB_AccIncom 
	(
	  MLIAB_AccIncom_ID,     
	  HISTORY_ID,
	  POLICY_DETAILS_ID,
	[ACCIDENTCOVER_ID],
  [COVERYN],
	[INCOMECOVER_ID],
				
	[PEOPLENUM],
	  [USERINSTANCE]
	)       
	SELECT	@NEW_MLIAB_AccIncom_ID,
		@NEW_HISTORY_ID,
		@NEW_POLICY_DETAILS_ID,
	[ACCIDENTCOVER_ID],
  [COVERYN],
	[INCOMECOVER_ID],
				
	[PEOPLENUM],
		[USERINSTANCE]
	FROM USER_MLIAB_AccIncom WHERE (MLIAB_AccIncom_ID = @MLIAB_AccIncom_ID AND HISTORY_ID = @HISTORY_ID)

            
	--Child.
  DECLARE @MLIAB_PAPeople_ID CHAR(32)
  DECLARE MLIAB_PAPeople_CURSOR CURSOR FAST_FORWARD FOR 
	SELECT MLIAB_PAPeople_ID
	FROM USER_MLIAB_PAPeople
	WHERE MLIAB_AccIncom_ID = @MLIAB_AccIncom_ID AND HISTORY_ID = @HISTORY_ID
OPEN MLIAB_PAPeople_CURSOR
FETCH NEXT FROM MLIAB_PAPeople_CURSOR INTO @MLIAB_PAPeople_ID
WHILE @@FETCH_STATUS = 0
BEGIN
	DECLARE @NEW_MLIAB_PAPeople_ID CHAR (32)
	SELECT @NEW_MLIAB_PAPeople_ID = Replace(NewID(), '-', '')
	INSERT USER_MLIAB_PAPeople 
  (
	  MLIAB_PAPeople_ID,     
	  HISTORY_ID,
	  MLIAB_ACCINCOM_ID,
  [UKRESIDENTYN],
	[DATEOFBIRTH],
				
	[SURNAME],
				
	[FORENAMES],
	[TITLE_ID],
	  [USERINSTANCE]
  )          
	SELECT	@NEW_MLIAB_PAPeople_ID,
		@NEW_HISTORY_ID,
		@NEW_MLIAB_AccIncom_ID,
  [UKRESIDENTYN],
	[DATEOFBIRTH],
				
	[SURNAME],
				
	[FORENAMES],
	[TITLE_ID],
		[USERINSTANCE]
	FROM USER_MLIAB_PAPeople WHERE (MLIAB_PAPeople_ID = @MLIAB_PAPeople_ID AND HISTORY_ID = @HISTORY_ID)	
	
					
	FETCH NEXT FROM MLIAB_PAPeople_CURSOR INTO @MLIAB_PAPeople_ID
END
CLOSE MLIAB_PAPeople_CURSOR
DEALLOCATE MLIAB_PAPeople_CURSOR		
	
						
   

              
	FETCH NEXT FROM MLIAB_AccIncom_CURSOR INTO @MLIAB_AccIncom_ID

END

CLOSE MLIAB_AccIncom_CURSOR
DEALLOCATE MLIAB_AccIncom_CURSOR		
					
--No parent, no child.				
INSERT USER_MLIAB_ProfIndm                 
(
	MLIAB_ProfIndm_ID,     
	HISTORY_ID,
	POLICY_DETAILS_ID,
	[PILEVEL_ID],
  [PIYN],
  [DESIGNYN],
	[USERINSTANCE]
)                                
SELECT	Replace(NewID(), '-', ''),
	@NEW_HISTORY_ID,
	@NEW_POLICY_DETAILS_ID,
	[PILEVEL_ID],
  [PIYN],
  [DESIGNYN],
	[USERINSTANCE]
FROM USER_MLIAB_ProfIndm WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)						
							


GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB]    Script Date: 22/01/2025 07:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB]

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT

AS



DELETE USER_MLIAB_TRDDTAIL
WHERE MLIAB_TRDDTAIL_ID IN
(

SELECT MLIAB_TRDDTAIL_ID FROM USER_MLIAB_TRDDTAIL WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_PANDP
WHERE MLIAB_PANDP_ID IN
(
SELECT MLIAB_PANDP_ID
FROM USER_MLIAB_PANDP
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_SUBSID
WHERE MLIAB_SUBSID_ID IN
(
SELECT MLIAB_SUBSID_ID
FROM USER_MLIAB_SUBSID
WHERE MLIAB_CINFO_ID
	IN (
					
SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CINFO
WHERE MLIAB_CINFO_ID IN
(

SELECT MLIAB_CINFO_ID FROM USER_MLIAB_CINFO WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_BUSSUPP
WHERE MLIAB_BUSSUPP_ID IN
(

SELECT MLIAB_BUSSUPP_ID FROM USER_MLIAB_BUSSUPP WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMDTAIL_ID IN
(
SELECT MLIAB_CLMDTAIL_ID
FROM USER_MLIAB_CLMDTAIL
WHERE MLIAB_CLMSUM_ID
	IN (
					
SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CLMSUM
WHERE MLIAB_CLMSUM_ID IN
(

SELECT MLIAB_CLMSUM_ID FROM USER_MLIAB_CLMSUM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_ASSUMP
WHERE MLIAB_ASSUMP_ID IN
(

SELECT MLIAB_ASSUMP_ID FROM USER_MLIAB_ASSUMP WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_CAR
WHERE MLIAB_CAR_ID IN
(

SELECT MLIAB_CAR_ID FROM USER_MLIAB_CAR WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_PAPEOPLE
WHERE MLIAB_PAPEOPLE_ID IN
(
SELECT MLIAB_PAPEOPLE_ID
FROM USER_MLIAB_PAPEOPLE
WHERE MLIAB_ACCINCOM_ID
	IN (
					
SELECT MLIAB_ACCINCOM_ID FROM USER_MLIAB_ACCINCOM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
	)
AND HISTORY_ID = @HISTORY_ID
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_ACCINCOM
WHERE MLIAB_ACCINCOM_ID IN
(

SELECT MLIAB_ACCINCOM_ID FROM USER_MLIAB_ACCINCOM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

DELETE USER_MLIAB_PROFINDM
WHERE MLIAB_PROFINDM_ID IN
(

SELECT MLIAB_PROFINDM_ID FROM USER_MLIAB_PROFINDM WHERE (POLICY_DETAILS_ID = @POLICY_DETAILS_ID AND HISTORY_ID = @HISTORY_ID)
				
)
AND HISTORY_ID = @HISTORY_ID

		

GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_ACCINCOM]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_ACCINCOM] (

@MLIAB_ACCINCOM_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_ACCINCOM WHERE [MLIAB_ACCINCOM_ID] = @MLIAB_ACCINCOM_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_ASSUMP]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_ASSUMP] (

@MLIAB_ASSUMP_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_ASSUMP WHERE [MLIAB_ASSUMP_ID] = @MLIAB_ASSUMP_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_BDCONTAC]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_BDCONTAC] (

@MLIAB_BDCONTAC_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_BDCONTAC WHERE [MLIAB_BDCONTAC_ID] = @MLIAB_BDCONTAC_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_BDETAILS]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_BDETAILS] (

@MLIAB_BDETAILS_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_BDETAILS WHERE [MLIAB_BDETAILS_ID] = @MLIAB_BDETAILS_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_BUSSUPP]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_BUSSUPP] (

@MLIAB_BUSSUPP_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_BUSSUPP WHERE [MLIAB_BUSSUPP_ID] = @MLIAB_BUSSUPP_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_CAR]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_CAR] (

@MLIAB_CAR_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_CAR WHERE [MLIAB_CAR_ID] = @MLIAB_CAR_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_CINFO]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_CINFO] (

@MLIAB_CINFO_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_CINFO WHERE [MLIAB_CINFO_ID] = @MLIAB_CINFO_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_CLMDTAIL]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_CLMDTAIL] (

@MLIAB_CLMDTAIL_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_CLMDTAIL WHERE [MLIAB_CLMDTAIL_ID] = @MLIAB_CLMDTAIL_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_CLMSUM]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_CLMSUM] (

@MLIAB_CLMSUM_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_CLMSUM WHERE [MLIAB_CLMSUM_ID] = @MLIAB_CLMSUM_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_NOTES]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_NOTES] (

@MLIAB_NOTES_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_NOTES WHERE [MLIAB_NOTES_ID] = @MLIAB_NOTES_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_PANDP]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_PANDP] (

@MLIAB_PANDP_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_PANDP WHERE [MLIAB_PANDP_ID] = @MLIAB_PANDP_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_PAPEOPLE]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_PAPEOPLE] (

@MLIAB_PAPEOPLE_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_PAPEOPLE WHERE [MLIAB_PAPEOPLE_ID] = @MLIAB_PAPEOPLE_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_PROFINDM]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_PROFINDM] (

@MLIAB_PROFINDM_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_PROFINDM WHERE [MLIAB_PROFINDM_ID] = @MLIAB_PROFINDM_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_SUBSID]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_SUBSID] (

@MLIAB_SUBSID_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_SUBSID WHERE [MLIAB_SUBSID_ID] = @MLIAB_SUBSID_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_DELETE_MLIAB_TRDDTAIL]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_DELETE_MLIAB_TRDDTAIL] (

@MLIAB_TRDDTAIL_ID [CHAR](32), 
@HISTORY_ID INT    
)	

AS

SET NOCOUNT ON

DELETE USER_MLIAB_TRDDTAIL WHERE [MLIAB_TRDDTAIL_ID] = @MLIAB_TRDDTAIL_ID AND [HISTORY_ID] = @HISTORY_ID
  
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_ACCINCOM]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_ACCINCOM] (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
  USER_MLIAB_ACCINCOM.[MLIAB_ACCINCOM_ID],
  USER_MLIAB_ACCINCOM.[HISTORY_ID],
  USER_MLIAB_ACCINCOM.[POLICY_DETAILS_ID],
  ISNULL(ACCIDENTCOVER_ALIAS.[MH_PERSONALACCIDENTLEVEL_ID], '0') as ACCIDENTCOVER_ID,
  ISNULL(ACCIDENTCOVER_ALIAS.[MH_PERSONALACCIDENTLEVEL_DEBUG], '') as ACCIDENTCOVER_DEBUG,
  USER_MLIAB_ACCINCOM.[COVERYN],
  ISNULL(INCOMECOVER_ALIAS.[MH_PAINCOMEPROTECTIONLEVEL_ID], '0') as INCOMECOVER_ID,
  ISNULL(INCOMECOVER_ALIAS.[MH_PAINCOMEPROTECTIONLEVEL_DEBUG], '') as INCOMECOVER_DEBUG,
  USER_MLIAB_ACCINCOM.[PEOPLENUM],
  USER_MLIAB_ACCINCOM.USERINSTANCE
FROM		
	USER_MLIAB_ACCINCOM
	  LEFT OUTER JOIN LIST_MH_PERSONALACCIDENTLEVEL as ACCIDENTCOVER_ALIAS ON USER_MLIAB_ACCINCOM.[ACCIDENTCOVER_ID] = ACCIDENTCOVER_ALIAS.[MH_PERSONALACCIDENTLEVEL_ID]
	  LEFT OUTER JOIN LIST_MH_PAINCOMEPROTECTIONLEVEL as INCOMECOVER_ALIAS ON USER_MLIAB_ACCINCOM.[INCOMECOVER_ID] = INCOMECOVER_ALIAS.[MH_PAINCOMEPROTECTIONLEVEL_ID]
WHERE
  USER_MLIAB_ACCINCOM.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_ACCINCOM.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_ACCINCOM.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_ASSUMP]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_ASSUMP] (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
  USER_MLIAB_ASSUMP.[MLIAB_ASSUMP_ID],
  USER_MLIAB_ASSUMP.[HISTORY_ID],
  USER_MLIAB_ASSUMP.[POLICY_DETAILS_ID],
  ISNULL(DEMOLITION_ALIAS.[MH_ASSUMPT_ID], '0') as DEMOLITION_ID,
  ISNULL(DEMOLITION_ALIAS.[MH_ASSUMPT_DEBUG], '') as DEMOLITION_DEBUG,
  ISNULL(CONVICTED_ALIAS.[MH_ASSUMPT_ID], '0') as CONVICTED_ID,
  ISNULL(CONVICTED_ALIAS.[MH_ASSUMPT_DEBUG], '') as CONVICTED_DEBUG,
  ISNULL(BANKRUPT_ALIAS.[MH_ASSUMPT_ID], '0') as BANKRUPT_ID,
  ISNULL(BANKRUPT_ALIAS.[MH_ASSUMPT_DEBUG], '') as BANKRUPT_DEBUG,
  ISNULL(REFUSED_ALIAS.[MH_ASSUMPT_ID], '0') as REFUSED_ID,
  ISNULL(REFUSED_ALIAS.[MH_ASSUMPT_DEBUG], '') as REFUSED_DEBUG,
  ISNULL(ASBESTOS_ALIAS.[MH_ASSUMPT_ID], '0') as ASBESTOS_ID,
  ISNULL(ASBESTOS_ALIAS.[MH_ASSUMPT_DEBUG], '') as ASBESTOS_DEBUG,
  ISNULL(POWERSTATIONS_ALIAS.[MH_ASSUMPT_ID], '0') as POWERSTATIONS_ID,
  ISNULL(POWERSTATIONS_ALIAS.[MH_ASSUMPT_DEBUG], '') as POWERSTATIONS_DEBUG,
  ISNULL(AIRCRAFT_ALIAS.[MH_ASSUMPT_ID], '0') as AIRCRAFT_ID,
  ISNULL(AIRCRAFT_ALIAS.[MH_ASSUMPT_DEBUG], '') as AIRCRAFT_DEBUG,
  ISNULL(PPE_ALIAS.[MH_ASSUMPT_ID], '0') as PPE_ID,
  ISNULL(PPE_ALIAS.[MH_ASSUMPT_DEBUG], '') as PPE_DEBUG,
  ISNULL(STAFFTRAINING_ALIAS.[MH_ASSUMPT_ID], '0') as STAFFTRAINING_ID,
  ISNULL(STAFFTRAINING_ALIAS.[MH_ASSUMPT_DEBUG], '') as STAFFTRAINING_DEBUG,
  USER_MLIAB_ASSUMP.USERINSTANCE
FROM		
	USER_MLIAB_ASSUMP
	  LEFT OUTER JOIN LIST_MH_ASSUMPT as DEMOLITION_ALIAS ON USER_MLIAB_ASSUMP.[DEMOLITION_ID] = DEMOLITION_ALIAS.[MH_ASSUMPT_ID]
	  LEFT OUTER JOIN LIST_MH_ASSUMPT as CONVICTED_ALIAS ON USER_MLIAB_ASSUMP.[CONVICTED_ID] = CONVICTED_ALIAS.[MH_ASSUMPT_ID]
	  LEFT OUTER JOIN LIST_MH_ASSUMPT as BANKRUPT_ALIAS ON USER_MLIAB_ASSUMP.[BANKRUPT_ID] = BANKRUPT_ALIAS.[MH_ASSUMPT_ID]
	  LEFT OUTER JOIN LIST_MH_ASSUMPT as REFUSED_ALIAS ON USER_MLIAB_ASSUMP.[REFUSED_ID] = REFUSED_ALIAS.[MH_ASSUMPT_ID]
	  LEFT OUTER JOIN LIST_MH_ASSUMPT as ASBESTOS_ALIAS ON USER_MLIAB_ASSUMP.[ASBESTOS_ID] = ASBESTOS_ALIAS.[MH_ASSUMPT_ID]
	  LEFT OUTER JOIN LIST_MH_ASSUMPT as POWERSTATIONS_ALIAS ON USER_MLIAB_ASSUMP.[POWERSTATIONS_ID] = POWERSTATIONS_ALIAS.[MH_ASSUMPT_ID]
	  LEFT OUTER JOIN LIST_MH_ASSUMPT as AIRCRAFT_ALIAS ON USER_MLIAB_ASSUMP.[AIRCRAFT_ID] = AIRCRAFT_ALIAS.[MH_ASSUMPT_ID]
	  LEFT OUTER JOIN LIST_MH_ASSUMPT as PPE_ALIAS ON USER_MLIAB_ASSUMP.[PPE_ID] = PPE_ALIAS.[MH_ASSUMPT_ID]
	  LEFT OUTER JOIN LIST_MH_ASSUMPT as STAFFTRAINING_ALIAS ON USER_MLIAB_ASSUMP.[STAFFTRAINING_ID] = STAFFTRAINING_ALIAS.[MH_ASSUMPT_ID]
WHERE
  USER_MLIAB_ASSUMP.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_ASSUMP.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_ASSUMP.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_BDCONTAC]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_BDCONTAC] (

@MLIAB_BDETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
	USER_MLIAB_BDCONTAC.[MLIAB_BDCONTAC_ID], 

  USER_MLIAB_BDCONTAC.[HISTORY_ID],
	USER_MLIAB_BDCONTAC.[MLIAB_BDETAILS_ID]
		,JOBTITLE_ALIAS.[AAMEMBER_CLASS_ID] as JOBTITLE_ID,
	JOBTITLE_ALIAS.[AAMEMBER_CLASS_DEBUG] as JOBTITLE_DEBUG,
	USER_MLIAB_BDCONTAC.[NAME],
	USER_MLIAB_BDCONTAC.USERINSTANCE
FROM		
	USER_MLIAB_BDCONTAC
	INNER JOIN LIST_AAMEMBER_CLASS as JOBTITLE_ALIAS ON USER_MLIAB_BDCONTAC.[JOBTITLE_ID] = JOBTITLE_ALIAS.[AAMEMBER_CLASS_ID]
WHERE
  USER_MLIAB_BDCONTAC.MLIAB_BDETAILS_ID = @MLIAB_BDETAILS_ID
	AND USER_MLIAB_BDCONTAC.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_BDCONTAC.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_BDETAILS]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_BDETAILS] (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
	USER_MLIAB_BDETAILS.[MLIAB_BDETAILS_ID], 

  USER_MLIAB_BDETAILS.[HISTORY_ID],
	USER_MLIAB_BDETAILS.[POLICY_DETAILS_ID]
		,
	USER_MLIAB_BDETAILS.[COUNTRY],
	USER_MLIAB_BDETAILS.[COUNTY],
	USER_MLIAB_BDETAILS.[CITY],
	USER_MLIAB_BDETAILS.[LOCALITY],
	USER_MLIAB_BDETAILS.[STREET],
	USER_MLIAB_BDETAILS.[HOUSE],
	USER_MLIAB_BDETAILS.[POSTCODE],
	USER_MLIAB_BDETAILS.[REF],
	USER_MLIAB_BDETAILS.[REGISTERED],
	USER_MLIAB_BDETAILS.[COMPANYREGNO],
	USER_MLIAB_BDETAILS.[WEBSITE],BUSINESSDESCRIP_ALIAS.[AAMEMBER_CLASS_ID] as BUSINESSDESCRIP_ID,
	BUSINESSDESCRIP_ALIAS.[AAMEMBER_CLASS_DEBUG] as BUSINESSDESCRIP_DEBUG,CREDITTERMS_ALIAS.[AAMEMBER_CLASS_ID] as CREDITTERMS_ID,
	CREDITTERMS_ALIAS.[AAMEMBER_CLASS_DEBUG] as CREDITTERMS_DEBUG,RETAILCOMM_ALIAS.[AAMEMBER_CLASS_ID] as RETAILCOMM_ID,
	RETAILCOMM_ALIAS.[AAMEMBER_CLASS_DEBUG] as RETAILCOMM_DEBUG,ACCOUNTHANDLER_ALIAS.[AAMEMBER_CLASS_ID] as ACCOUNTHANDLER_ID,
	ACCOUNTHANDLER_ALIAS.[AAMEMBER_CLASS_DEBUG] as ACCOUNTHANDLER_DEBUG,
	USER_MLIAB_BDETAILS.USERINSTANCE
FROM		
	USER_MLIAB_BDETAILS
	INNER JOIN LIST_AAMEMBER_CLASS as BUSINESSDESCRIP_ALIAS ON USER_MLIAB_BDETAILS.[BUSINESSDESCRIP_ID] = BUSINESSDESCRIP_ALIAS.[AAMEMBER_CLASS_ID]
	INNER JOIN LIST_AAMEMBER_CLASS as CREDITTERMS_ALIAS ON USER_MLIAB_BDETAILS.[CREDITTERMS_ID] = CREDITTERMS_ALIAS.[AAMEMBER_CLASS_ID]
	INNER JOIN LIST_AAMEMBER_CLASS as RETAILCOMM_ALIAS ON USER_MLIAB_BDETAILS.[RETAILCOMM_ID] = RETAILCOMM_ALIAS.[AAMEMBER_CLASS_ID]
	INNER JOIN LIST_AAMEMBER_CLASS as ACCOUNTHANDLER_ALIAS ON USER_MLIAB_BDETAILS.[ACCOUNTHANDLER_ID] = ACCOUNTHANDLER_ALIAS.[AAMEMBER_CLASS_ID]
WHERE
  USER_MLIAB_BDETAILS.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_BDETAILS.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_BDETAILS.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_BUSSUPP]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_BUSSUPP] (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
  USER_MLIAB_BUSSUPP.[MLIAB_BUSSUPP_ID],
  USER_MLIAB_BUSSUPP.[HISTORY_ID],
  USER_MLIAB_BUSSUPP.[POLICY_DETAILS_ID],
  USER_MLIAB_BUSSUPP.[HANDSDETAILS],
  USER_MLIAB_BUSSUPP.[HANDS],
  USER_MLIAB_BUSSUPP.[TRIBUNALDETAILS],
  USER_MLIAB_BUSSUPP.[TRIBUNAL],
  USER_MLIAB_BUSSUPP.[DISCUSSDETAILS],
  USER_MLIAB_BUSSUPP.[DISCUSSIONS],
  USER_MLIAB_BUSSUPP.[REGUDETAILS],
  USER_MLIAB_BUSSUPP.[REGULATIONS],
  USER_MLIAB_BUSSUPP.[REDUNDETAILS],
  USER_MLIAB_BUSSUPP.[REDUNDANCIES],
  USER_MLIAB_BUSSUPP.[EMPDISDETAILS],
  USER_MLIAB_BUSSUPP.[EMPDISPUTE],
  USER_MLIAB_BUSSUPP.[EMPS],
  USER_MLIAB_BUSSUPP.[BUSSUPPCOVER],
  USER_MLIAB_BUSSUPP.USERINSTANCE
FROM		
	USER_MLIAB_BUSSUPP
WHERE
  USER_MLIAB_BUSSUPP.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_BUSSUPP.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_BUSSUPP.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_CAR]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_CAR] (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
  USER_MLIAB_CAR.[MLIAB_CAR_ID],
  USER_MLIAB_CAR.[HISTORY_ID],
  USER_MLIAB_CAR.[POLICY_DETAILS_ID],
  USER_MLIAB_CAR.[COVERHIREPLANT],
  USER_MLIAB_CAR.[COVERPLANT],
  USER_MLIAB_CAR.[CONTRACTSWORKS],
  ISNULL(MAXHIRPLANTVAL_ALIAS.[MH_CARMAXHIRPLANTVAL_ID], '0') as MAXHIRPLANTVAL_ID,
  ISNULL(MAXHIRPLANTVAL_ALIAS.[MH_CARMAXHIRPLANTVAL_DEBUG], '') as MAXHIRPLANTVAL_DEBUG,
  ISNULL(HIRPLANTMACVAL_ALIAS.[MH_CARHIRPLANTMACVAL_ID], '0') as HIRPLANTMACVAL_ID,
  ISNULL(HIRPLANTMACVAL_ALIAS.[MH_CARHIRPLANTMACVAL_DEBUG], '') as HIRPLANTMACVAL_DEBUG,
  ISNULL(HIRECHARGEVAL_ALIAS.[MH_CARHIRECHARGEVAL_ID], '0') as HIRECHARGEVAL_ID,
  ISNULL(HIRECHARGEVAL_ALIAS.[MH_CARHIRECHARGEVAL_DEBUG], '') as HIRECHARGEVAL_DEBUG,
  ISNULL(OWNPLANTMACVAL_ALIAS.[MH_CAROWNPLANTMACVAL_ID], '0') as OWNPLANTMACVAL_ID,
  ISNULL(OWNPLANTMACVAL_ALIAS.[MH_CAROWNPLANTMACVAL_DEBUG], '') as OWNPLANTMACVAL_DEBUG,
  ISNULL(MAXCONTRACTVAL_ALIAS.[MH_CARMAXCONTRACTVAL_ID], '0') as MAXCONTRACTVAL_ID,
  ISNULL(MAXCONTRACTVAL_ALIAS.[MH_CARMAXCONTRACTVAL_DEBUG], '') as MAXCONTRACTVAL_DEBUG,
  USER_MLIAB_CAR.USERINSTANCE
FROM		
	USER_MLIAB_CAR
	  LEFT OUTER JOIN LIST_MH_CARMAXHIRPLANTVAL as MAXHIRPLANTVAL_ALIAS ON USER_MLIAB_CAR.[MAXHIRPLANTVAL_ID] = MAXHIRPLANTVAL_ALIAS.[MH_CARMAXHIRPLANTVAL_ID]
	  LEFT OUTER JOIN LIST_MH_CARHIRPLANTMACVAL as HIRPLANTMACVAL_ALIAS ON USER_MLIAB_CAR.[HIRPLANTMACVAL_ID] = HIRPLANTMACVAL_ALIAS.[MH_CARHIRPLANTMACVAL_ID]
	  LEFT OUTER JOIN LIST_MH_CARHIRECHARGEVAL as HIRECHARGEVAL_ALIAS ON USER_MLIAB_CAR.[HIRECHARGEVAL_ID] = HIRECHARGEVAL_ALIAS.[MH_CARHIRECHARGEVAL_ID]
	  LEFT OUTER JOIN LIST_MH_CAROWNPLANTMACVAL as OWNPLANTMACVAL_ALIAS ON USER_MLIAB_CAR.[OWNPLANTMACVAL_ID] = OWNPLANTMACVAL_ALIAS.[MH_CAROWNPLANTMACVAL_ID]
	  LEFT OUTER JOIN LIST_MH_CARMAXCONTRACTVAL as MAXCONTRACTVAL_ALIAS ON USER_MLIAB_CAR.[MAXCONTRACTVAL_ID] = MAXCONTRACTVAL_ALIAS.[MH_CARMAXCONTRACTVAL_ID]
WHERE
  USER_MLIAB_CAR.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_CAR.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_CAR.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_CINFO]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_CINFO] (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
  USER_MLIAB_CINFO.[MLIAB_CINFO_ID],
  USER_MLIAB_CINFO.[HISTORY_ID],
  USER_MLIAB_CINFO.[POLICY_DETAILS_ID],
  USER_MLIAB_CINFO.[WRITTENRA],
  USER_MLIAB_CINFO.[HEALTHSAFETY],
  ISNULL(WHICHASSOCI_ALIAS.[MH_ASSOC_FED_ID], '0') as WHICHASSOCI_ID,
  ISNULL(WHICHASSOCI_ALIAS.[MH_ASSOC_FED_DEBUG], '') as WHICHASSOCI_DEBUG,
  USER_MLIAB_CINFO.[ASSOCIMEM],
  ISNULL(MAXHEIGHT_ALIAS.[MH_MAXHEIGHT_ID], '0') as MAXHEIGHT_ID,
  ISNULL(MAXHEIGHT_ALIAS.[MH_MAXHEIGHT_DEBUG], '') as MAXHEIGHT_DEBUG,
  USER_MLIAB_CINFO.[HEATPERCENT],
  USER_MLIAB_CINFO.[HEAT],
  USER_MLIAB_CINFO.[WORKSOLEY],
  USER_MLIAB_CINFO.[PSDRAWINGS],
  USER_MLIAB_CINFO.[SUPERVISORWR],
  USER_MLIAB_CINFO.[LABOURWR],
  USER_MLIAB_CINFO.[BONAFIDEWR],
  USER_MLIAB_CINFO.[ANNUALTURNOVER],
  USER_MLIAB_CINFO.[YRSEXP],
  USER_MLIAB_CINFO.[YRS],
  USER_MLIAB_CINFO.[YRESTABLISHED],
  USER_MLIAB_CINFO.[NONMANUALEMPS],
  USER_MLIAB_CINFO.[MANUALEMPS],
  USER_MLIAB_CINFO.[NONMANUDIREC],
  USER_MLIAB_CINFO.[MANUALDIRECTORS],
  USER_MLIAB_CINFO.[TOTALPANDP],
  USER_MLIAB_CINFO.[MANUALWORK],
  ISNULL(COMPANYSTATUS_ALIAS.[MH_COSTATUS_ID], '0') as COMPANYSTATUS_ID,
  ISNULL(COMPANYSTATUS_ALIAS.[MH_COSTATUS_DEBUG], '') as COMPANYSTATUS_DEBUG,
  ISNULL(PUBLIABLIMIT_ALIAS.[MH_PUBLIAB_ID], '0') as PUBLIABLIMIT_ID,
  ISNULL(PUBLIABLIMIT_ALIAS.[MH_PUBLIAB_DEBUG], '') as PUBLIABLIMIT_DEBUG,
  USER_MLIAB_CINFO.[CLERICALPAYE],
  USER_MLIAB_CINFO.[MANUALPAYE],
  ISNULL(TOOLVALUE_ALIAS.[MH_COVTOOLS_ID], '0') as TOOLVALUE_ID,
  ISNULL(TOOLVALUE_ALIAS.[MH_COVTOOLS_DEBUG], '') as TOOLVALUE_DEBUG,
  USER_MLIAB_CINFO.[TOOLCOVER],
  USER_MLIAB_CINFO.[MANDAYS],
  USER_MLIAB_CINFO.[TEMPINSURANCE],
  USER_MLIAB_CINFO.[TOTALEMPLOYEES],
  USER_MLIAB_CINFO.[ERNREF],
  USER_MLIAB_CINFO.[SUBSIDYN],
  USER_MLIAB_CINFO.[INCLUDEYN],
  USER_MLIAB_CINFO.[ERNEXEMPT],
  USER_MLIAB_CINFO.[EMPLOYEETOOL],
  USER_MLIAB_CINFO.USERINSTANCE
FROM		
	USER_MLIAB_CINFO
	  LEFT OUTER JOIN LIST_MH_ASSOC_FED as WHICHASSOCI_ALIAS ON USER_MLIAB_CINFO.[WHICHASSOCI_ID] = WHICHASSOCI_ALIAS.[MH_ASSOC_FED_ID]
	  LEFT OUTER JOIN LIST_MH_MAXHEIGHT as MAXHEIGHT_ALIAS ON USER_MLIAB_CINFO.[MAXHEIGHT_ID] = MAXHEIGHT_ALIAS.[MH_MAXHEIGHT_ID]
	  LEFT OUTER JOIN LIST_MH_COSTATUS as COMPANYSTATUS_ALIAS ON USER_MLIAB_CINFO.[COMPANYSTATUS_ID] = COMPANYSTATUS_ALIAS.[MH_COSTATUS_ID]
	  LEFT OUTER JOIN LIST_MH_PUBLIAB as PUBLIABLIMIT_ALIAS ON USER_MLIAB_CINFO.[PUBLIABLIMIT_ID] = PUBLIABLIMIT_ALIAS.[MH_PUBLIAB_ID]
	  LEFT OUTER JOIN LIST_MH_COVTOOLS as TOOLVALUE_ALIAS ON USER_MLIAB_CINFO.[TOOLVALUE_ID] = TOOLVALUE_ALIAS.[MH_COVTOOLS_ID]
WHERE
  USER_MLIAB_CINFO.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_CINFO.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_CINFO.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_CLMDTAIL]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_CLMDTAIL] (

@MLIAB_CLMSUM_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
  USER_MLIAB_CLMDTAIL.[MLIAB_CLMDTAIL_ID],
  USER_MLIAB_CLMDTAIL.[HISTORY_ID],
  USER_MLIAB_CLMDTAIL.[MLIAB_CLMSUM_ID],
  USER_MLIAB_CLMDTAIL.[DETAILS],
  USER_MLIAB_CLMDTAIL.[OUTSTANDING],
  USER_MLIAB_CLMDTAIL.[PAID],
  USER_MLIAB_CLMDTAIL.[DATE],
  ISNULL(TYPE_ALIAS.[MH_CLAIMTYPE_ID], '0') as TYPE_ID,
  ISNULL(TYPE_ALIAS.[MH_CLAIMTYPE_DEBUG], '') as TYPE_DEBUG,
  USER_MLIAB_CLMDTAIL.USERINSTANCE
FROM		
	USER_MLIAB_CLMDTAIL
	  LEFT OUTER JOIN LIST_MH_CLAIMTYPE as TYPE_ALIAS ON USER_MLIAB_CLMDTAIL.[TYPE_ID] = TYPE_ALIAS.[MH_CLAIMTYPE_ID]
WHERE
  USER_MLIAB_CLMDTAIL.MLIAB_CLMSUM_ID = @MLIAB_CLMSUM_ID
	AND USER_MLIAB_CLMDTAIL.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_CLMDTAIL.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_CLMSUM]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_CLMSUM] (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
  USER_MLIAB_CLMSUM.[MLIAB_CLMSUM_ID],
  USER_MLIAB_CLMSUM.[HISTORY_ID],
  USER_MLIAB_CLMSUM.[POLICY_DETAILS_ID],
  USER_MLIAB_CLMSUM.[INCIDENTS],
  USER_MLIAB_CLMSUM.USERINSTANCE
FROM		
	USER_MLIAB_CLMSUM
WHERE
  USER_MLIAB_CLMSUM.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_CLMSUM.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_CLMSUM.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_NOTES]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_NOTES] (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
	USER_MLIAB_NOTES.[MLIAB_NOTES_ID], 

  USER_MLIAB_NOTES.[HISTORY_ID],
	USER_MLIAB_NOTES.[POLICY_DETAILS_ID]
		,
	USER_MLIAB_NOTES.[NOTES],
	USER_MLIAB_NOTES.USERINSTANCE
FROM		
	USER_MLIAB_NOTES
WHERE
  USER_MLIAB_NOTES.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_NOTES.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_NOTES.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_PANDP]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_PANDP] (

@MLIAB_CINFO_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
  USER_MLIAB_PANDP.[MLIAB_PANDP_ID],
  USER_MLIAB_PANDP.[HISTORY_ID],
  USER_MLIAB_PANDP.[MLIAB_CINFO_ID],
  ISNULL(STATUS_ALIAS.[MH_P_STATUS_ID], '0') as STATUS_ID,
  ISNULL(STATUS_ALIAS.[MH_P_STATUS_DEBUG], '') as STATUS_DEBUG,
  USER_MLIAB_PANDP.[SURNAME],
  USER_MLIAB_PANDP.[FORENAME],
  ISNULL(TITLE_ALIAS.[TITLE_ID], '0') as TITLE_ID,
  ISNULL(TITLE_ALIAS.[TITLE_DEBUG], '') as TITLE_DEBUG,
  USER_MLIAB_PANDP.USERINSTANCE
FROM		
	USER_MLIAB_PANDP
	  LEFT OUTER JOIN LIST_MH_P_STATUS as STATUS_ALIAS ON USER_MLIAB_PANDP.[STATUS_ID] = STATUS_ALIAS.[MH_P_STATUS_ID]
	  LEFT OUTER JOIN LIST_TITLE as TITLE_ALIAS ON USER_MLIAB_PANDP.[TITLE_ID] = TITLE_ALIAS.[TITLE_ID]
WHERE
  USER_MLIAB_PANDP.MLIAB_CINFO_ID = @MLIAB_CINFO_ID
	AND USER_MLIAB_PANDP.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_PANDP.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_PAPEOPLE]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_PAPEOPLE] (

@MLIAB_ACCINCOM_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
  USER_MLIAB_PAPEOPLE.[MLIAB_PAPEOPLE_ID],
  USER_MLIAB_PAPEOPLE.[HISTORY_ID],
  USER_MLIAB_PAPEOPLE.[MLIAB_ACCINCOM_ID],
  USER_MLIAB_PAPEOPLE.[UKRESIDENTYN],
  USER_MLIAB_PAPEOPLE.[DATEOFBIRTH],
  USER_MLIAB_PAPEOPLE.[SURNAME],
  USER_MLIAB_PAPEOPLE.[FORENAMES],
  ISNULL(TITLE_ALIAS.[TITLE_ID], '0') as TITLE_ID,
  ISNULL(TITLE_ALIAS.[TITLE_DEBUG], '') as TITLE_DEBUG,
  USER_MLIAB_PAPEOPLE.USERINSTANCE
FROM		
	USER_MLIAB_PAPEOPLE
	  LEFT OUTER JOIN LIST_TITLE as TITLE_ALIAS ON USER_MLIAB_PAPEOPLE.[TITLE_ID] = TITLE_ALIAS.[TITLE_ID]
WHERE
  USER_MLIAB_PAPEOPLE.MLIAB_ACCINCOM_ID = @MLIAB_ACCINCOM_ID
	AND USER_MLIAB_PAPEOPLE.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_PAPEOPLE.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_PROFINDM]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_PROFINDM] (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
  USER_MLIAB_PROFINDM.[MLIAB_PROFINDM_ID],
  USER_MLIAB_PROFINDM.[HISTORY_ID],
  USER_MLIAB_PROFINDM.[POLICY_DETAILS_ID],
  ISNULL(PILEVEL_ALIAS.[MH_PROFESSIONALINDEMNITYLEVEL_ID], '0') as PILEVEL_ID,
  ISNULL(PILEVEL_ALIAS.[MH_PROFESSIONALINDEMNITYLEVEL_DEBUG], '') as PILEVEL_DEBUG,
  USER_MLIAB_PROFINDM.[PIYN],
  USER_MLIAB_PROFINDM.[DESIGNYN],
  USER_MLIAB_PROFINDM.USERINSTANCE
FROM		
	USER_MLIAB_PROFINDM
	  LEFT OUTER JOIN LIST_MH_PROFESSIONALINDEMNITYLEVEL as PILEVEL_ALIAS ON USER_MLIAB_PROFINDM.[PILEVEL_ID] = PILEVEL_ALIAS.[MH_PROFESSIONALINDEMNITYLEVEL_ID]
WHERE
  USER_MLIAB_PROFINDM.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_PROFINDM.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_PROFINDM.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_SUBSID]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_SUBSID] (

@MLIAB_CINFO_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
  USER_MLIAB_SUBSID.[MLIAB_SUBSID_ID],
  USER_MLIAB_SUBSID.[HISTORY_ID],
  USER_MLIAB_SUBSID.[MLIAB_CINFO_ID],
  ISNULL(SUBSIDINSURER_ALIAS.[INSURER_ID], '0') as SUBSIDINSURER_ID,
  ISNULL(SUBSIDINSURER_ALIAS.[INSURER_DEBUG], '') as SUBSIDINSURER_DEBUG,
  USER_MLIAB_SUBSID.[SUBSIDERN],
  USER_MLIAB_SUBSID.[SUBSIDNAME],
  USER_MLIAB_SUBSID.USERINSTANCE
FROM		
	USER_MLIAB_SUBSID
	  INNER JOIN SYSTEM_INSURER as SUBSIDINSURER_ALIAS ON USER_MLIAB_SUBSID.[SUBSIDINSURER_ID] = SUBSIDINSURER_ALIAS.[INSURER_ID]
WHERE
  USER_MLIAB_SUBSID.MLIAB_CINFO_ID = @MLIAB_CINFO_ID
	AND USER_MLIAB_SUBSID.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_SUBSID.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_READ_MLIAB_TRDDTAIL]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_READ_MLIAB_TRDDTAIL] (

@POLICY_DETAILS_ID CHAR(32),
@HISTORY_ID INT    
  

)	

AS
	
SELECT	
  USER_MLIAB_TRDDTAIL.[MLIAB_TRDDTAIL_ID],
  USER_MLIAB_TRDDTAIL.[HISTORY_ID],
  USER_MLIAB_TRDDTAIL.[POLICY_DETAILS_ID],
  USER_MLIAB_TRDDTAIL.[WORKSHOPPERCENT],
  USER_MLIAB_TRDDTAIL.[WORKSHOP],
  USER_MLIAB_TRDDTAIL.[EMPSUSING],
  USER_MLIAB_TRDDTAIL.[FIXEDMACHINERY],
  USER_MLIAB_TRDDTAIL.[CAVITYWALL],
  USER_MLIAB_TRDDTAIL.[SOLVENT],
  USER_MLIAB_TRDDTAIL.[WATERPROOFING],
  USER_MLIAB_TRDDTAIL.[ROOFING],
  USER_MLIAB_TRDDTAIL.[VENTILATION],
  USER_MLIAB_TRDDTAIL.[CORGIREG],
  USER_MLIAB_TRDDTAIL.[ROADSURFACING],
  USER_MLIAB_TRDDTAIL.[PAVING],
  ISNULL(MAXDEPTH_ALIAS.[MH_MAXDEPTH_ID], '0') as MAXDEPTH_ID,
  ISNULL(MAXDEPTH_ALIAS.[MH_MAXDEPTH_DEBUG], '') as MAXDEPTH_DEBUG,
  ISNULL(SECONDARYRISK_ALIAS.[MH_TRADE_ID], '0') as SECONDARYRISK_ID,
  ISNULL(SECONDARYRISK_ALIAS.[MH_TRADE_DEBUG], '') as SECONDARYRISK_DEBUG,
  ISNULL(PRIMARYRISK_ALIAS.[MH_TRADE_ID], '0') as PRIMARYRISK_ID,
  ISNULL(PRIMARYRISK_ALIAS.[MH_TRADE_DEBUG], '') as PRIMARYRISK_DEBUG,
  ISNULL(PRESENTINSURER_ALIAS.[INSURER_ID], '0') as PRESENTINSURER_ID,
  ISNULL(PRESENTINSURER_ALIAS.[INSURER_DEBUG], '') as PRESENTINSURER_DEBUG,
  USER_MLIAB_TRDDTAIL.[COVERSTARTDATE],
  USER_MLIAB_TRDDTAIL.[PHASE],
  USER_MLIAB_TRDDTAIL.[EFFICACYCOVER],
  USER_MLIAB_TRDDTAIL.[HISTORYID],
  USER_MLIAB_TRDDTAIL.[POLICYDETAILSID],
  USER_MLIAB_TRDDTAIL.USERINSTANCE
FROM		
	USER_MLIAB_TRDDTAIL
	  LEFT OUTER JOIN LIST_MH_MAXDEPTH as MAXDEPTH_ALIAS ON USER_MLIAB_TRDDTAIL.[MAXDEPTH_ID] = MAXDEPTH_ALIAS.[MH_MAXDEPTH_ID]
	  LEFT OUTER JOIN LIST_MH_TRADE as SECONDARYRISK_ALIAS ON USER_MLIAB_TRDDTAIL.[SECONDARYRISK_ID] = SECONDARYRISK_ALIAS.[MH_TRADE_ID]
	  LEFT OUTER JOIN LIST_MH_TRADE as PRIMARYRISK_ALIAS ON USER_MLIAB_TRDDTAIL.[PRIMARYRISK_ID] = PRIMARYRISK_ALIAS.[MH_TRADE_ID]
	  INNER JOIN SYSTEM_INSURER as PRESENTINSURER_ALIAS ON USER_MLIAB_TRDDTAIL.[PRESENTINSURER_ID] = PRESENTINSURER_ALIAS.[INSURER_ID]
WHERE
  USER_MLIAB_TRDDTAIL.POLICY_DETAILS_ID = @POLICY_DETAILS_ID 
	AND USER_MLIAB_TRDDTAIL.HISTORY_ID = @HISTORY_ID      
    
ORDER BY
	USER_MLIAB_TRDDTAIL.USERINSTANCE ASC
		
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_ACCINCOM]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_ACCINCOM]

@MLIAB_ACCINCOM_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@ACCIDENTCOVER_ID [VARCHAR] (8),
@COVERYN [BIT],
@INCOMECOVER_ID [VARCHAR] (8),
				
@PEOPLENUM [NUMERIC] (18,2),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_ACCINCOM
(
	MLIAB_ACCINCOM_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[ACCIDENTCOVER_ID] ,
	[COVERYN],
	[INCOMECOVER_ID] ,
	[PEOPLENUM],
	USERINSTANCE
) VALUES (
	@MLIAB_ACCINCOM_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@ACCIDENTCOVER_ID,
	@COVERYN,
	@INCOMECOVER_ID,
	@PEOPLENUM,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_ASSUMP]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_ASSUMP]

@MLIAB_ASSUMP_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@DEMOLITION_ID [VARCHAR] (8),
@CONVICTED_ID [VARCHAR] (8),
@BANKRUPT_ID [VARCHAR] (8),
@REFUSED_ID [VARCHAR] (8),
@ASBESTOS_ID [VARCHAR] (8),
@POWERSTATIONS_ID [VARCHAR] (8),
@AIRCRAFT_ID [VARCHAR] (8),
@PPE_ID [VARCHAR] (8),
@STAFFTRAINING_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_ASSUMP
(
	MLIAB_ASSUMP_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[DEMOLITION_ID] ,
	[CONVICTED_ID] ,
	[BANKRUPT_ID] ,
	[REFUSED_ID] ,
	[ASBESTOS_ID] ,
	[POWERSTATIONS_ID] ,
	[AIRCRAFT_ID] ,
	[PPE_ID] ,
	[STAFFTRAINING_ID] ,
	USERINSTANCE
) VALUES (
	@MLIAB_ASSUMP_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@DEMOLITION_ID,
	@CONVICTED_ID,
	@BANKRUPT_ID,
	@REFUSED_ID,
	@ASBESTOS_ID,
	@POWERSTATIONS_ID,
	@AIRCRAFT_ID,
	@PPE_ID,
	@STAFFTRAINING_ID,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_BDCONTAC]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_BDCONTAC]

@MLIAB_BDCONTAC_ID [CHAR](32), 

@HISTORY_ID [INT],
@MLIAB_BDETAILS_ID CHAR(32),
@JOBTITLE_ID [VARCHAR] (8),
				
@NAME [VARCHAR] (200),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_BDCONTAC
(
	MLIAB_BDCONTAC_ID, 

	HISTORY_ID,
	MLIAB_BDETAILS_ID,
	[JOBTITLE_ID] ,
	[NAME],
	USERINSTANCE
) VALUES (
	@MLIAB_BDCONTAC_ID, 

	@HISTORY_ID,
   @MLIAB_BDETAILS_ID,
	@JOBTITLE_ID,
	@NAME,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_BDETAILS]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_BDETAILS]

@MLIAB_BDETAILS_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
				
@COUNTRY [VARCHAR] (200),
				
@COUNTY [VARCHAR] (200),
				
@CITY [VARCHAR] (200),
				
@LOCALITY [VARCHAR] (200),
				
@STREET [VARCHAR] (200),
				
@HOUSE [VARCHAR] (200),
				
@POSTCODE [VARCHAR] (200),
				
@REF [VARCHAR] (200),
@REGISTERED [BIT],
				
@COMPANYREGNO [VARCHAR] (200),
				
@WEBSITE [VARCHAR] (200),
@BUSINESSDESCRIP_ID [VARCHAR] (8),
@CREDITTERMS_ID [VARCHAR] (8),
@RETAILCOMM_ID [VARCHAR] (8),
@ACCOUNTHANDLER_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_BDETAILS
(
	MLIAB_BDETAILS_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[COUNTRY],
	[COUNTY],
	[CITY],
	[LOCALITY],
	[STREET],
	[HOUSE],
	[POSTCODE],
	[REF],
	[REGISTERED],
	[COMPANYREGNO],
	[WEBSITE],
	[BUSINESSDESCRIP_ID] ,
	[CREDITTERMS_ID] ,
	[RETAILCOMM_ID] ,
	[ACCOUNTHANDLER_ID] ,
	USERINSTANCE
) VALUES (
	@MLIAB_BDETAILS_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@COUNTRY,
	@COUNTY,
	@CITY,
	@LOCALITY,
	@STREET,
	@HOUSE,
	@POSTCODE,
	@REF,
	@REGISTERED,
	@COMPANYREGNO,
	@WEBSITE,
	@BUSINESSDESCRIP_ID,
	@CREDITTERMS_ID,
	@RETAILCOMM_ID,
	@ACCOUNTHANDLER_ID,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_BUSSUPP]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_BUSSUPP]

@MLIAB_BUSSUPP_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
				
@HANDSDETAILS [VARCHAR] (100),
@HANDS [BIT],
				
@TRIBUNALDETAILS [VARCHAR] (100),
@TRIBUNAL [BIT],
				
@DISCUSSDETAILS [VARCHAR] (100),
@DISCUSSIONS [BIT],
				
@REGUDETAILS [VARCHAR] (100),
@REGULATIONS [BIT],
				
@REDUNDETAILS [VARCHAR] (100),
@REDUNDANCIES [BIT],
				
@EMPDISDETAILS [VARCHAR] (100),
@EMPDISPUTE [BIT],
				
@EMPS [NUMERIC] (18,2),
@BUSSUPPCOVER [BIT],
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_BUSSUPP
(
	MLIAB_BUSSUPP_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[HANDSDETAILS],
	[HANDS],
	[TRIBUNALDETAILS],
	[TRIBUNAL],
	[DISCUSSDETAILS],
	[DISCUSSIONS],
	[REGUDETAILS],
	[REGULATIONS],
	[REDUNDETAILS],
	[REDUNDANCIES],
	[EMPDISDETAILS],
	[EMPDISPUTE],
	[EMPS],
	[BUSSUPPCOVER],
	USERINSTANCE
) VALUES (
	@MLIAB_BUSSUPP_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@HANDSDETAILS,
	@HANDS,
	@TRIBUNALDETAILS,
	@TRIBUNAL,
	@DISCUSSDETAILS,
	@DISCUSSIONS,
	@REGUDETAILS,
	@REGULATIONS,
	@REDUNDETAILS,
	@REDUNDANCIES,
	@EMPDISDETAILS,
	@EMPDISPUTE,
	@EMPS,
	@BUSSUPPCOVER,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_CAR]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_CAR]

@MLIAB_CAR_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@COVERHIREPLANT [BIT],
@COVERPLANT [BIT],
@CONTRACTSWORKS [BIT],
@MAXHIRPLANTVAL_ID [VARCHAR] (8),
@HIRPLANTMACVAL_ID [VARCHAR] (8),
@HIRECHARGEVAL_ID [VARCHAR] (8),
@OWNPLANTMACVAL_ID [VARCHAR] (8),
@MAXCONTRACTVAL_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_CAR
(
	MLIAB_CAR_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[COVERHIREPLANT],
	[COVERPLANT],
	[CONTRACTSWORKS],
	[MAXHIRPLANTVAL_ID] ,
	[HIRPLANTMACVAL_ID] ,
	[HIRECHARGEVAL_ID] ,
	[OWNPLANTMACVAL_ID] ,
	[MAXCONTRACTVAL_ID] ,
	USERINSTANCE
) VALUES (
	@MLIAB_CAR_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@COVERHIREPLANT,
	@COVERPLANT,
	@CONTRACTSWORKS,
	@MAXHIRPLANTVAL_ID,
	@HIRPLANTMACVAL_ID,
	@HIRECHARGEVAL_ID,
	@OWNPLANTMACVAL_ID,
	@MAXCONTRACTVAL_ID,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_CINFO]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_CINFO]

@MLIAB_CINFO_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@WRITTENRA [BIT],
@HEALTHSAFETY [BIT],
@WHICHASSOCI_ID [VARCHAR] (8),
@ASSOCIMEM [BIT],
@MAXHEIGHT_ID [VARCHAR] (8),
				
@HEATPERCENT [NUMERIC] (18,2),
@HEAT [BIT],
@WORKSOLEY [BIT],
@PSDRAWINGS [MONEY],
@SUPERVISORWR [MONEY],
@LABOURWR [MONEY],
@BONAFIDEWR [MONEY],
@ANNUALTURNOVER [MONEY],
				
@YRSEXP [NUMERIC] (18,2),
				
@YRS [NUMERIC] (18,2),
				
@YRESTABLISHED [NUMERIC] (18,2),
				
@NONMANUALEMPS [NUMERIC] (18,2),
				
@MANUALEMPS [NUMERIC] (18,2),
				
@NONMANUDIREC [NUMERIC] (18,2),
				
@MANUALDIRECTORS [NUMERIC] (18,2),
				
@TOTALPANDP [NUMERIC] (18,2),
@MANUALWORK [BIT],
@COMPANYSTATUS_ID [VARCHAR] (8),
@PUBLIABLIMIT_ID [VARCHAR] (8),
@CLERICALPAYE [MONEY],
@MANUALPAYE [MONEY],
@TOOLVALUE_ID [VARCHAR] (8),
@TOOLCOVER [BIT],
				
@MANDAYS [NUMERIC] (18,2),
@TEMPINSURANCE [BIT],
				
@TOTALEMPLOYEES [NUMERIC] (18,2),
				
@ERNREF [VARCHAR] (20),
@SUBSIDYN [BIT],
@INCLUDEYN [BIT],
@ERNEXEMPT [BIT],
@EMPLOYEETOOL [BIT],
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_CINFO
(
	MLIAB_CINFO_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[WRITTENRA],
	[HEALTHSAFETY],
	[WHICHASSOCI_ID] ,
	[ASSOCIMEM],
	[MAXHEIGHT_ID] ,
	[HEATPERCENT],
	[HEAT],
	[WORKSOLEY],
	[PSDRAWINGS],
	[SUPERVISORWR],
	[LABOURWR],
	[BONAFIDEWR],
	[ANNUALTURNOVER],
	[YRSEXP],
	[YRS],
	[YRESTABLISHED],
	[NONMANUALEMPS],
	[MANUALEMPS],
	[NONMANUDIREC],
	[MANUALDIRECTORS],
	[TOTALPANDP],
	[MANUALWORK],
	[COMPANYSTATUS_ID] ,
	[PUBLIABLIMIT_ID] ,
	[CLERICALPAYE],
	[MANUALPAYE],
	[TOOLVALUE_ID] ,
	[TOOLCOVER],
	[MANDAYS],
	[TEMPINSURANCE],
	[TOTALEMPLOYEES],
	[ERNREF],
	[SUBSIDYN],
	[INCLUDEYN],
	[ERNEXEMPT],
	[EMPLOYEETOOL],
	USERINSTANCE
) VALUES (
	@MLIAB_CINFO_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@WRITTENRA,
	@HEALTHSAFETY,
	@WHICHASSOCI_ID,
	@ASSOCIMEM,
	@MAXHEIGHT_ID,
	@HEATPERCENT,
	@HEAT,
	@WORKSOLEY,
	@PSDRAWINGS,
	@SUPERVISORWR,
	@LABOURWR,
	@BONAFIDEWR,
	@ANNUALTURNOVER,
	@YRSEXP,
	@YRS,
	@YRESTABLISHED,
	@NONMANUALEMPS,
	@MANUALEMPS,
	@NONMANUDIREC,
	@MANUALDIRECTORS,
	@TOTALPANDP,
	@MANUALWORK,
	@COMPANYSTATUS_ID,
	@PUBLIABLIMIT_ID,
	@CLERICALPAYE,
	@MANUALPAYE,
	@TOOLVALUE_ID,
	@TOOLCOVER,
	@MANDAYS,
	@TEMPINSURANCE,
	@TOTALEMPLOYEES,
	@ERNREF,
	@SUBSIDYN,
	@INCLUDEYN,
	@ERNEXEMPT,
	@EMPLOYEETOOL,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_CLMDTAIL]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_CLMDTAIL]

@MLIAB_CLMDTAIL_ID [CHAR](32), 

@HISTORY_ID [INT],
@MLIAB_CLMSUM_ID CHAR(32),
				
@DETAILS [VARCHAR] (500),
@OUTSTANDING [MONEY],
@PAID [MONEY],
@DATE [DATETIME],
@TYPE_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_CLMDTAIL
(
	MLIAB_CLMDTAIL_ID, 

	HISTORY_ID,
	MLIAB_CLMSUM_ID,
	[DETAILS],
	[OUTSTANDING],
	[PAID],
	[DATE],
	[TYPE_ID] ,
	USERINSTANCE
) VALUES (
	@MLIAB_CLMDTAIL_ID, 

	@HISTORY_ID,
   @MLIAB_CLMSUM_ID,
	@DETAILS,
	@OUTSTANDING,
	@PAID,
	@DATE,
	@TYPE_ID,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_CLMSUM]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_CLMSUM]

@MLIAB_CLMSUM_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@INCIDENTS [BIT],
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_CLMSUM
(
	MLIAB_CLMSUM_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[INCIDENTS],
	USERINSTANCE
) VALUES (
	@MLIAB_CLMSUM_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@INCIDENTS,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_NOTES]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_NOTES]

@MLIAB_NOTES_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
				
@NOTES [VARCHAR] (8000),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_NOTES
(
	MLIAB_NOTES_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[NOTES],
	USERINSTANCE
) VALUES (
	@MLIAB_NOTES_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@NOTES,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_PANDP]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_PANDP]

@MLIAB_PANDP_ID [CHAR](32), 

@HISTORY_ID [INT],
@MLIAB_CINFO_ID CHAR(32),
@STATUS_ID [VARCHAR] (8),
				
@SURNAME [VARCHAR] (50),
				
@FORENAME [VARCHAR] (50),
@TITLE_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_PANDP
(
	MLIAB_PANDP_ID, 

	HISTORY_ID,
	MLIAB_CINFO_ID,
	[STATUS_ID] ,
	[SURNAME],
	[FORENAME],
	[TITLE_ID] ,
	USERINSTANCE
) VALUES (
	@MLIAB_PANDP_ID, 

	@HISTORY_ID,
   @MLIAB_CINFO_ID,
	@STATUS_ID,
	@SURNAME,
	@FORENAME,
	@TITLE_ID,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_PAPEOPLE]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_PAPEOPLE]

@MLIAB_PAPEOPLE_ID [CHAR](32), 

@HISTORY_ID [INT],
@MLIAB_ACCINCOM_ID CHAR(32),
@UKRESIDENTYN [BIT],
@DATEOFBIRTH [DATETIME],
				
@SURNAME [VARCHAR] (50),
				
@FORENAMES [VARCHAR] (50),
@TITLE_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_PAPEOPLE
(
	MLIAB_PAPEOPLE_ID, 

	HISTORY_ID,
	MLIAB_ACCINCOM_ID,
	[UKRESIDENTYN],
	[DATEOFBIRTH],
	[SURNAME],
	[FORENAMES],
	[TITLE_ID] ,
	USERINSTANCE
) VALUES (
	@MLIAB_PAPEOPLE_ID, 

	@HISTORY_ID,
   @MLIAB_ACCINCOM_ID,
	@UKRESIDENTYN,
	@DATEOFBIRTH,
	@SURNAME,
	@FORENAMES,
	@TITLE_ID,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_PROFINDM]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_PROFINDM]

@MLIAB_PROFINDM_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
@PILEVEL_ID [VARCHAR] (8),
@PIYN [BIT],
@DESIGNYN [BIT],
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_PROFINDM
(
	MLIAB_PROFINDM_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[PILEVEL_ID] ,
	[PIYN],
	[DESIGNYN],
	USERINSTANCE
) VALUES (
	@MLIAB_PROFINDM_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@PILEVEL_ID,
	@PIYN,
	@DESIGNYN,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_SUBSID]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_SUBSID]

@MLIAB_SUBSID_ID [CHAR](32), 

@HISTORY_ID [INT],
@MLIAB_CINFO_ID CHAR(32),
@SUBSIDINSURER_ID [VARCHAR] (8),
				
@SUBSIDERN [VARCHAR] (20),
				
@SUBSIDNAME [VARCHAR] (200),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_SUBSID
(
	MLIAB_SUBSID_ID, 

	HISTORY_ID,
	MLIAB_CINFO_ID,
	[SUBSIDINSURER_ID] ,
	[SUBSIDERN],
	[SUBSIDNAME],
	USERINSTANCE
) VALUES (
	@MLIAB_SUBSID_ID, 

	@HISTORY_ID,
   @MLIAB_CINFO_ID,
	@SUBSIDINSURER_ID,
	@SUBSIDERN,
	@SUBSIDNAME,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_SAVE_MLIAB_TRDDTAIL]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_SAVE_MLIAB_TRDDTAIL]

@MLIAB_TRDDTAIL_ID [CHAR](32), 

@HISTORY_ID [INT],
@POLICY_DETAILS_ID [CHAR](32),
				
@WORKSHOPPERCENT [NUMERIC] (18,2),
@WORKSHOP [BIT],
				
@EMPSUSING [NUMERIC] (18,2),
@FIXEDMACHINERY [BIT],
@CAVITYWALL [BIT],
@SOLVENT [BIT],
@WATERPROOFING [BIT],
@ROOFING [BIT],
@VENTILATION [BIT],
@CORGIREG [BIT],
@ROADSURFACING [BIT],
@PAVING [BIT],
@MAXDEPTH_ID [VARCHAR] (8),
@SECONDARYRISK_ID [VARCHAR] (8),
@PRIMARYRISK_ID [VARCHAR] (8),
@PRESENTINSURER_ID [VARCHAR] (8),
@COVERSTARTDATE [DATETIME],
@PHASE [BIT],
@EFFICACYCOVER [BIT],
				
@HISTORYID [VARCHAR] (3),
				
@POLICYDETAILSID [VARCHAR] (32),
@USERINSTANCE [INT]

AS

INSERT INTO 
USER_MLIAB_TRDDTAIL
(
	MLIAB_TRDDTAIL_ID, 

	HISTORY_ID,
	POLICY_DETAILS_ID,
	[WORKSHOPPERCENT],
	[WORKSHOP],
	[EMPSUSING],
	[FIXEDMACHINERY],
	[CAVITYWALL],
	[SOLVENT],
	[WATERPROOFING],
	[ROOFING],
	[VENTILATION],
	[CORGIREG],
	[ROADSURFACING],
	[PAVING],
	[MAXDEPTH_ID] ,
	[SECONDARYRISK_ID] ,
	[PRIMARYRISK_ID] ,
	[PRESENTINSURER_ID] ,
	[COVERSTARTDATE],
	[PHASE],
	[EFFICACYCOVER],
	[HISTORYID],
	[POLICYDETAILSID],
	USERINSTANCE
) VALUES (
	@MLIAB_TRDDTAIL_ID, 

	@HISTORY_ID,
   @POLICY_DETAILS_ID,
	@WORKSHOPPERCENT,
	@WORKSHOP,
	@EMPSUSING,
	@FIXEDMACHINERY,
	@CAVITYWALL,
	@SOLVENT,
	@WATERPROOFING,
	@ROOFING,
	@VENTILATION,
	@CORGIREG,
	@ROADSURFACING,
	@PAVING,
	@MAXDEPTH_ID,
	@SECONDARYRISK_ID,
	@PRIMARYRISK_ID,
	@PRESENTINSURER_ID,
	@COVERSTARTDATE,
	@PHASE,
	@EFFICACYCOVER,
	@HISTORYID,
	@POLICYDETAILSID,
	@USERINSTANCE
)
GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_ACCINCOM]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_ACCINCOM]

@MLIAB_ACCINCOM_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@ACCIDENTCOVER_ID [VARCHAR] (8),
@COVERYN [BIT],
@INCOMECOVER_ID [VARCHAR] (8),
				
@PEOPLENUM [NUMERIC] (18,2),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_ACCINCOM
SET
  [MLIAB_ACCINCOM_ID] = @MLIAB_ACCINCOM_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [ACCIDENTCOVER_ID] = @ACCIDENTCOVER_ID,
  [COVERYN] = @COVERYN,
  [INCOMECOVER_ID] = @INCOMECOVER_ID,
  [PEOPLENUM] = @PEOPLENUM,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_ACCINCOM_ID] = @MLIAB_ACCINCOM_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_ASSUMP]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_ASSUMP]

@MLIAB_ASSUMP_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@DEMOLITION_ID [VARCHAR] (8),
@CONVICTED_ID [VARCHAR] (8),
@BANKRUPT_ID [VARCHAR] (8),
@REFUSED_ID [VARCHAR] (8),
@ASBESTOS_ID [VARCHAR] (8),
@POWERSTATIONS_ID [VARCHAR] (8),
@AIRCRAFT_ID [VARCHAR] (8),
@PPE_ID [VARCHAR] (8),
@STAFFTRAINING_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_ASSUMP
SET
  [MLIAB_ASSUMP_ID] = @MLIAB_ASSUMP_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [DEMOLITION_ID] = @DEMOLITION_ID,
  [CONVICTED_ID] = @CONVICTED_ID,
  [BANKRUPT_ID] = @BANKRUPT_ID,
  [REFUSED_ID] = @REFUSED_ID,
  [ASBESTOS_ID] = @ASBESTOS_ID,
  [POWERSTATIONS_ID] = @POWERSTATIONS_ID,
  [AIRCRAFT_ID] = @AIRCRAFT_ID,
  [PPE_ID] = @PPE_ID,
  [STAFFTRAINING_ID] = @STAFFTRAINING_ID,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_ASSUMP_ID] = @MLIAB_ASSUMP_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_BDCONTAC]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_BDCONTAC]

@MLIAB_BDCONTAC_ID [CHAR](32), 

@HISTORY_ID [INT],    
@MLIAB_BDETAILS_ID CHAR(32),
@JOBTITLE_ID [VARCHAR] (8),
				
@NAME [VARCHAR] (200),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_BDCONTAC
SET
  [MLIAB_BDCONTAC_ID] = @MLIAB_BDCONTAC_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [MLIAB_BDETAILS_ID] = @MLIAB_BDETAILS_ID,
  [JOBTITLE_ID] = @JOBTITLE_ID,
  [NAME] = @NAME,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_BDCONTAC_ID] = @MLIAB_BDCONTAC_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_BDETAILS]    Script Date: 22/01/2025 07:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_BDETAILS]

@MLIAB_BDETAILS_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
				
@COUNTRY [VARCHAR] (200),
				
@COUNTY [VARCHAR] (200),
				
@CITY [VARCHAR] (200),
				
@LOCALITY [VARCHAR] (200),
				
@STREET [VARCHAR] (200),
				
@HOUSE [VARCHAR] (200),
				
@POSTCODE [VARCHAR] (200),
				
@REF [VARCHAR] (200),
@REGISTERED [BIT],
				
@COMPANYREGNO [VARCHAR] (200),
				
@WEBSITE [VARCHAR] (200),
@BUSINESSDESCRIP_ID [VARCHAR] (8),
@CREDITTERMS_ID [VARCHAR] (8),
@RETAILCOMM_ID [VARCHAR] (8),
@ACCOUNTHANDLER_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_BDETAILS
SET
  [MLIAB_BDETAILS_ID] = @MLIAB_BDETAILS_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [COUNTRY] = @COUNTRY,
  [COUNTY] = @COUNTY,
  [CITY] = @CITY,
  [LOCALITY] = @LOCALITY,
  [STREET] = @STREET,
  [HOUSE] = @HOUSE,
  [POSTCODE] = @POSTCODE,
  [REF] = @REF,
  [REGISTERED] = @REGISTERED,
  [COMPANYREGNO] = @COMPANYREGNO,
  [WEBSITE] = @WEBSITE,
  [BUSINESSDESCRIP_ID] = @BUSINESSDESCRIP_ID,
  [CREDITTERMS_ID] = @CREDITTERMS_ID,
  [RETAILCOMM_ID] = @RETAILCOMM_ID,
  [ACCOUNTHANDLER_ID] = @ACCOUNTHANDLER_ID,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_BDETAILS_ID] = @MLIAB_BDETAILS_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_BUSSUPP]    Script Date: 22/01/2025 07:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_BUSSUPP]

@MLIAB_BUSSUPP_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
				
@HANDSDETAILS [VARCHAR] (100),
@HANDS [BIT],
				
@TRIBUNALDETAILS [VARCHAR] (100),
@TRIBUNAL [BIT],
				
@DISCUSSDETAILS [VARCHAR] (100),
@DISCUSSIONS [BIT],
				
@REGUDETAILS [VARCHAR] (100),
@REGULATIONS [BIT],
				
@REDUNDETAILS [VARCHAR] (100),
@REDUNDANCIES [BIT],
				
@EMPDISDETAILS [VARCHAR] (100),
@EMPDISPUTE [BIT],
				
@EMPS [NUMERIC] (18,2),
@BUSSUPPCOVER [BIT],
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_BUSSUPP
SET
  [MLIAB_BUSSUPP_ID] = @MLIAB_BUSSUPP_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [HANDSDETAILS] = @HANDSDETAILS,
  [HANDS] = @HANDS,
  [TRIBUNALDETAILS] = @TRIBUNALDETAILS,
  [TRIBUNAL] = @TRIBUNAL,
  [DISCUSSDETAILS] = @DISCUSSDETAILS,
  [DISCUSSIONS] = @DISCUSSIONS,
  [REGUDETAILS] = @REGUDETAILS,
  [REGULATIONS] = @REGULATIONS,
  [REDUNDETAILS] = @REDUNDETAILS,
  [REDUNDANCIES] = @REDUNDANCIES,
  [EMPDISDETAILS] = @EMPDISDETAILS,
  [EMPDISPUTE] = @EMPDISPUTE,
  [EMPS] = @EMPS,
  [BUSSUPPCOVER] = @BUSSUPPCOVER,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_BUSSUPP_ID] = @MLIAB_BUSSUPP_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_CAR]    Script Date: 22/01/2025 07:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_CAR]

@MLIAB_CAR_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@COVERHIREPLANT [BIT],
@COVERPLANT [BIT],
@CONTRACTSWORKS [BIT],
@MAXHIRPLANTVAL_ID [VARCHAR] (8),
@HIRPLANTMACVAL_ID [VARCHAR] (8),
@HIRECHARGEVAL_ID [VARCHAR] (8),
@OWNPLANTMACVAL_ID [VARCHAR] (8),
@MAXCONTRACTVAL_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_CAR
SET
  [MLIAB_CAR_ID] = @MLIAB_CAR_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [COVERHIREPLANT] = @COVERHIREPLANT,
  [COVERPLANT] = @COVERPLANT,
  [CONTRACTSWORKS] = @CONTRACTSWORKS,
  [MAXHIRPLANTVAL_ID] = @MAXHIRPLANTVAL_ID,
  [HIRPLANTMACVAL_ID] = @HIRPLANTMACVAL_ID,
  [HIRECHARGEVAL_ID] = @HIRECHARGEVAL_ID,
  [OWNPLANTMACVAL_ID] = @OWNPLANTMACVAL_ID,
  [MAXCONTRACTVAL_ID] = @MAXCONTRACTVAL_ID,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_CAR_ID] = @MLIAB_CAR_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_CINFO]    Script Date: 22/01/2025 07:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_CINFO]

@MLIAB_CINFO_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@WRITTENRA [BIT],
@HEALTHSAFETY [BIT],
@WHICHASSOCI_ID [VARCHAR] (8),
@ASSOCIMEM [BIT],
@MAXHEIGHT_ID [VARCHAR] (8),
				
@HEATPERCENT [NUMERIC] (18,2),
@HEAT [BIT],
@WORKSOLEY [BIT],
@PSDRAWINGS [MONEY],
@SUPERVISORWR [MONEY],
@LABOURWR [MONEY],
@BONAFIDEWR [MONEY],
@ANNUALTURNOVER [MONEY],
				
@YRSEXP [NUMERIC] (18,2),
				
@YRS [NUMERIC] (18,2),
				
@YRESTABLISHED [NUMERIC] (18,2),
				
@NONMANUALEMPS [NUMERIC] (18,2),
				
@MANUALEMPS [NUMERIC] (18,2),
				
@NONMANUDIREC [NUMERIC] (18,2),
				
@MANUALDIRECTORS [NUMERIC] (18,2),
				
@TOTALPANDP [NUMERIC] (18,2),
@MANUALWORK [BIT],
@COMPANYSTATUS_ID [VARCHAR] (8),
@PUBLIABLIMIT_ID [VARCHAR] (8),
@CLERICALPAYE [MONEY],
@MANUALPAYE [MONEY],
@TOOLVALUE_ID [VARCHAR] (8),
@TOOLCOVER [BIT],
				
@MANDAYS [NUMERIC] (18,2),
@TEMPINSURANCE [BIT],
				
@TOTALEMPLOYEES [NUMERIC] (18,2),
				
@ERNREF [VARCHAR] (20),
@SUBSIDYN [BIT],
@INCLUDEYN [BIT],
@ERNEXEMPT [BIT],
@EMPLOYEETOOL [BIT],
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_CINFO
SET
  [MLIAB_CINFO_ID] = @MLIAB_CINFO_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [WRITTENRA] = @WRITTENRA,
  [HEALTHSAFETY] = @HEALTHSAFETY,
  [WHICHASSOCI_ID] = @WHICHASSOCI_ID,
  [ASSOCIMEM] = @ASSOCIMEM,
  [MAXHEIGHT_ID] = @MAXHEIGHT_ID,
  [HEATPERCENT] = @HEATPERCENT,
  [HEAT] = @HEAT,
  [WORKSOLEY] = @WORKSOLEY,
  [PSDRAWINGS] = @PSDRAWINGS,
  [SUPERVISORWR] = @SUPERVISORWR,
  [LABOURWR] = @LABOURWR,
  [BONAFIDEWR] = @BONAFIDEWR,
  [ANNUALTURNOVER] = @ANNUALTURNOVER,
  [YRSEXP] = @YRSEXP,
  [YRS] = @YRS,
  [YRESTABLISHED] = @YRESTABLISHED,
  [NONMANUALEMPS] = @NONMANUALEMPS,
  [MANUALEMPS] = @MANUALEMPS,
  [NONMANUDIREC] = @NONMANUDIREC,
  [MANUALDIRECTORS] = @MANUALDIRECTORS,
  [TOTALPANDP] = @TOTALPANDP,
  [MANUALWORK] = @MANUALWORK,
  [COMPANYSTATUS_ID] = @COMPANYSTATUS_ID,
  [PUBLIABLIMIT_ID] = @PUBLIABLIMIT_ID,
  [CLERICALPAYE] = @CLERICALPAYE,
  [MANUALPAYE] = @MANUALPAYE,
  [TOOLVALUE_ID] = @TOOLVALUE_ID,
  [TOOLCOVER] = @TOOLCOVER,
  [MANDAYS] = @MANDAYS,
  [TEMPINSURANCE] = @TEMPINSURANCE,
  [TOTALEMPLOYEES] = @TOTALEMPLOYEES,
  [ERNREF] = @ERNREF,
  [SUBSIDYN] = @SUBSIDYN,
  [INCLUDEYN] = @INCLUDEYN,
  [ERNEXEMPT] = @ERNEXEMPT,
  [EMPLOYEETOOL] = @EMPLOYEETOOL,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_CINFO_ID] = @MLIAB_CINFO_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_CLMDTAIL]    Script Date: 22/01/2025 07:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_CLMDTAIL]

@MLIAB_CLMDTAIL_ID [CHAR](32), 

@HISTORY_ID [INT],    
@MLIAB_CLMSUM_ID CHAR(32),
				
@DETAILS [VARCHAR] (500),
@OUTSTANDING [MONEY],
@PAID [MONEY],
@DATE [DATETIME],
@TYPE_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_CLMDTAIL
SET
  [MLIAB_CLMDTAIL_ID] = @MLIAB_CLMDTAIL_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [MLIAB_CLMSUM_ID] = @MLIAB_CLMSUM_ID,
  [DETAILS] = @DETAILS,
  [OUTSTANDING] = @OUTSTANDING,
  [PAID] = @PAID,
  [DATE] = @DATE,
  [TYPE_ID] = @TYPE_ID,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_CLMDTAIL_ID] = @MLIAB_CLMDTAIL_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_CLMSUM]    Script Date: 22/01/2025 07:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_CLMSUM]

@MLIAB_CLMSUM_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@INCIDENTS [BIT],
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_CLMSUM
SET
  [MLIAB_CLMSUM_ID] = @MLIAB_CLMSUM_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [INCIDENTS] = @INCIDENTS,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_CLMSUM_ID] = @MLIAB_CLMSUM_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_NOTES]    Script Date: 22/01/2025 07:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_NOTES]

@MLIAB_NOTES_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
				
@NOTES [VARCHAR] (8000),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_NOTES
SET
  [MLIAB_NOTES_ID] = @MLIAB_NOTES_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [NOTES] = @NOTES,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_NOTES_ID] = @MLIAB_NOTES_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_PANDP]    Script Date: 22/01/2025 07:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_PANDP]

@MLIAB_PANDP_ID [CHAR](32), 

@HISTORY_ID [INT],    
@MLIAB_CINFO_ID CHAR(32),
@STATUS_ID [VARCHAR] (8),
				
@SURNAME [VARCHAR] (50),
				
@FORENAME [VARCHAR] (50),
@TITLE_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_PANDP
SET
  [MLIAB_PANDP_ID] = @MLIAB_PANDP_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [MLIAB_CINFO_ID] = @MLIAB_CINFO_ID,
  [STATUS_ID] = @STATUS_ID,
  [SURNAME] = @SURNAME,
  [FORENAME] = @FORENAME,
  [TITLE_ID] = @TITLE_ID,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_PANDP_ID] = @MLIAB_PANDP_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_PAPEOPLE]    Script Date: 22/01/2025 07:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_PAPEOPLE]

@MLIAB_PAPEOPLE_ID [CHAR](32), 

@HISTORY_ID [INT],    
@MLIAB_ACCINCOM_ID CHAR(32),
@UKRESIDENTYN [BIT],
@DATEOFBIRTH [DATETIME],
				
@SURNAME [VARCHAR] (50),
				
@FORENAMES [VARCHAR] (50),
@TITLE_ID [VARCHAR] (8),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_PAPEOPLE
SET
  [MLIAB_PAPEOPLE_ID] = @MLIAB_PAPEOPLE_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [MLIAB_ACCINCOM_ID] = @MLIAB_ACCINCOM_ID,
  [UKRESIDENTYN] = @UKRESIDENTYN,
  [DATEOFBIRTH] = @DATEOFBIRTH,
  [SURNAME] = @SURNAME,
  [FORENAMES] = @FORENAMES,
  [TITLE_ID] = @TITLE_ID,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_PAPEOPLE_ID] = @MLIAB_PAPEOPLE_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_PROFINDM]    Script Date: 22/01/2025 07:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_PROFINDM]

@MLIAB_PROFINDM_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
@PILEVEL_ID [VARCHAR] (8),
@PIYN [BIT],
@DESIGNYN [BIT],
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_PROFINDM
SET
  [MLIAB_PROFINDM_ID] = @MLIAB_PROFINDM_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [PILEVEL_ID] = @PILEVEL_ID,
  [PIYN] = @PIYN,
  [DESIGNYN] = @DESIGNYN,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_PROFINDM_ID] = @MLIAB_PROFINDM_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_SUBSID]    Script Date: 22/01/2025 07:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_SUBSID]

@MLIAB_SUBSID_ID [CHAR](32), 

@HISTORY_ID [INT],    
@MLIAB_CINFO_ID CHAR(32),
@SUBSIDINSURER_ID [VARCHAR] (8),
				
@SUBSIDERN [VARCHAR] (20),
				
@SUBSIDNAME [VARCHAR] (200),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_SUBSID
SET
  [MLIAB_SUBSID_ID] = @MLIAB_SUBSID_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [MLIAB_CINFO_ID] = @MLIAB_CINFO_ID,
  [SUBSIDINSURER_ID] = @SUBSIDINSURER_ID,
  [SUBSIDERN] = @SUBSIDERN,
  [SUBSIDNAME] = @SUBSIDNAME,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_SUBSID_ID] = @MLIAB_SUBSID_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
/****** Object:  StoredProcedure [dbo].[USER_UPDATE_MLIAB_TRDDTAIL]    Script Date: 22/01/2025 07:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USER_UPDATE_MLIAB_TRDDTAIL]

@MLIAB_TRDDTAIL_ID [CHAR](32), 

@HISTORY_ID [INT],    
@POLICY_DETAILS_ID [CHAR](32),
				
@WORKSHOPPERCENT [NUMERIC] (18,2),
@WORKSHOP [BIT],
				
@EMPSUSING [NUMERIC] (18,2),
@FIXEDMACHINERY [BIT],
@CAVITYWALL [BIT],
@SOLVENT [BIT],
@WATERPROOFING [BIT],
@ROOFING [BIT],
@VENTILATION [BIT],
@CORGIREG [BIT],
@ROADSURFACING [BIT],
@PAVING [BIT],
@MAXDEPTH_ID [VARCHAR] (8),
@SECONDARYRISK_ID [VARCHAR] (8),
@PRIMARYRISK_ID [VARCHAR] (8),
@PRESENTINSURER_ID [VARCHAR] (8),
@COVERSTARTDATE [DATETIME],
@PHASE [BIT],
@EFFICACYCOVER [BIT],
				
@HISTORYID [VARCHAR] (3),
				
@POLICYDETAILSID [VARCHAR] (32),
@USERINSTANCE [INT]

AS

SET NOCOUNT ON

UPDATE
  USER_MLIAB_TRDDTAIL
SET
  [MLIAB_TRDDTAIL_ID] = @MLIAB_TRDDTAIL_ID,  
  
  [HISTORY_ID] = @HISTORY_ID,
  [POLICY_DETAILS_ID] = @POLICY_DETAILS_ID,
  [WORKSHOPPERCENT] = @WORKSHOPPERCENT,
  [WORKSHOP] = @WORKSHOP,
  [EMPSUSING] = @EMPSUSING,
  [FIXEDMACHINERY] = @FIXEDMACHINERY,
  [CAVITYWALL] = @CAVITYWALL,
  [SOLVENT] = @SOLVENT,
  [WATERPROOFING] = @WATERPROOFING,
  [ROOFING] = @ROOFING,
  [VENTILATION] = @VENTILATION,
  [CORGIREG] = @CORGIREG,
  [ROADSURFACING] = @ROADSURFACING,
  [PAVING] = @PAVING,
  [MAXDEPTH_ID] = @MAXDEPTH_ID,
  [SECONDARYRISK_ID] = @SECONDARYRISK_ID,
  [PRIMARYRISK_ID] = @PRIMARYRISK_ID,
  [PRESENTINSURER_ID] = @PRESENTINSURER_ID,
  [COVERSTARTDATE] = @COVERSTARTDATE,
  [PHASE] = @PHASE,
  [EFFICACYCOVER] = @EFFICACYCOVER,
  [HISTORYID] = @HISTORYID,
  [POLICYDETAILSID] = @POLICYDETAILSID,      
  [USERINSTANCE] = @USERINSTANCE
WHERE
  [MLIAB_TRDDTAIL_ID] = @MLIAB_TRDDTAIL_ID

  AND [HISTORY_ID] = @HISTORY_ID      


GO
