<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ProductUAT" connectionString="Data Source=MHGSQL01\TGSLTEST;Initial Catalog=Product;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
		<add name="ProductDev" connectionString="Data Source=MHGSQL01\TGSLDEV;Initial Catalog=Product;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
		<add name="ProductLive" connectionString="Data Source=MHGSQL01\TGSL;Initial Catalog=Product;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="System" value="UAT"/>	<!--LIVE,UAT,DEV-->
		<add key="Test" value="true"/>	<!--Output to Test Directory-->
		<add key="ExecuteCAQ" value="true"/> <!--Update or Create LOB in Product database for CAQ-->
		<add key="ExecuteWPD" value="false"/>
		<add key="ExecuteCalculator" value="false"/>
		<add key="ExecuteXBroker" value="false"/>
		<!--<add key="CAQLOBSections" value=""/>-->
		<add key="CAQLOBSections" value=""/> <!--Only Reprocess these screens-->
		<add key="CAQLOBQuestions" value=""/> <!--Only Reprocess these questions-->
		<add key="CAQLOBQuestionSetIDOverride" value=""/> <!--For Questionsets with different names from LOB Name target this ID-->
		<add key="CAQLOBGroupIDOverride" value=""/>
		<!--For Questionsets with different names from LOB Name target this ID-->
		<add key="ProjectRootPath" value="L:\Test\TCAS\Projects\"/>
		<add key="TestPath" value="C:\temp\t2\"/> <!--The folder must already exist; it will not be created-->
		<add key="LOBName" value="MPROIND"/>
		<add key="LineOfBusiness" value="Professional Indemnity"/>
		<add key="Insurer" value="Toledo Insurance Solutions"/>
		<add key="SchemeInsurerName" value="Toledo Insurance Solutions"/>
		<add key="InsurerID" value="TOLEDO"/>
		<add key="SchemeTableID" value="1610"/>
		<add key="SchemeLinkAgents" value="5208F39A498E4706A91BEEC84ED25686"/> <!--Constructaquote.com, Constructaquote, XBroker, Moorhouse-->
		<add key="CommissionPercent" value="30"/>
		<add key="InternetAvailable" value="1"/> <!--Set to 1 if scheme to be enabled on CAQ or Xbroker, else 0; value gets passed to uspSchemeDefaultInsert-->
		<add key="RangePrefix" value="TISBXBPI"/>
		<add key="wpdFileName" value="TISBXBPI.wpd"/>
		<add key="QuestionSetBuilder.LabelDescriptionControlPrefixed" value="true"/>
		<add key="NumberOfDeclines" value="30"/>
		<add key="NumberOfRefers" value="30"/>
		<add key="NumberOfProductDetails" value="10"/>
		<add key="NumberOfExcesses" value="10"/>
		<add key="NumberOfSummarys" value="10"/>
		<add key="NumberOfBreakdowns" value="70"/>
		<add key="NumberOfEndorsements" value="1"/>
		<add key="NumberOfPremiums" value="10"/>
		<add key="PremiumSections" value="DIOFPREM"/> <!--Old values - LIABPREM,EMPLPREM -->
		<add key="RateStartDateTime" value="25 Jul 2024"/>
		<add key="ProjectLevelAssumptions" value="LOB"/> <!--Project ,LOB  ,Scheme ,None -->
		<add key="ProjectLevelClaims" value="Scheme"/>
		<add key="ProjectLevelLimits" value="Scheme"/>
		<add key="ProjectLevelLoadDiscounts" value="Scheme"/>
		<add key="ProjectLevelRates" value="Scheme"/>
		<add key="ProjectLevelSynonyms" value="Scheme"/>
		<add key="ProjectLevelCalculator" value="LOB"/>
		<add key="ProjectLevelSchemeDispatcher" value="LOB"/>
		<add key="ProjectLevelAddScheme" value="Scheme"/>
		<add key="ProjectLevelEndorsements" value="Scheme"/>
		<add key="ProjectLevelTrades" value="Scheme"/>
		<add key="ProjectLevelExcesses" value="Scheme"/>
		<add key="ProjectLevelWpd" value="LOB"/> <!--Should match the value set for ProjectLevelCalculator above so that the WPD refers to the correct procedure name -->
		<add key="ProjectLevelRiskTableTypes" value="LOB"/>
		<add key="ProjectLevelRiskBordereaux" value="LOB"/> <!--LOB = Only LOB ,Scheme = LOB and Scheme , None-->
		<add key="ProjectLevelDocumentFormulae" value="LOB"/> <!--LOB = Only LOB ,Scheme = LOB and Scheme , None-->
		<add key="RealTimePricingApplies" value="false"/> <!--If true, the tvf Calculator script will call svfSchemeCommissionApportionment for RTP functionality-->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>