USE [Transactor_Live]
GO
/****** Object:  Table [dbo].[SchemeContractorsPlantAndEquipmentTokioMarineKilnTrade]    Script Date: 10/01/2025 07:06:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SchemeContractorsPlantAndEquipmentTokioMarineKilnTrade]') AND type in (N'U'))
DROP TABLE [dbo].[SchemeContractorsPlantAndEquipmentTokioMarineKilnTrade]
GO
/****** Object:  Table [dbo].[SchemeContractorsPlantAndEquipmentTokioMarineKilnTrade]    Script Date: 10/01/2025 07:06:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchemeContractorsPlantAndEquipmentTokioMarineKilnTrade](
	[SchemeContractorsPlantAndEquipmentTokioMarineKilnTradeID] [int] IDENTITY(1,1) NOT NULL,
	[StartDatetime] [datetime] NULL,
	[TradeID] [nvarchar](50) NOT NULL,
	[Endorsements] [varchar](max) NOT NULL,
	[Load] [numeric](18, 6) NOT NULL,
	[Refer] [bit] NULL,
	[MaxDepth] [int] NULL,
	[MaxHeight] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SchemeContractorsPlantAndEquipmentTokioMarineKilnTrade] ON 

INSERT [dbo].[SchemeContractorsPlantAndEquipmentTokioMarineKilnTrade] ([SchemeContractorsPlantAndEquipmentTokioMarineKilnTradeID], [StartDatetime], [TradeID], [Endorsements], [Load], [Refer], [MaxDepth], [MaxHeight]) VALUES (1, CAST(N'2014-04-10T00:00:00.000' AS DateTime), N'3N0TV739', N'TMKCAR03,TMKCAR04', CAST(1.000000 AS Numeric(18, 6)), 0, NULL, NULL)
INSERT [dbo].[SchemeContractorsPlantAndEquipmentTokioMarineKilnTrade] ([SchemeContractorsPlantAndEquipmentTokioMarineKilnTradeID], [StartDatetime], [TradeID], [Endorsements], [Load], [Refer], [MaxDepth], [MaxHeight]) VALUES (2, CAST(N'2014-04-10T00:00:00.000' AS DateTime), N'3N0TV749', N'TMKCAR03,TMKCAR04', CAST(1.000000 AS Numeric(18, 6)), 0, NULL, NULL)
INSERT [dbo].[SchemeContractorsPlantAndEquipmentTokioMarineKilnTrade] ([SchemeContractorsPlantAndEquipmentTokioMarineKilnTradeID], [StartDatetime], [TradeID], [Endorsements], [Load], [Refer], [MaxDepth], [MaxHeight]) VALUES (3, CAST(N'2014-04-10T00:00:00.000' AS DateTime), N'3N0TV7C9', N'TMKCAR03,TMKCAR04', CAST(1.000000 AS Numeric(18, 6)), 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SchemeContractorsPlantAndEquipmentTokioMarineKilnTrade] OFF
GO
