USE [Transactor_Live]
GO
/****** Object:  StoredProcedure [Moorhouse].[uspGetMultipleCustomerQuotesPoliciesByPolicyId]    Script Date: 21/02/2025 07:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- =============================================
-- Author:		Jeremai Smith, Sonny lloyd
-- Create date: 27/08/2020
-- Description: Returns all quotes and policies for a list of Insured IDs(based on [Moorhouse].[uspGetMultipleCustomerQuotesPoliciesByPolicyId])
-- =============================================

-- Date			Who						Change
-- 18/01/2024	Adam Copner				If the status of the policy is Renewal Requested (3AJPUL79) then the premium excludes the admin fee
-- 20/02/2025	Jeremai Smith			Replace the Renewal Invite with the Alternative Quote if one exists (Monday.com ticket 8504397109)


ALTER PROCEDURE [Moorhouse].[uspGetMultipleCustomerQuotesPoliciesByPolicyId] (
	 @InsuredPartyIDs varchar(MAX)
	,@AgentIDs varchar(MAX)
	,@PolicyStatusIDs varchar(MAX)
	,@PolicyID varchar(MAX)
	,@PolicyHID int = null
)

/*

DECLARE	@InsuredPartyIDs varchar(MAX)
DECLARE @AgentIDs varchar(MAX)
DECLARE @PolicyStatusIDs varchar(MAX)
DECLARE @PolicyID varchar(MAX)
DECLARE @PolicyHID int

SET @InsuredPartyIDs = '05D78C0049DE41D6856373B497B95793'
SET @AgentIDs = 'E2F376B621E14C1FB532CED74C7EDCE1,5208F39A498E4706A91BEEC84ED25686' -- Constructaquote, Constructaquote.com
SET @PolicyStatusIDs = '3AJPUL66,3AJPUL60,3AJPUL67,3AU9IQ25,3AJPUL68,3AJPUL69,3AJPUL75,3AJPUL76,3AJPUL77' -- Internet Quote, Policy, Prospect, Automatic Decline, Manual Decline, Automatic Refer, Manual Refer, Client Decline, Incomplete
SET @PolicyID = 'MMATL1076368'
SET @PolicyHID = 3
EXEC [Moorhouse].[uspGetMultipleCustomerQuotesPoliciesByPolicyId] @InsuredPartyIDs, @AgentIDs, @PolicyStatusIDs, @PolicyID, @PolicyHID

*/

AS

SELECT
	 [CPD].[POLICY_DETAILS_ID]
	,CASE
		WHEN @PolicyHID IS NULL OR @PolicyStatusIDs = '3AJPUL79' THEN [CPD].[HISTORY_ID] -- Use original Renewal Invite history ID
		ELSE ISNULL([AQ].[HISTORY_ID], [CPD].[HISTORY_ID])
	 END AS [HISTORY_ID]
	,[CPL].[INSURED_PARTY_ID]
	,[CPL].[INSURED_PARTY_HISTORY_ID]
	,[CPD].[PRODUCT_ID]
	,[CPD].[POLICY_STATUS_ID]
	,[LPS].[POLICY_STATUS_DEBUG]
	,CONVERT(VARCHAR, [CREATEDDATE], 103) AS [CREATEDDATE]
	,CONVERT(VARCHAR, [POLICYSTARTDATE], 103) AS [STARTDATE]
	,ISNULL([AQ].[PREMIUMINCAPR], [CPD].[PREMIUMINCAPR]) AS [PREMIUMINCAPR]
	,CASE
		WHEN [CPD].[POLICY_STATUS_ID] = '3AJPUL79' -- Renewal Requested
			THEN (SELECT SUM([PREMIUM]) FROM [CUSTOMER_PREMIUM]
				  WHERE ([POLICY_DETAILS_ID] = [CPD].[POLICY_DETAILS_ID] AND [HISTORY_ID] = [CPD].[HISTORY_ID]) 
				  AND ([PREMIUM_TYPE_ID] = 'NET' OR [PREMIUM_TYPE_ID] LIKE '%DISC%' OR [PREMIUM_SECTION_ID] LIKE 'TAX%')
				  )
		ELSE ISNULL([AQ].[PREMIUM], [CPD].[PREMIUM])
	 END AS [PREMIUM]
	,(SELECT SUM([PREMIUM]) FROM [CUSTOMER_PREMIUM]
	  WHERE ([POLICY_DETAILS_ID] = [CPD].[POLICY_DETAILS_ID] AND [HISTORY_ID] = ISNULL([AQ].[HISTORY_ID], [CPD].[HISTORY_ID])) 
	  AND ([PREMIUM_TYPE_ID] = 'NET' OR [PREMIUM_TYPE_ID] LIKE '%DISC%' OR [PREMIUM_SECTION_ID] LIKE 'TAX%')
	 ) + ISNULL([AQ].[ADMINFEE], [CPD].[ADMINFEE]) AS [SUMMARYPREMIUM]
	,ISNULL([AQ].[POLICYNUMBER], [CPD].[POLICYNUMBER]) AS [POLICYNUMBER]
	,ISNULL([AQ].[CURRENCY_ID], [CPD].[CURRENCY_ID]) AS [CURRENCY_ID]
	,ISNULL([AQ].[CODE], [SAC].[CODE]) AS [CODE]
	,ISNULL([AQ].[CURRENCY_FORMAT], [SAC].[CURRENCY_FORMAT]) AS [CURRENCY_FORMAT]
	,COALESCE([AQ].[SCHEMENAME], [SRS].[SCHEMENAME] ,'') + ' - ' + COALESCE([AQ].[INSURER_DEBUG], [SI].[INSURER_DEBUG],'') AS [SCHEMEINSURER]
	,COALESCE([AQ].[SCHEMENAME], [SRS].[SCHEMENAME] ,'') AS [SCHEMENAME]
	,COALESCE([AQ].[INSURER_DEBUG], [SI].[INSURER_DEBUG], '') AS [INSURER]
	,ISNULL([AQ].[SCHEMETABLE_ID], [CPD].[SCHEMETABLE_ID]) AS [SCHEMETABLE_ID]
	,ISNULL([AQ].[PRODUCTTYPE_ID], [SRP].[PRODUCTTYPE_ID]) AS [PRODUCTTYPE]
	,ISNULL([AQ].[FULLNAME], [SSP].[FULLNAME]) AS [CREATEDBY]
	,ISNULL([AQ].[MARKETINGREFERENCE], [CPD].[MARKETINGREFERENCE]) AS [MARKETINGREFERENCE]
	,ISNULL([AQ].[AGENT_ID], [CPD].[AGENT_ID]) AS [AGENT_ID]
	,ISNULL([AQ].[INSURER_ID], [CPD].[INSURER_ID]) AS [INSURER_ID]
	,[RP].[NAME] AS [PRODUCTNAME]
	,[CPD].[POLICY_DETAILS_ID] + '-' + CAST(ISNULL([AQ].[HISTORY_ID], [CPD].[HISTORY_ID]) AS varchar(10)) AS [UNIQUE_ID]
FROM 
	[dbo].[CUSTOMER_INSURED_PARTY] AS [CIP] WITH(NOLOCK)
	INNER JOIN [dbo].[CUSTOMER_POLICY_LINK] AS [CPL] WITH(NOLOCK) ON [CPL].[INSURED_PARTY_ID] = [CIP].[INSURED_PARTY_ID] AND [CPL].[INSURED_PARTY_HISTORY_ID] = [CIP].[HISTORY_ID]
	INNER JOIN [dbo].[CUSTOMER_POLICY_DETAILS] AS [CPD] WITH(NOLOCK) ON [CPL].[POLICY_DETAILS_ID] = [CPD].[POLICY_DETAILS_ID] AND [CPL].[POLICY_DETAILS_HISTORY_ID] = [CPD].[HISTORY_ID]
	INNER JOIN [dbo].[tvfSplitStringByDelimiter] (@InsuredPartyIDs, ',') AS [INS] ON [CIP].[INSURED_PARTY_ID] = [INS].[Data]
	INNER JOIN [dbo].[tvfSplitStringByDelimiter] (@AgentIDs, ',') AS [A] ON [CPD].[AGENT_ID] = [A].[Data]
	INNER JOIN [dbo].[tvfSplitStringByDelimiter] (@PolicyStatusIDs, ',') AS [PS] ON [CPD].[POLICY_STATUS_ID] = [PS].[Data]
	INNER JOIN [dbo].[RM_PRODUCT_BY_AGENT] AS [SRP] WITH(NOLOCK) ON [SRP].[PRODUCT_ID] = [CPD].[PRODUCT_ID] AND [SRP].[AGENT_ID] = [CPD].[AGENT_ID]
	INNER JOIN [dbo].[SYSTEM_ACCOUNTS_CURRENCY] AS [SAC] WITH(NOLOCK) ON [SAC].[CURRENCY_ID] = [CPD].[CURRENCY_ID]
	LEFT JOIN [dbo].[SYSTEM_INSURER] AS [SI] WITH(NOLOCK) ON [SI].[INSURER_ID] = [CPD].[INSURER_ID]
	LEFT JOIN [dbo].[LIST_POLICY_STATUS] AS [LPS] WITH(NOLOCK) ON [LPS].[POLICY_STATUS_ID] = [CPD].[POLICY_STATUS_ID]
	LEFT JOIN [dbo].[SYSTEM_SCHEME_NAME] AS [SRS] WITH(NOLOCK) ON [SRS].[SCHEMETABLE_ID] = [CPD].[SCHEMETABLE_ID] AND [SRS].[PRODUCTTYPE] = [SRP].[PRODUCTTYPE_ID]
	LEFT JOIN [dbo].[SYSTEM_SECURITY_PROFILE] AS [SSP] WITH(NOLOCK)	ON [SSP].[PROFILE_ID] = [CPD].[CREATEDBY]
	LEFT JOIN [dbo].[RM_PRODUCT] AS [RP] WITH(NOLOCK) ON [RP].[PRODUCTTYPE_ID] = [SRP].[PRODUCTTYPE_ID]
	OUTER APPLY (SELECT TOP 1 -- There should only ever be 1 Alternative Quote anyway
				  [CPD_AQ].[HISTORY_ID]
				 ,[CPD_AQ].[POLICYNUMBER]
				 ,[CPD_AQ].[PREMIUMINCAPR]
				 ,[CPD_AQ].[PREMIUM]
				 ,[CPD_AQ].[ADMINFEE]
				 ,[CPD_AQ].[CURRENCY_ID]
				 ,[CPD_AQ].[SCHEMETABLE_ID]
				 ,[SRS_AQ].[SCHEMENAME]
				 ,[SAC_AQ].[CODE]
				 ,[SAC_AQ].[CURRENCY_FORMAT]
				 ,[SRP_AQ].[PRODUCTTYPE_ID]
				 ,[SI_AQ].[INSURER_DEBUG]
				 ,[SSP_AQ].[FULLNAME]
				 ,[CPD_AQ].[MARKETINGREFERENCE]
				 ,[CPD_AQ].[AGENT_ID]
				 ,[CPD_AQ].[INSURER_ID]
				 FROM [dbo].[CUSTOMER_POLICY_DETAILS] AS [CPD_AQ] WITH(NOLOCK)
				 INNER JOIN [dbo].[SYSTEM_ACCOUNTS_CURRENCY] AS [SAC_AQ] WITH(NOLOCK) ON [SAC_AQ].[CURRENCY_ID] = [CPD_AQ].[CURRENCY_ID]
				 INNER JOIN [dbo].[RM_PRODUCT_BY_AGENT] AS [SRP_AQ] WITH(NOLOCK) ON [SRP_AQ].[PRODUCT_ID] = [CPD_AQ].[PRODUCT_ID] AND [SRP_AQ].[AGENT_ID] = [CPD_AQ].[AGENT_ID]
				 LEFT JOIN [dbo].[SYSTEM_INSURER] AS [SI_AQ] WITH(NOLOCK) ON [CPD_AQ].[INSURER_ID] = [SI_AQ].[INSURER_ID]	
				 LEFT JOIN [dbo].[SYSTEM_SCHEME_NAME] AS [SRS_AQ] WITH(NOLOCK) ON [SRS_AQ].[SCHEMETABLE_ID] = [CPD_AQ].[SCHEMETABLE_ID] AND [SRS_AQ].[PRODUCTTYPE] = [SRP_AQ].[PRODUCTTYPE_ID]
				 LEFT JOIN [dbo].[SYSTEM_SECURITY_PROFILE] AS [SSP_AQ] WITH(NOLOCK)	ON [SSP_AQ].[PROFILE_ID] = [CPD_AQ].[CREATEDBY]
				 WHERE [CPD].[POLICY_DETAILS_ID] = [CPD_AQ].[POLICY_DETAILS_ID] AND [CPD_AQ].[HISTORY_ID] >= [CPD].[HISTORY_ID]
				 AND [CPD].[POLICY_STATUS_ID] = '3AJPUL79' -- Renewal Invited
				 AND [CPD_AQ].[POLICY_STATUS_ID] = '3EN12JM3' -- Alternative Quote
				 ) AS [AQ] -- Alternative Quote (if one exists) replaces the Renewal Invite row
WHERE
	[CPD].[PURGEDYN] = 0
	AND [CPD].[POLICYNUMBER] = (@PolicyID)
	AND (@PolicyHID IS NULL OR @PolicyHID = [CPD].[HISTORY_ID])
	AND ([CPD].[INSURER_ID] NOT IN ('209', '236', '240', '7', 'AXAL') OR [CPD].[POLICY_STATUS_ID] <> '3AJPUL79') -- Exclude Renewal Invites for AXA
;