USE [Product]
GO
/****** Object:  Table [QuestionSet].[T_tvfComparatorValueFunction]    Script Date: 3/19/2018 12:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QuestionSet].[T_tvfComparatorValueFunction](
	[ComparatorValueFunctionID] [varchar](50) NULL,
	[ValueOrID] [varchar](1000) NULL
) ON [PRIMARY]

GO
